public/examples/commands_ruby_inline.yml
id: ruby_commands
namespace: company.team
tasks:
  - id: http_download
    type: io.kestra.plugin.core.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

  - id: run_ruby
    type: io.kestra.plugin.scripts.ruby.Commands
    inputFiles:
      orders.csv: "{{ read(outputs.http_download.uri) }}"
      main.rb: |
        puts "The current execution is {{ execution.id }}"

        # Read the file downloaded in `http_download` task
        lines = File.readlines("orders.csv")
        puts lines
    commands:
      - ruby main.rb
