public/examples/flows_subflow.yml
id: subflow
namespace: io.kestra.demo

description: This flow will launch a subflow passing parameters as `inputs`, wait until the end of the execution and gather the output of a task.

inputs:
  - id: string
    type: STRING

tasks:
  - id: launch
    type: io.kestra.core.tasks.flows.Subflow
    namespace: io.kestra.demo
    flowId: switch
    inputs:
      string: "{{ inputs.string }}"
    wait: true
    transmitFailed: true
    outputs:
      extracted: "{{ outputs.first.value ?? outputs.second1.value ?? outputs.third1.value ?? outputs.default.value }}"