public/examples/outputs_perl_usage.yml
id: perl_outputs
namespace: company.team

tasks:
  - id: perl
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: perl:latest
    inputFiles: 
      main.pl: |
        #!/usr/bin/perl
        print '::{"outputs":{"test":"value","int":2,"bool":true,"float":3.65}}::';
    commands:
      - chmod +x main.pl
      - perl main.pl

  - id: return
    type: io.kestra.plugin.core.debug.Return
    format: '{{ outputs.perl.vars.test }}'
