public/examples/scripts_ruby.yml
id: ruby_script
namespace: company.team
description: This flow runs the Ruby script.

tasks:
  - id: http_download
    type: io.kestra.plugin.core.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

  - id: ruby_script_task
    type: io.kestra.plugin.scripts.ruby.Script
    script: |
      puts "The current execution is {{ execution.id }}"

      # Read the file downloaded in `http_download` task
      lines = File.readlines("{{ outputs.http_download.uri }}")
      puts lines
