public/examples/scripts_julia.yml
id: julia_script
namespace: company.team
description: This flow runs the Julia script.

tasks:
  - id: http_download
    type: io.kestra.plugin.core.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

  - id: julia_script_task
    type: io.kestra.plugin.scripts.julia.Script
    script: |
      println("The current execution is {{ execution.id }}")

      # Read the file downloaded in `http_download` task
      lines = readlines("{{ outputs.http_download.uri }}")
      println(lines)
