public/examples/scripts_output-files-rust.yml
id: rust_script
namespace: company.team

tasks:
  - id: rust
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: rust:latest
    inputFiles:
      main.rs: |
        use std::fs::File;
        use std::io::Write; // For the `write_all` method
        
        fn main() -> std::io::Result<()> {
            // Create or open the file `output.txt` in write mode
            let mut file = File::create("output.txt")?;
        
            // Write the string "Hello, World" to the file
            file.write_all(b"Hello World")?;
        
            // Confirm successful write operation
            println!("Successfully wrote to the file.");
        
            Ok(())
        }
    outputFiles:
      - output.txt
    commands:
      - rustc main.rs && ./main

  - id: read_file
    type: io.kestra.plugin.core.log.Log
    message: "{{ read(outputs.rust.outputFiles['output.txt']) }}"
