public/examples/scripts_output-files-perl.yml
id: perl_script
namespace: company.team

tasks:
  - id: perl
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: perl:latest
    inputFiles:
      main.pl: |
        #!/usr/bin/perl
        use strict;
        use warnings;
        
        # Open the file for writing
        open(my $fh, '>', 'output.txt') or die "Cannot open file: $!";
        
        # Write to the file
        print $fh "Hello World";
        
        # Close the file
        close($fh);
        
        print "Successfully wrote to the file.\n";
    outputFiles:
      - output.txt
    commands:
      - chmod +x main.pl
      - perl main.pl

  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "{{ read(outputs.perl.outputFiles['output.txt']) }}"
