src/contents/vs-pages/morpheus.yaml
title: "Kestra vs. HPE Morpheus: Declarative Orchestration vs. Hybrid Cloud Management"
description: "Compare Kestra vs HPE Morpheus: open-source declarative workflow orchestration in YAML vs. proprietary hybrid cloud management platform. See features, setup, and when to choose each."
competitorName: HPE Morpheus

intro:
  title: "Kestra vs. HPE Morpheus: Declarative Orchestration vs. Hybrid Cloud Management"
  description: "HPE Morpheus is a hybrid cloud management platform that centralizes provisioning, monitoring, and cost governance behind a self-service portal. Kestra is an open-source orchestration engine that lets any engineer define, version, and deploy workflows in YAML. Different tools, different jobs."

philosophy:
  mainTitle: Orchestration Engine vs. Cloud Management Platform
  kestra:
    title: "Purpose-Built Workflow Orchestration"
    description: "Declarative YAML workflows versioned in Git, executed in isolated containers, deployed through CI/CD. Orchestrate data pipelines, infrastructure automation, business processes, and AI workflows from one platform. Any engineer can build and ship workflows without waiting on a platform team."
    subCardText: '"How do we let every team build, version, and ship workflows across data, infrastructure, and business processes?"'
  competitor:
    title: Unified Hybrid Cloud Management
    description: "HPE Morpheus provides a single pane of glass for provisioning, managing, and governing infrastructure across private and public clouds. Self-service catalogs, built-in CMDB, cost analytics, and brownfield discovery are bundled into one proprietary platform managed by a cloud operations team."
    shadowColor: "#3DB5E6"
    subCardBg: "var(--ks-background-blue-light)"
    subCardText: '"How do we give developers a self-service portal for VMs, containers, and apps across every cloud while keeping costs and compliance in check?"'

businessValue:
  mainTitle: "Workflow Orchestration vs. Cloud Operations Portal"
  kestra:
    title: Open-Source Orchestration
    list:
      - "Data pipelines, infrastructure automation, business processes, and AI workflows in one platform"
      - "Any engineer ships workflows in YAML through Git and CI/CD"
      - "Event-driven at core: react to webhooks, file uploads, messages, and API events"
      - "Open source with 1200+ plugins, transparent pricing, and no vendor lock-in"
      - "Self-service for non-engineers via Kestra Apps with dynamic forms and approvals"
  competitor:
    title: Hybrid Cloud Management
    list:
      - "Unified provisioning and lifecycle management across AWS, Azure, GCP, VMware, and bare metal"
      - "Built-in CMDB, monitoring, logging, and cost optimization in one platform"
      - "Self-service catalog for VMs, containers, Kubernetes clusters, and applications"
      - "Brownfield discovery automatically imports existing infrastructure into the platform"
      - "Proprietary licensing with per-workload pricing"
    shadowColor: "#3DB5E6"
    bulletColor: "#3DB5E6"
  footerText: "HPE Morpheus is the right choice when your primary need is a unified cloud management portal with provisioning, CMDB, cost governance, and brownfield discovery across hybrid infrastructure. Kestra is the right choice when you need a general-purpose orchestration engine for workflows that span data pipelines, infrastructure operations, business processes, and AI — versioned in Git and deployed through CI/CD."

setupSpeed:
  title: Time to First Workflow
  subtitle: "HPE Morpheus requires deploying an appliance, connecting cloud endpoints, configuring service plans and groups, and setting up the self-service catalog before users can provision anything. Kestra's single Docker Compose command stands up a production-shaped environment in minutes."
  kestra:
    title:
      one: "~5"
      two: Minutes
    description: "Download the Docker Compose file, spin it up, and you're ready (database and config included). Open the UI, pick a Blueprint, run it."
    command: |
      curl -o docker-compose.yml \
      https://raw.githubusercontent.com/kestra-io/kestra/develop/docker-compose.yml
      docker compose up

      # Open localhost:8080
      # Pick a Blueprint, run it. Done.
    lang: sh
  competitor:
    title:
      one: "Hours to"
      two: Days
    description: "Production deployment requires installing the HPE Morpheus appliance (Ubuntu/CentOS VM or AWS AMI), configuring the embedded MySQL and Elasticsearch services, connecting cloud endpoints (AWS, Azure, vCenter), defining groups, service plans, and provisioning policies. The self-service catalog needs instance types, layouts, and node types configured before users can provision resources."
    shadowColor: "#3DB5E6"
    command: |
      # 1. Deploy HPE Morpheus appliance (VM or AMI)
      sudo rpm -i morpheus-appliance-x.x.x.el8.x86_64.rpm
      sudo morpheus-ctl reconfigure

      # 2. Access the HPE Morpheus UI at https://<appliance-ip>
      # 3. Add cloud endpoints (AWS, Azure, vCenter, etc.)
      # 4. Configure groups, service plans, and policies
      # 5. Define instance types, layouts, and node types
      # 6. Set up the self-service catalog
      # 7. Create users, roles, and tenants
    lang: sh

easeOfUse:
  title: YAML Workflows vs. GUI-Driven Provisioning
  kestra:
    title: "Kestra: Any engineer, any language"
    description: "YAML is readable on day 1. Our docs are embedded in the UI for easy reference, the <a href='/docs/ai-tools/ai-copilot' target='_blank'>AI Copilot</a> writes workflows for you, or start with our library of Blueprints. Engineers deploy through Git, same as application code."
    code: |
      id: cloud_provision
      namespace: infra.cloud

      inputs:
        - id: cloud_provider
          type: SELECT
          values: [aws, azure, gcp]
        - id: instance_type
          type: STRING
        - id: environment
          type: SELECT
          values: [dev, staging, prod]

      tasks:
        - id: request_approval
          type: io.kestra.plugin.core.flow.Pause
          onResume:
            - id: approved_by
              type: STRING

        - id: provision
          type: io.kestra.plugin.terraform.cli.TerraformCLI
          commands:
            - terraform init
            - terraform apply -auto-approve
          env:
            TF_VAR_provider: "{{ inputs.cloud_provider }}"
            TF_VAR_instance: "{{ inputs.instance_type }}"
            TF_VAR_env: "{{ inputs.environment }}"

        - id: configure
          type: io.kestra.plugin.ansible.cli.AnsibleCLI
          commands:
            - ansible-playbook setup.yml
              -i "{{ outputs.provision.vars.ip }}"

        - id: register_cmdb
          type: io.kestra.plugin.core.http.Request
          uri: "https://cmdb.internal/api/assets"
          method: POST
          body: |
            {"ip": "{{ outputs.provision.vars.ip }}", "env": "{{ inputs.environment }}"}
    lang: yaml
  competitor:
    title: "Morpheus: GUI-driven provisioning"
    description: "HPE Morpheus provides a rich web UI for provisioning and managing infrastructure. Instance types, layouts, and node types are configured in the GUI or via the API. Morpheus supports Terraform, ARM, CloudFormation, and Helm as spec templates, but orchestration logic is defined through the task engine UI or API calls rather than declarative code files."
    shadowColor: "#3DB5E6"
    code: |
      {
        "instance": {
          "name": "web-server-prod",
          "instanceType": { "code": "ubuntu" },
          "layout": { "code": "ubuntu-22.04-single" },
          "plan": { "code": "vm-1024" }
        },
        "group": { "id": 1 },
        "cloud": { "id": 3 },
        "config": {
          "resourcePoolId": 42,
          "noAgent": false,
          "customOptions": {
            "environment": "prod",
            "department": "engineering"
          }
        },
        "volumes": [
          {
            "rootVolume": true,
            "size": 50,
            "storageType": 1
          }
        ],
        "networkInterfaces": [
          { "network": { "id": 5 } }
        ]
      }
    lang: json

visualPreview:
  mainTitle: Open Orchestration vs. Proprietary Cloud Portal
  kestra:
    description: "Orchestrate data pipelines, infrastructure operations, business processes, and AI workflows from a single open-source platform. Event-driven at its core, with native triggers for S3, webhooks, Kafka, database changes, and API events. 1200+ open-source plugins."
  competitor:
    description: "HPE Morpheus unifies provisioning, monitoring, logging, CMDB, cost management, and governance for hybrid and multi-cloud environments. Strong brownfield discovery and lifecycle management across AWS, Azure, GCP, VMware, OpenStack, and bare metal. Proprietary platform with per-workload licensing."
    shadowColor: "#3DB5E6"

featureGrid:
  title: Kestra vs. HPE Morpheus at a Glance
  tableData:
    - feature: Primary purpose
      kestra: Workflow orchestration across data, infra, business, and AI
      competitor: "Hybrid cloud management, provisioning, and governance"
    - feature: Workflow definition
      kestra: Declarative YAML (Git-native)
      competitor: "GUI-driven tasks, API calls, or spec templates (Terraform, ARM, CloudFormation)"
    - feature: Architecture
      kestra: Event-driven orchestration engine
      competitor: "Cloud management platform with provisioning, CMDB, and cost analytics"
    - feature: Deployment model
      kestra: "Single Docker Compose (self-hosted or Kestra Cloud)"
      competitor: "HPE Morpheus appliance (VM or AMI) with embedded services"
    - feature: Licensing
      kestra: "Open source (Enterprise tier available)"
      competitor: "Proprietary (per-workload pricing)"
    - feature: Self-service provisioning
      kestra: "Kestra Apps with dynamic forms, approvals, and RBAC"
      competitor: "Built-in self-service catalog with policies and approvals"
    - feature: CMDB
      kestra: "Via integrations (ServiceNow, HTTP API)"
      competitor: "Built-in CMDB with brownfield discovery"
    - feature: Cost management
      kestra: "Not a primary use case"
      competitor: "Built-in cost analytics, budgets, and optimization recommendations"
    - feature: IaC support
      kestra: "Native Terraform, Ansible, PowerShell, Pulumi plugins"
      competitor: "Terraform, ARM, CloudFormation, Helm as spec templates"
    - feature: Event-driven triggers
      kestra: "Webhooks, schedules, S3, Kafka, database changes, flow triggers"
      competitor: "API-driven and schedule-based; no native event stream triggers"
    - feature: Brownfield discovery
      kestra: "Not a primary use case"
      competitor: "Automatic import and management of existing cloud resources"

socialProof:
  image:
    alt: Enterprise team modernizing with Kestra
    width: 333
    height: 364
  quote:
    text: "We needed orchestration that went beyond provisioning VMs. With Kestra, our teams build workflows that span data ingestion, infrastructure operations, and business processes — all in YAML, all in Git, all visible. It replaced three separate tools."
    author: "Head of Platform Engineering @ Enterprise SaaS Company"
  metrics:
    - value: "3x"
      label: Faster workflow delivery
    - value: "1"
      label: Platform for data, infra, and business workflows
    - value: "70%"
      label: Reduction in manual operations
  cta:
    text: "See how enterprises modernize IT automation with Kestra"
    link: /use-cases/stories/28-governed-selfservice-cloud-automation-in-regulated-environments-with-kestra
  theme: "var(--ks-special-green)"

platformStrengths:
  title: Kestra Is Built for How Modern Teams Work
  features:
    - title: Orchestration, not just provisioning
      description: "HPE Morpheus excels at provisioning and managing cloud resources. But modern teams need to orchestrate workflows that span data pipelines, infrastructure operations, business processes, and AI. Kestra is purpose-built for this: a single platform where a Terraform apply, a dbt run, an API call, and a Slack notification live in one declarative YAML flow."
    - title: Open source, transparent pricing
      description: "Kestra's open-source core is free with 1200+ plugins and unlimited event-driven workflows. Enterprise features (RBAC, SSO, audit logs, multi-tenancy) are available without per-workload metering. HPE Morpheus uses proprietary per-workload licensing that scales with the number of managed instances."
    - title: Event-driven from the start
      description: "Kestra was built event-driven from day one: webhooks, S3 uploads, Kafka messages, database changes, and API events are first-class YAML triggers. HPE Morpheus focuses on catalog-driven provisioning and scheduled tasks. When your automation needs to react to real-time events across systems, Kestra's architecture is purpose-built for it."

decisionGuide:
  mainTitle: The Right Tool for the Right Job
  kestra:
    title: Choose Kestra When
    list:
      - "You need a general-purpose orchestration engine for workflows spanning data, infrastructure, business processes, and AI."
      - "Developers should own their workflows in YAML and Git, not depend on a cloud ops team."
      - "Event-driven automation is critical: reacting to webhooks, file uploads, messages, and API events in real time."
      - "Open source and transparent pricing matter. No per-workload fees, no proprietary lock-in."
      - "Non-engineers need to trigger and monitor workflows through self-service Apps without learning a new platform."
  competitor:
    title: Choose HPE Morpheus When
    list:
      - "You need a unified cloud management platform with provisioning, CMDB, monitoring, and cost governance in one tool."
      - "Brownfield discovery is a priority — you need to import and manage existing cloud resources automatically."
      - "A self-service provisioning catalog for VMs, containers, and applications is the primary requirement."
      - "Built-in cost analytics, budget enforcement, and optimization recommendations are essential for your cloud strategy."
      - "You manage infrastructure across VMware, AWS, Azure, GCP, OpenStack, and bare metal and need one operational console."
    shadowColor: "#3DB5E6"
    bulletColor: "#3DB5E6"

commonQuestions:
  - question: How is Kestra different from HPE Morpheus?
    answer: "Kestra is a workflow orchestration engine — it coordinates tasks across systems using declarative YAML workflows versioned in Git. HPE Morpheus is a hybrid cloud management platform that bundles provisioning, CMDB, monitoring, cost management, and governance into one portal. Kestra orchestrates what happens (data pipelines, infrastructure tasks, business logic, AI workflows). Morpheus manages where it runs (cloud resources, VMs, containers, cost). They solve fundamentally different problems."
  - question: Can Kestra replace HPE Morpheus for cloud provisioning?
    answer: "Kestra can orchestrate cloud provisioning using Terraform, Ansible, and cloud-native CLI plugins, and it can provide self-service forms through Kestra Apps. However, Kestra does not include built-in CMDB, brownfield discovery, cost analytics, or cloud resource lifecycle management. If provisioning is just one step in a larger workflow (provision, configure, test, deploy, notify), Kestra is the better fit. If you need a full cloud management platform, Morpheus covers more of that surface."
  - question: Does Kestra support the same cloud providers as HPE Morpheus?
    answer: "Kestra's 1200+ plugin library covers AWS, Azure, GCP, and Kubernetes natively. For VMware vSphere, OpenStack, and bare metal — where Morpheus has deep integrations — Kestra orchestrates through Terraform providers and CLI tools rather than native connectors. Both platforms support multi-cloud, but HPE Morpheus provides a management layer over the infrastructure while Kestra provides an orchestration layer for workflows that use it."
  - question: How does Kestra handle self-service compared to Morpheus?
    answer: "Morpheus offers a built-in self-service catalog where users pick from pre-configured instance types, layouts, and service plans with policy enforcement. Kestra Apps provide dynamic forms backed by live data (API calls, database queries) with inline approval gates and RBAC per namespace. Morpheus is more turnkey for VM and container provisioning catalogs. Kestra Apps are more flexible for any workflow — provisioning, data requests, incident response, business approvals — because the form is just an input to a YAML workflow."
  - question: Morpheus has a built-in CMDB. What does Kestra offer?
    answer: "Kestra does not include a built-in CMDB. Kestra integrates with external CMDBs like ServiceNow, or any system with an API, through HTTP Request tasks and dedicated plugins. If you need Kestra to register newly provisioned resources in a CMDB, that is a task in your YAML workflow. HPE Morpheus's built-in CMDB with brownfield discovery is a genuine differentiator for teams that need asset inventory and lifecycle management without a separate tool."
  - question: How does pricing compare between Kestra and Morpheus?
    answer: "Kestra's open-source edition is free with 1200+ plugins and unlimited workflows. Enterprise features (RBAC, SSO, audit logs, multi-tenancy) are available on Kestra Enterprise and Kestra Cloud with transparent pricing. HPE Morpheus uses proprietary per-workload licensing based on the number of managed instances. As your infrastructure scales, Morpheus costs grow with workload count while Kestra pricing is based on compute infrastructure."
  - question: Can Kestra and Morpheus work together?
    answer: "Yes. Some organizations use Morpheus as the cloud management and provisioning layer while Kestra orchestrates higher-level workflows that span data pipelines, infrastructure operations, and business processes. Kestra can trigger Morpheus API calls to provision resources as a step in a larger workflow, then continue with configuration, testing, deployment, and notification steps that Morpheus does not handle."
  - question: How hard is it to migrate from HPE Morpheus to Kestra?
    answer: "The migration depends on what you use Morpheus for. If Morpheus primarily orchestrates provisioning tasks, those translate well to Kestra YAML workflows with Terraform and Ansible plugins. HPE Morpheus's CMDB, cost analytics, and monitoring capabilities would need to be replaced with dedicated tools (ServiceNow, CloudHealth, Datadog). Most teams start by building new workflows in Kestra while keeping Morpheus for cloud management, then gradually shift orchestration logic over."
  - question: Does Kestra support brownfield infrastructure discovery?
    answer: "No. Brownfield discovery — automatically importing and managing existing cloud resources — is not a Kestra feature. This is a core Morpheus capability. Kestra can query cloud APIs to discover resources as part of a workflow (e.g., list all untagged EC2 instances and apply tags), but it does not maintain a persistent inventory of discovered infrastructure the way Morpheus does."
  - question: Which tool is better for cost management?
    answer: "Morpheus includes built-in cost analytics, budget enforcement, and optimization recommendations across clouds. Kestra does not provide cost management features. If cost governance is a primary concern, Morpheus or a dedicated FinOps tool (CloudHealth, Kubecost, Vantage) is the right choice. Kestra can orchestrate cost-related workflows — like shutting down unused resources on a schedule — but it does not track or analyze cloud spending."
  - question: How does Kestra's event-driven architecture compare to Morpheus?
    answer: "Kestra was built event-driven from the start. Webhooks, S3 uploads, Kafka messages, database changes, and API events are first-class YAML triggers with unlimited event-driven workflows in open source. HPE Morpheus focuses on catalog-driven provisioning and scheduled tasks. It supports API-driven automation and can respond to monitoring alerts, but it lacks native event stream triggers for Kafka, SQS, or Pulsar. If your automation needs to react to real-time events across systems, Kestra is purpose-built for it."
