src/contents/orchestration/ansible.yaml
title: "Orchestrate Ansible with Kestra: drift detection, rolling waves, dynamic inventory"
description: "Drive ansible-playbook from cron and events, gate wave promotion, parse per-host results via the Kestra callback, and chain with Terraform and ServiceNow."

tool:
  name: "Ansible"
  pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
  color: "#EE0000"

hero:
  title: "Add state, gates, and visibility to Ansible."
  description: "Run ansible-playbook from cron, webhooks, or any HTTP signal. Add step-level retries, parsed per-host results via the Kestra callback, approval gates between waves, and chain Ansible with Terraform, NetBox, or ServiceNow in one execution history."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Replace Ansible Tower / AAP with a workflow engine that listens to cron, webhooks, or alerts, handles drift detection and rolling waves with per-host verification, and chains ansible-playbook with <a href='/orchestration/terraform'>Terraform</a>, <a href='/orchestration/netbox'>NetBox</a>, and <a href='/orchestration/servicenow'>ServiceNow</a>. Drop the AAP subscription; halt a wave at the first failed health probe."

pillars:
  title: "Around every playbook, every host, every wave."
  subtitle: "What Kestra wraps around your Ansible runs: when playbooks fire, what comes back per host through the callback, who approves the next wave, and where the audit lives. Your playbooks, roles, inventory, and Vault stay where they are."
  items:
    - icon: "mdi:lightning-bolt-outline"
      title: "Schedule and event triggers wrapped around ansible-playbook"
      description: "Native cron, fixed intervals, webhooks, S3 file arrivals, Kafka messages, and database row changes all fire <code>ansible-playbook</code> directly. The trigger payload reaches the flow as <code>trigger.body</code>, so the right host gets the right <code>--extra-vars</code> from a single execution. No AWX, no Tower, no EDA controller."
    - icon: "mdi:magnify-scan"
      title: "Check mode + diff mode as drift detection"
      description: "Run the playbook with <code>--check --diff</code> on a nightly schedule. The Kestra Ansible callback emits per-host changes, the flow surfaces only the hosts that drifted, and the diff lands in Slack. No enforcement, no surprises, the whole fleet audited overnight."
    - icon: "mdi:transit-connection-variant"
      title: "Inventory built at run time from Terraform, NetBox, or vCenter"
      description: "A <code>terraform output</code>, a NetBox API call, or <code>vmware.vcenter.ListVms</code> writes the inventory at the start of the flow. The next task templates it into <code>inventory.ini</code>. No stale static inventory file, no manual sync between source of truth and what Ansible reads."
    - icon: "mdi:format-list-bulleted-square"
      title: "Per-host results from the Kestra Ansible callback, iterable in YAML"
      description: "The Kestra Ansible callback emits structured per-host outputs after each play. A <code>ForEach</code> task loops over the hosts and branches on <code>changed</code>, <code>failed</code>, or any fact. Route alerts by tag, hand failing hosts to a remediation flow, or upload the play recap to S3."
    - icon: "mdi:server-network"
      title: "Rolling restarts with serial + health verification between batches"
      description: "Set <code>serial: 1</code> (or <code>10%</code>) in the play. The playbook runs against one batch at a time. Between batches, a Kestra HTTP probe checks the service is healthy. A failed probe halts the flow before the next batch, preserving the rest of the fleet."
    - icon: "mdi:history"
      title: "Replay any host from any past execution"
      description: "Every play, every host, every task output is stored per execution. Open last week's run, click into the failing host, replay that step against the same target. The original inventory, vars, and <code>ansible.cfg</code> are preserved with the run, so the replay matches the original conditions."

useCases:
  title: "How platform teams use Ansible and Kestra"
  subtitle: "Patterns infrastructure teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Drift detection"
      badgeIcon: "mdi:magnify-scan"
      title: "Nightly check-mode audit, alert only on drift"
      description: "Run the playbook with <code>--check --diff</code> against the fleet on a nightly schedule. The Kestra Ansible callback emits structured per-host output. A <code>ForEach</code> loops through hosts and posts a Slack alert only when a host comes back with <code>changed: true</code>. Clean runs stay quiet, the play recap stays attached to the execution for audit."
      flow:
        - node: "cron trigger"
          label: "nightly"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "ansible-playbook --check"
          label: "diff mode"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "ForEach host"
          label: "per-host change?"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "alert"
          label: "only on drift"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Check mode runs are non-destructive"
          description: "<code>--check</code> + <code>--diff</code> reports what would change without touching the host."
        - title: "Callback emits structured outputs"
          description: "The Kestra Ansible callback writes per-host JSON the flow can iterate with <code>ForEach</code>."
        - title: "Alert only on changed=true"
          description: "Keeps Slack quiet on clean nights, surfaces only the hosts that drifted."
        - title: "Full play recap stored per run"
          description: "Every nightly audit is timestamped, attributed, and replayable from the execution UI."
      signal: "Published as the <code>ansible-config-drift</code> blueprint in the Kestra catalog."
    - badge: "Rolling wave"
      badgeIcon: "mdi:server-network"
      title: "Rolling OS patch wave with serial + HTTP health probe between batches"
      description: "<code>ansible-playbook</code> with <code>serial: 1</code> patches one host at a time. Between batches, a Kestra <code>core.http.Request</code> task probes the application health endpoint. If the probe fails, the flow halts before the next batch and pages on-call. No half-broken fleet, no manual stop-the-pipeline."
      flow:
        - node: "patch window"
          label: "scheduled"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "ansible-playbook serial: 1"
          label: "one host at a time"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "ForEach host"
          label: "verify between batches"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "health probe"
          label: "halt on fail"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "notify"
          label: "Slack on halt"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "serial picks the batch size"
          description: "<code>serial: 1</code>, <code>serial: 10%</code>, or a mix. Ansible enforces the batching, Kestra runs the verify task per batch."
        - title: "HTTP probe gates the next batch"
          description: "<code>core.http.Request</code> with a retry policy decides whether the wave continues."
        - title: "Halt on failure preserves the rest of the fleet"
          description: "The flow exits before the next batch, the unpatched hosts stay on the old version."
        - title: "Per-batch execution log"
          description: "Each batch has its own log line in the execution, with the host list and the probe result."
    - badge: "Event-driven"
      badgeIcon: "mdi:lightning-bolt-outline"
      title: "Event-triggered remediation from monitoring alerts"
      description: "A Splunk or CloudWatch alert fires on high CPU or a failed health check. The webhook hits Kestra, Kestra runs the remediation playbook against the affected host (inline inventory built from the alert payload), updates the ServiceNow incident with the playbook output, and posts to Slack. Same flow, same audit trail, whether the alert fires once a week or a hundred times a day."
      flow:
        - node: "webhook"
          label: "alert payload"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "ansible-playbook"
          label: "remediate host"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "ServiceNow"
          label: "update incident"
          pluginClass: "io.kestra.plugin.servicenow.Update"
        - node: "notify"
          label: "Slack"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Webhook + API triggers"
          description: "Fire a playbook from Splunk, PagerDuty, ServiceNow, or any HTTP source. No glue service required."
        - title: "Inline inventory from alert payload"
          description: "The host name from <code>trigger.body</code> becomes a one-line <code>inventory.ini</code>, scoped to the affected host only."
        - title: "Incident enrichment"
          description: "Push the playbook's diagnostic output back into the ServiceNow ticket as a work note."
        - title: "Replay on the same host"
          description: "Re-run the playbook against the original target with one click from the execution view."
    - badge: "Dynamic inventory"
      badgeIcon: "mdi:transit-connection-variant"
      title: "Inventory from NetBox or Terraform output, then play against it"
      description: "<code>terraform output</code> or a NetBox device query emits the inventory at the start of the flow. The next task templates it into <code>inventory.ini</code> (or hands it as a JSON dynamic inventory). The playbook runs against the freshly resolved hosts. No stale static inventory file, no manual sync between source of truth and Ansible."
      flow:
        - node: "trigger"
          label: "schedule or webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "fetch inventory"
          label: "Terraform / NetBox"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "ansible-playbook"
          label: "fresh inventory"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "ForEach host"
          label: "per-host result"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "ServiceNow"
          label: "CMDB reconcile"
          pluginClass: "io.kestra.plugin.servicenow.Update"
      items:
        - title: "Single source of truth"
          description: "The inventory comes from the tool that actually knows the hosts: Terraform state, NetBox DCIM, or a cloud API."
        - title: "Templated into inventory.ini per run"
          description: "Inline <code>inputFiles</code> writes the inventory from <code>outputs.fetch_inventory</code> at the start of the playbook task."
        - title: "Refresh per execution"
          description: "Every run sees the current state, not yesterday's snapshot."
          wide: true

quotes:
  - quote: "The orchestration of Ansible is very poor compared to what we can do with Kestra. I doubt that we can only use Terraform and Ansible to do all our complex orchestration."
    author: "Crédit Agricole"
    storyLink: "/customers/credit-agricole"
    logoFile: "credit-agricole"
  - quote: "Terraform provisions the VM, Ansible configures the application, ArgoCD handles the deployment: all orchestrated through Kestra."
    author: "Censhare"
    logoFile: "censhare"

blueprints:
  title: "Blueprints for Ansible orchestration."
  lead: "One blueprint per use case above. Copy the YAML, point it at your inventory, ship it."
  items:
    - name: "Check-mode drift detection"
      blueprintId: "ansible-config-drift"
      title: "Nightly check-mode audit with the Kestra Ansible callback"
      description: "Runs the playbook with <code>--check --diff</code> nightly. The Kestra Ansible callback emits per-host structured output. A <code>ForEach</code> loops through hosts and posts a Slack alert only when <code>changed: true</code>. Clean enforcement runs stay quiet."
      href: "/blueprints?tags=Infrastructure"
    - name: "Rolling patch wave"
      blueprintId: "ansible-rolling-patch-wave"
      title: "Rolling OS patch wave with serial and per-batch health probe"
      description: "<code>ansible-playbook</code> runs with <code>serial: 1</code> to patch one host at a time. Between batches a Kestra <code>core.http.Request</code> probes the application health endpoint. A failed probe halts the flow before the next batch."
      href: "/blueprints?tags=Infrastructure"
    - name: "Dynamic inventory from NetBox"
      blueprintId: "ansible-netbox-dynamic-inventory"
      title: "Build inventory from NetBox at run time, then play against it"
      description: "Queries NetBox for the device list at the start of the flow, writes <code>inventory.ini</code> from the result, then runs <code>ansible-playbook</code> against the fresh inventory. The same execution updates the ServiceNow CMDB with the per-host result."
      href: "/blueprints?tags=Infrastructure"
comparison:
  title: "Kestra vs Ansible orchestration alternatives"
  subtitle: "Kestra wraps ansible-playbook with native scheduling, the Ansible callback, dynamic inventory tasks, and cross-tool chaining. The competitors below are the platforms infrastructure teams already use to run Ansible."
  competitors:
    - name: "Ansible Automation Platform"
      logoAsset: "ansible-automation-platform-monograme"
    - name: "GitHub Actions"
      pluginClass: "io.kestra.plugin.github.actions.RunWorkflow"
    - name: "Rundeck"
      logoAsset: "rundeck-full"
  rows:
    - feature: "Check-mode drift detection with per-host alerting"
      kestra: "✓ Native, Kestra Ansible callback parses changed=true per host"
      values:
        - "Survey-driven runs, no native drift loop"
        - "Possible via shell + stdout parsing"
        - "Possible via job steps, manual parse"
    - feature: "Rolling restart with serial + per-batch health probe"
      kestra: "✓ <code>core.http.Request</code> between batches halts on failure"
      values:
        - "serial works, verify needs custom plugin"
        - "serial works, verify is a custom step"
        - "Manual orchestration"
    - feature: "Dynamic inventory from Terraform, NetBox, vCenter, cloud APIs"
      kestra: "✓ Native plugin tasks emit inventory at run time"
      values:
        - "AAP inventory plugins (config-managed)"
        - "Custom shell to build inventory"
        - "Resource model plugin"
    - feature: "Per-host result parsing via callback"
      kestra: "✓ Kestra Ansible callback, structured outputs iterable in YAML"
      values:
        - "AAP run history, harder to chain downstream"
        - "stdout parsing in shell"
        - "Job log parsing"
    - feature: "Wave gating between dev / staging / prod"
      kestra: "✓ Native Pause + resume, named reviewer logged"
      values:
        - "Workflow approval (paid tiers)"
        - "Environment approvals (deploy only)"
        - "Pause-on-input step"
    - feature: "Event triggers (webhook, S3, Kafka, file)"
      kestra: "✓ Native, cross-source"
      values:
        - "EDA controller add-on"
        - "Webhook events on the repo"
        - "Webhook only"
    - feature: "Ansible Vault decryption from secrets backend"
      kestra: "✓ Vault file mounted from secrets at run time"
      values:
        - "Built-in credential store"
        - "Secrets in env, manual mount"
        - "Key Storage Service"
    - feature: "Chain Ansible with Terraform / NetBox / ServiceNow / ArgoCD"
      kestra: "✓ Native plugin tasks, outputs flow forward"
      values:
        - "Possible via collections"
        - "Possible via actions and glue"
        - "Job steps, manual wiring"
    - feature: "Air-gapped / private network deploy"
      kestra: "✓ Self-hosted by default"
      values:
        - "Self-hosted (Red Hat subscription)"
        - "Self-hosted runners"
        - "Self-hosted"
    - feature: "Orchestrate beyond Ansible"
      kestra: "✓ 1400+ plugins, cross-stack"
      values:
        - "Ansible-centric"
        - "Possible, action-dependent"
        - "Possible, plugin-dependent"

postCompareCta:
  eyebrow: "Deeper comparison"
  title: "Kestra vs Ansible Automation Platform (Tower / AWX)"
  description: "Side-by-side breakdown across event-driven runs, Ansible callback parsing, dynamic inventory, wave gating, and cross-tool chaining."
  cta:
    label: "See the full comparison"
    href: "/vs/ansible-automation-platform"

faq:
  - question: "How does check-mode drift detection actually work?"
    answer: "Run the playbook with <code>--check --diff</code> on a schedule. The Kestra Ansible callback (<code>stdout_callback = yaml</code> plus the Kestra-specific output) emits per-host JSON. A <code>ForEach</code> task iterates over the hosts and branches on <code>changed</code>. The flow only alerts when a host actually drifted, so clean enforcement nights stay quiet. The full diff and recap are stored as task artifacts on the execution."
  - question: "How does the approval gate work between dev, staging, and production waves?"
    answer: "Kestra's Pause task suspends the flow after a wave completes. The playbook output is surfaced in the Kestra UI. A named reviewer reads it, optionally adds a comment, and resumes. Only then does the next wave run. The reviewer identity and timestamp land in the execution history. Different reviewers can be wired to different namespaces or environments through RBAC."
  - question: "Can I drive a rolling restart with <code>serial:</code> and verify between batches?"
    answer: "Yes. Set <code>serial: 1</code> (or <code>10%</code>) in the play. Ansible enforces the batching. After the playbook task returns, a Kestra <code>ForEach</code> loops over the per-host callback output and a <code>core.http.Request</code> probes each host's health endpoint with a retry policy. A failed probe halts the flow before the next wave, so the rest of the fleet stays on the old version."
  - question: "What's the difference between Kestra and Ansible Automation Platform (AAP / Tower / AWX)?"
    answer: "AAP is the Red Hat-owned operational layer for Ansible: a runner, a UI, surveys, RBAC, and the EDA controller for event triggers. Kestra is a general-purpose orchestrator. It schedules playbook runs, adds native pause-and-resume between waves, parses per-host results via the Kestra Ansible callback, and chains Ansible with Terraform, ServiceNow, NetBox, ArgoCD, and your own scripts in one flow. AAP is Ansible-centric by design. Kestra works alongside AAP if you already run it, or replaces it when you want one orchestrator across the full stack."
  - question: "Can I keep my existing playbooks and inventory as-is?"
    answer: "Yes. The <code>io.kestra.plugin.ansible.cli.AnsibleCLI</code> task runs <code>ansible-playbook</code> exactly as you do today. Inventory, roles, vars, Vault files, and <code>ansible.cfg</code> stay where they are. You point Kestra at the playbook through inline <code>inputFiles</code>, Namespace Files, or a Git clone task. Nothing in the playbook itself changes."
  - question: "Does Kestra work with Ansible Vault and dynamic inventories?"
    answer: "Yes. Vault files come through Kestra's secrets backend (built-in or HashiCorp Vault) and are mounted into the task working directory at run time. Dynamic inventories work the same way they do on the CLI: include the script or plugin in the task, set the inventory path, and run <code>ansible-playbook -i</code> against it. Inventories built from a Terraform output or a NetBox query at the start of the flow are a common pattern, see the dynamic-inventory blueprint above."
  - question: "Can Kestra react to an alert from Splunk or PagerDuty and run a remediation playbook?"
    answer: "Yes. The <code>io.kestra.plugin.core.trigger.Webhook</code> trigger exposes a signed endpoint. Wire Splunk, PagerDuty, ServiceNow, or any HTTP source to that URL. The alert payload is available in the flow as <code>trigger.body</code>, so the playbook runs against the right host with the right inputs."
  - question: "Do I need a separate AWX or Tower instance to run Kestra?"
    answer: "No. Kestra runs <code>ansible-playbook</code> directly through its task runner, on the worker, in a container, or remotely via SSH. No AWX, no Tower, no EDA controller. Teams already on AAP can keep it: Kestra calls AAP jobs over the API the same way it calls <a href='/orchestration/terraform'>Terraform</a> or Jenkins."
  - question: "Is Kestra self-hosted? Can it run air-gapped?"
    answer: "Kestra ships self-hosted on Docker or Kubernetes, as a managed cloud, or air-gapped for regulated environments. The open-source edition includes unlimited workflows and event-driven triggers. Self-hosted gives full control over where playbooks execute, with no external dependency on Kestra's infrastructure. See <a href='/infra-automation'>Kestra for infrastructure automation</a> for the broader picture across Terraform, Ansible, and cloud APIs."

resources:
  title: "More on Ansible and Kestra"
  items:
    - kind: "blog"
      title: "Automate infrastructure with Kestra, Ansible and Terraform"
      description: "The AnsibleCLI task end to end, with a Terraform handoff for a full provision-and-configure flow."
      href: "/blogs/2024-04-16-infrastructure-orchestration-using-kestra"
      image: "blogs/2024-04-16-infrastructure-orchestration-using-kestra/main.jpg"
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates Docker, Terraform, OpenTofu, Terragrunt, Ansible, and cloud CLIs in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Top alternatives to Ansible for modern DevOps"
      description: "Where Ansible fits among Puppet, Chef, Salt, Terraform, and Kestra, and when each one is the right tool."
      href: "/resources/infrastructure/alternatives-to-ansible"
    - kind: "plugin"
      title: "Ansible plugin reference"
      description: "Every Ansible CLI task and parameter, with copy-ready YAML examples."
      href: "/plugins/plugin-ansible"

seeHow:
  title: "Ready to orchestrate your Ansible playbooks?"
  description: "Drive check-mode drift detection, gate patch waves, build inventory from Terraform or NetBox, and parse per-host results with the Kestra Ansible callback. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
