src/contents/orchestration/apify.yaml
title: "Orchestrate Apify with Kestra: scheduled web scraping into your warehouse, vector store, and CRM"
description: "Run Apify actors on a schedule, wait for the dataset, enforce cost and quality guardrails, and chain scrapes into Postgres, BigQuery, RAG vector stores, and HubSpot from one flow."

tool:
  name: "Apify"
  pluginClass: "io.kestra.plugin.apify.actor.Run"
  color: "#20A34E"

hero:
  title: "Turn Apify scrapes into pipelines, not just datasets."
  description: "Apify runs the actor and drops the result in a dataset. Then what? Kestra waits for the run to finish, pulls the items, checks them, and loads them into your warehouse, vector store, or CRM. Cost caps and an automated quality gate stop a runaway crawl or a broken selector before it costs you money or ships bad data."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Apify runs the actor and lands the result in a dataset; Kestra turns that into a finished pipeline. <code>io.kestra.plugin.apify.actor.Run</code> waits for the run, surfaces the dataset ID and cost, and <code>dataset.Get</code> reads the items straight into the next task. From there one flow loads them into <a href='/orchestration/bigquery'>BigQuery</a> or <a href='/orchestration/snowflake'>Snowflake</a>, transforms them with <a href='/orchestration/dbt-core'>dbt</a>, embeds them into a vector store for RAG, or pushes them to a CRM, with cost caps and a quality gate so a runaway crawl or a broken selector never reaches production."

pillars:
  title: "Everything around the Apify scrape."
  subtitle: "Apify runs the actor, the proxies, and the Store. Kestra runs the steps around the scrape: what waits for it, what validates it, what it feeds, and where the audit trail lives."
  items:
    - icon: "mdi:timer-sync-outline"
      title: "Wait for the actor, then act on the data"
      description: "When an Apify run finishes, the data is sitting in a dataset and the next move is yours: fetch it, validate it, route it onward. Kestra's <code>actor.Run</code> blocks until the run finishes, then exposes <code>defaultDatasetId</code>, <code>status</code>, and <code>usageTotalUsd</code> as outputs. <code>dataset.Get</code> reads the items into the next task, so there is no receiver to host and no polling script to maintain."
    - icon: "mdi:cash-multiple"
      title: "Cost caps enforced at the source"
      description: "Apify actors bill per compute unit or per result, so a misconfigured crawl is a real bill. The <code>Run</code> task sets <code>maxItems</code>, <code>maxTotalChargeUsd</code>, <code>memory</code>, and <code>requestTimeout</code> as native run caps, and the run returns <code>usageTotalUsd</code>. An automated <code>If</code> can branch on actual cost or item count and halt the pipeline before you pay to process garbage, with no human in the loop."
    - icon: "mdi:pipe"
      title: "Scrape to warehouse, vector store, or CRM in one flow"
      description: "Apify stops at the dataset. Kestra chains the scrape to a <a href='/orchestration/dbt-core'>dbt</a> transform and a <a href='/orchestration/bigquery'>BigQuery</a>, <a href='/orchestration/snowflake'>Snowflake</a>, or Postgres load, to embeddings for a vector store, or to a HubSpot upsert. Step retries stay local: a load retry never re-runs the scrape, and the actor run ID flows forward into every downstream task for traceability."
    - icon: "mdi:filter-check-outline"
      title: "Quality gate before bad scrapes ship"
      description: "Scrapers degrade silently when a site changes its markup: empty datasets, half-null rows, a selector that stopped matching, and the run still reports success. Kestra runs an automated check on the item count and null ratio with <code>io.kestra.plugin.core.flow.If</code> and halts before the data reaches a warehouse or a CRM, paging the owner instead of poisoning a table downstream."
    - icon: "mdi:source-branch"
      title: "Parallel fan-out with per-target isolation"
      description: "Scraping fifty competitor URLs or fifty search terms in a single actor run gives you one blob and one failure mode. Kestra's <code>ForEach</code> runs many <code>Run</code> calls concurrently with a <code>concurrencyLimit</code>, and <code>allowFailure</code> isolates a blocked target so a single 403 or CAPTCHA wall does not sink the batch. Each target's items land tagged with their source."
    - icon: "mdi:account-cog-outline"
      title: "Self-service scrapes for non-engineers"
      description: "Growth, research, and sales teams should not file a ticket to run a one-off scrape. Kestra Apps wraps a scrape flow in a typed form: enter a URL or a search term, run the actor, get the dataset. Every run lands in execution history with the requester's identity, so self-service does not mean unaudited."

useCases:
  title: "How teams use Apify and Kestra"
  subtitle: "Patterns data and AI teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Scrape to warehouse"
      badgeIcon: "mdi:database-import-outline"
      title: "Land a scheduled scrape in the warehouse"
      description: "A daily actor scrapes places, listings, or prices, and Kestra lands the rows in <a href='/orchestration/bigquery'>BigQuery</a>, <a href='/orchestration/snowflake'>Snowflake</a>, or Postgres. <code>Run</code> caps the cost, <code>dataset.Get</code> pulls the items, a reshape step types the columns, and a load retry never re-runs the scrape."
      flow:
        - node: "schedule"
          label: "daily trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "apify run"
          label: "scrape"
          pluginClass: "io.kestra.plugin.apify.actor.Run"
        - node: "dataset get"
          label: "fetch items"
          pluginClass: "io.kestra.plugin.apify.dataset.Get"
        - node: "postgres load"
          label: "CopyIn"
          pluginClass: "io.kestra.plugin.jdbc.postgresql.CopyIn"
        - node: "slack"
          label: "row count"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Run caps stop runaway cost"
          description: "<code>maxItems</code> and <code>maxTotalChargeUsd</code> bound the bill before the crawl starts."
        - title: "Load retries stay local"
          description: "A Postgres or warehouse retry never re-triggers the Apify actor."
        - title: "Swap the destination by task"
          description: "Point the same flow at BigQuery, Snowflake, or DuckDB by changing the load task."
          wide: true
    - badge: "Data for AI"
      badgeIcon: "mdi:brain"
      title: "Keep a RAG index fresh from the live web"
      description: "Apify's Website Content Crawler returns clean, boilerplate-free text, the ideal input for retrieval. Kestra crawls on a schedule, embeds it into a vector store with <code>IngestDocument</code>, and drops the previous index so answers never go stale. An <code>AIAgent</code> step then answers grounded questions from the fresh crawl."
      flow:
        - node: "schedule"
          label: "nightly trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "apify crawl"
          label: "clean text"
          pluginClass: "io.kestra.plugin.apify.actor.Run"
        - node: "dataset get"
          label: "fetch text"
          pluginClass: "io.kestra.plugin.apify.dataset.Get"
        - node: "embed"
          label: "vector store"
          pluginClass: "io.kestra.plugin.ai.rag.IngestDocument"
        - node: "discord"
          label: "index refreshed"
          pluginClass: "io.kestra.plugin.discord.DiscordIncomingWebhook"
      items:
        - title: "Clean text in, good chunks out"
          description: "The crawler strips navs and footers so embeddings index content, not boilerplate."
        - title: "Drop and refresh on schedule"
          description: "<code>drop: true</code> rebuilds the index each run so retrieval reflects the latest crawl."
        - title: "KV store now, Pinecone later"
          description: "Start on the built-in KV store, then switch to Pinecone, Qdrant, or PGVector for scale."
          wide: true
    - badge: "Guardrail"
      badgeIcon: "mdi:shield-check-outline"
      title: "Halt and page when a scrape degrades"
      description: "Scrapes break quietly when a site ships new markup. Kestra runs the actor under hard cost caps, then an automated <code>If</code> checks the item count. A healthy count promotes the data; a count below the threshold pages the on-call via <a href='/orchestration/slack'>Slack</a> or PagerDuty, so a broken selector never poisons a table."
      flow:
        - node: "apify run"
          label: "caps on"
          pluginClass: "io.kestra.plugin.apify.actor.Run"
        - node: "dataset get"
          label: "fetch items"
          pluginClass: "io.kestra.plugin.apify.dataset.Get"
        - node: "quality gate"
          label: "item count check"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "pagerduty"
          label: "page on degrade"
          pluginClass: "io.kestra.plugin.pagerduty.PagerDutyAlert"
      items:
        - title: "Automated gate, no human wait"
          description: "<code>If</code> branches on item count or null ratio; nobody has to watch a dashboard."
        - title: "Cost bounded at the source"
          description: "<code>maxTotalChargeUsd</code> caps spend even when a crawl misbehaves."
        - title: "Page on degradation, not just failure"
          description: "An empty-but-successful run still alerts, because empty data is the real risk."
          wide: true
    - badge: "Fan-out"
      badgeIcon: "mdi:source-branch"
      title: "Scrape many targets in parallel, isolate failures"
      description: "Competitive monitoring means scraping dozens of sites or search terms on one schedule. Kestra's <code>ForEach</code> runs the actor across every target with a bounded <code>concurrencyLimit</code>, and <code>allowFailure</code> keeps one blocked target from sinking the batch. Only changed targets trigger an alert."
      flow:
        - node: "schedule"
          label: "trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "for each target"
          label: "fan out"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "apify run"
          label: "per target"
          pluginClass: "io.kestra.plugin.apify.actor.Run"
        - node: "compare"
          label: "changed?"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "slack"
          label: "on change"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Bounded concurrency"
          description: "<code>concurrencyLimit</code> respects Apify and target rate limits while still running in parallel."
        - title: "One failure is contained"
          description: "<code>allowFailure</code> per target means a 403 on one site does not fail the run."
        - title: "Alert only on change"
          description: "An <code>If</code> compares against the last run and notifies only when something moved."
          wide: true
    - badge: "Lead gen"
      badgeIcon: "mdi:account-search-outline"
      title: "Turn scraped leads into CRM records"
      description: "The fastest payback for scraping is lead generation. Kestra runs a Google Maps or contact-details actor, dedups and validates the rows, then upserts them into HubSpot with <code>io.kestra.plugin.hubspot.contacts.Create</code>. <a href='/orchestration/slack'>Slack</a> posts the count of new contacts so sales sees the pipeline fill in real time."
      flow:
        - node: "schedule"
          label: "trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "apify run"
          label: "scrape leads"
          pluginClass: "io.kestra.plugin.apify.actor.Run"
        - node: "dataset get"
          label: "fetch rows"
          pluginClass: "io.kestra.plugin.apify.dataset.Get"
        - node: "hubspot"
          label: "upsert contact"
          pluginClass: "io.kestra.plugin.hubspot.contacts.Create"
        - node: "slack"
          label: "new contacts"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Dedup before the CRM"
          description: "A transform step drops duplicates so HubSpot does not fill with repeats."
        - title: "Upsert, not just insert"
          description: "Search-then-update keeps existing contacts clean on re-runs."
        - title: "Sales sees the fill"
          description: "Slack posts the count of new and updated contacts after every run."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for Apify orchestration."
  lead: "Production-ready flows. Copy the YAML, wire it to your stack."
  items:
    - name: "Scrape to Postgres"
      blueprintId: "apify-scrape-to-postgres"
      title: "Load a scheduled Apify scrape into Postgres"
      description: "A daily actor run with <code>maxItems</code> and <code>maxTotalChargeUsd</code> caps, then <code>dataset.Get</code>, a typed reshape, and a Postgres <code>CopyIn</code>. <a href='/orchestration/slack'>Slack</a> confirms with the row count and cost, and an errors handler alerts on failure."
      href: "/blueprints"
    - name: "Web data to RAG"
      blueprintId: "apify-web-data-to-rag"
      title: "Turn an Apify crawl into a fresh RAG index"
      description: "The Website Content Crawler returns clean text, which Kestra embeds into a vector store with <code>IngestDocument</code> and <code>drop: true</code> so the index never goes stale. An <code>AIAgent</code> answers grounded questions, and Discord confirms the refresh."
      href: "/blueprints"
    - name: "Cost and quality guardrail"
      blueprintId: "apify-cost-quality-guardrail"
      title: "Cost caps plus an automated quality gate"
      description: "Run any actor under hard cost and run caps, then branch with <code>If</code> on the item count. A healthy scrape is promoted downstream; a degraded one pages the on-call through PagerDuty, so a broken selector never ships bad data."
      href: "/blueprints"

comparison:
  title: "Kestra vs the orchestration alternatives Apify teams evaluate"
  subtitle: "Apify runs the scrape. To orchestrate everything around it, here is how Kestra compares with the orchestrators teams reach for."
  competitors:
    - name: "Airflow"
      logoAsset: "airflow"
    - name: "Dagster"
      logoAsset: "dagster"
    - name: "n8n"
      logoAsset: "n8n"
  rows:
    - feature: "Wait for an actor, then fetch its dataset"
      kestra: "✓ Run blocks, dataset.Get reads"
      values:
        - "Sensor or custom operator"
        - "Custom op or sensor"
        - "HTTP node plus manual polling"
    - feature: "Cost caps enforced on the run"
      kestra: "✓ maxItems + maxTotalChargeUsd"
      values:
        - "Custom code"
        - "Custom code"
        - "No native cost cap"
    - feature: "Automated quality gate before downstream"
      kestra: "✓ Native If on item count"
      values:
        - "BranchPythonOperator"
        - "Asset checks, Python"
        - "IF node, limited"
    - feature: "Chain to dbt, BigQuery, Snowflake, CRM"
      kestra: "✓ Native plugins"
      values:
        - "Operator per tool, Python glue"
        - "Integrations, mostly Python"
        - "Prebuilt nodes, shallow"
    - feature: "Parallel fan-out with per-target isolation"
      kestra: "✓ ForEach + allowFailure"
      values:
        - "Dynamic task mapping, Python"
        - "Dynamic partitions, Python"
        - "Loop node, no isolation"
    - feature: "Self-service scrape forms"
      kestra: "✓ Kestra Apps"
      values:
        - "No native form layer"
        - "No native form layer"
        - "Forms in paid tiers"
    - feature: "Declarative YAML, IaC-friendly (Terraform)"
      kestra: "✓ Pure YAML + Terraform provider"
      values:
        - "Python DAGs"
        - "Python assets"
        - "Visual JSON, limited IaC"

faq:
  - question: "How do Apify and Kestra work together?"
    answer: "Apify runs the actor: the scraper, the proxies, the anti-blocking, and the dataset. Kestra orchestrates everything around it. <code>io.kestra.plugin.apify.actor.Run</code> waits for the run, <code>dataset.Get</code> pulls the items, and the same flow loads them into <a href='/orchestration/bigquery'>BigQuery</a> or <a href='/orchestration/snowflake'>Snowflake</a>, transforms them with <a href='/orchestration/dbt-core'>dbt</a>, or embeds them for RAG, with cost caps and a quality gate around it. The two are complementary: Apify gets the data, Kestra makes it flow through your stack."
  - question: "Can Kestra trigger downstream work the moment an actor finishes?"
    answer: "Yes. <code>actor.Run</code> blocks until the run reaches a terminal status, then exposes <code>defaultDatasetId</code>, <code>status</code>, and <code>usageTotalUsd</code> as outputs. The next task starts only after the run confirms, so there is no webhook receiver to build and no gap between the scrape and the load. <code>dataset.Get</code> then polls the items API with backoff in case the actor is still writing."
  - question: "How do I stop an Apify actor from running up a bill?"
    answer: "Set <code>maxItems</code> and <code>maxTotalChargeUsd</code> on the <code>Run</code> task to cap pay-per-result and total spend, plus <code>memory</code> and <code>requestTimeout</code> for the run envelope. The run returns <code>usageTotalUsd</code>, so an automated <code>io.kestra.plugin.core.flow.If</code> can branch on the real cost or item count and halt the pipeline before any downstream task processes the data."
  - question: "Can Kestra load scraped data straight into a warehouse?"
    answer: "Yes. After <code>dataset.Get</code>, write the items to internal storage, reshape them, and load with a native task: <code>io.kestra.plugin.jdbc.postgresql.CopyIn</code> for Postgres, or the BigQuery and Snowflake equivalents. Chain a <a href='/orchestration/dbt-core'>dbt</a> build afterward and the whole scrape-to-model pipeline runs as one execution with per-step retries."
  - question: "Does Apify data work for RAG and AI pipelines?"
    answer: "It is one of the most common Apify patterns. The Website Content Crawler returns clean Markdown, which Kestra chunks and embeds with <code>io.kestra.plugin.ai.rag.IngestDocument</code> into a KV store, Pinecone, Qdrant, or PGVector. Running it on a schedule with <code>drop: true</code> keeps the index fresh, so an <code>AIAgent</code> always answers from the latest crawl."
  - question: "Is Kestra self-hosted or managed?"
    answer: "Kestra offers multiple deployment options: fully self-hosted on Docker or Kubernetes, a managed cloud version, or air-gapped for regulated environments. The open-source edition includes unlimited workflows and event-driven triggers. Self-hosted gives complete control over where your scraped data and Apify token live, which matters when the data is sensitive."

seeHow:
  title: "Ready to orchestrate your Apify scrapes?"
  description: "Wait for the actor, enforce cost and quality guardrails, and chain the data into your warehouse, vector store, or CRM in one flow. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"

resources:
  title: "More on Apify and Kestra"
  items:
    - kind: "blueprint"
      title: "Run an Apify actor and update Notion"
      description: "A ready-to-run flow: scrape with an actor, fetch the dataset, and write the results to a Notion page."
      href: "/blueprints/apify-to-notion"
    - kind: "blueprint"
      title: "Build a RAG pipeline and answer questions"
      description: "Ingest documents into a vector store and answer grounded questions, the AI pattern Apify crawls feed."
      href: "/blueprints/ai-rag-ingest-and-query"
    - kind: "docs"
      title: "Kestra quickstart"
      description: "Start Kestra locally with Docker and run your first flow in under a minute."
      href: "/docs/quickstart"
