src/contents/orchestration/aws.yaml
title: "Orchestrate AWS with Kestra: S3 triggers, Lambda, EMR, Glue, cross-account chains"
description: "Trigger S3, Lambda, Glue, EMR, DynamoDB, Athena from one flow. Native S3 fan-out, cross-account ops via stsRole, no EventBridge rule sprawl."

tool:
  name: "AWS"
  pluginClass: "io.kestra.plugin.aws.cli.AwsCLI"
  color: "#FF9900"

hero:
  title: "Orchestrate AWS without the EventBridge tangle."
  description: "Trigger S3, Lambda, Glue, EMR, DynamoDB, and Athena from one flow. S3 events fan out without EventBridge rules, EMR Serverless dispatches on backlog, Lambda chains into Glue and Athena, cross-account ops run through stsRole, all in one execution history."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Replace EventBridge rule sprawl and Step Functions JSON with a workflow engine that listens to S3, SQS, or schedules, handles cross-account ops via stsRole, and chains S3, Lambda, Glue, Athena, and DynamoDB in one audited flow. Collapse rule + glue Lambda + Step Functions into one execution ID; cut idle compute with backlog-aware EMR Serverless."

pillars:
  title: "One execution across S3, Lambda, EMR, Glue, and DynamoDB."
  subtitle: "AWS gives you the services. Kestra wires them together without EventBridge rule sprawl, without Step Functions JSON, and without Lambda functions whose only purpose is to call the next Lambda. The IAM model, the data, and the compute all stay in your account."
  items:
    - icon: "mdi:cloud-upload-outline"
      title: "S3 triggers fan out by prefix and regex, no EventBridge rules"
      description: "s3.Trigger polls a bucket on an interval, applies prefix and regex filters, downloads matched objects to Kestra internal storage, and fires the flow once per file. Optional move or delete after processing prevents reprocessing. The EventBridge to Lambda to Step Functions chain collapses into one trigger and one flow, with the routing logic readable in the flow YAML."
    - icon: "mdi:lambda"
      title: "Lambda dispatch from any event source, not just S3 or API Gateway"
      description: "lambda.Invoke calls a Lambda by ARN or name with a JSON payload. Trigger from Kafka, Slack, dbt completion, ServiceNow webhook, anything Lambda's native triggers cannot reach without a glue function. The response body is stored in internal storage and the task fails on functionError. Pair with retry policies for transient throttling."
    - icon: "mdi:chart-line"
      title: "EMR and EMR Serverless dispatched from backlog signals"
      description: "emr.CreateClusterAndSubmitSteps launches a transient cluster, runs initial steps, and optionally waits for terminal state. emr.SubmitSteps appends jobs to a running cluster. emr.DeleteCluster tears it down. EMR Serverless covers the steady-state side with CreateServerlessApplicationAndStartJob. Backlog-driven autoscale becomes a flow: SQS depth threshold breaches, the flow spins a Spark job."
    - icon: "mdi:swap-horizontal"
      title: "Cross-account ops via stsRole, one flow spans accounts"
      description: "Every AWS task accepts stsRoleArn, stsRoleSessionName, stsRoleExternalId. Chain ops across accounts in one flow: drop a file in the dev-account S3 bucket, run a Glue job in the staging-account, write the output to a prod-account DynamoDB table. No federation setup, no separate flows per account, no shared long-lived credentials."
    - icon: "mdi:database-arrow-right-outline"
      title: "Native tasks for data services, no Glue Workflows or Step Functions"
      description: "athena.Query runs SQL and fetches results to internal storage. glue.StartJobRun, GetJobRun, StopJobRun handles Glue lifecycle. dynamodb.GetItem, PutItem, Query, Scan, DeleteItem are first-class operations. Chain Athena to dbt to Snowflake to Slack without Step Functions JSON or three separate orchestrators."
    - icon: "mdi:bell-ring-outline"
      title: "EventBridge as a target, not the orchestrator"
      description: "eventbridge.PutEvents writes events to a custom bus when a flow step finishes. Other consumers (downstream Lambdas, third-party SaaS, on-call paging) get notified. The flow does not depend on EventBridge rules for its own routing, routing lives in the flow YAML. Decouple the publish from the orchestration."

useCases:
  title: "How AWS teams use Kestra around the platform"
  subtitle: "Patterns engineering teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Event-driven"
      badgeIcon: "mdi:cloud-upload-outline"
      title: "Route incoming S3 files by prefix to different downstream paths"
      description: "s3.Trigger polls the bucket. Files under /raw/orders/ route to a dbt build that transforms the order data. Files under /raw/clicks/ route to a Lambda that cleanses the clickstream and forwards it to Kinesis. Both paths emit an SNS message when complete and notify Slack. The EventBridge plus two Lambdas plus a Step Function pattern collapses into one flow definition."
      flow:
        - node: "s3 trigger"
          label: "prefix + regex"
          pluginClass: "io.kestra.plugin.aws.s3.Trigger"
        - node: "route on prefix"
          label: "If task"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "dbt build (orders)"
          label: "branch a"
          pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
        - node: "lambda cleanse"
          label: "branch b"
          pluginClass: "io.kestra.plugin.aws.lambda.Invoke"
        - node: "sns publish"
          label: "completion"
          pluginClass: "io.kestra.plugin.aws.sns.Publish"
        - node: "notify"
          label: "Slack with file URI"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "One trigger, two downstream paths"
          description: "Prefix-driven routing in the flow, not in an EventBridge rule. Adding a third prefix path is a YAML edit, not a CloudFormation stack update."
        - title: "Move-after-processing prevents duplicates"
          description: "s3.Trigger optionally moves or deletes processed files. The next poll skips them automatically."
        - title: "Audit trail covers the chain"
          description: "One execution links the original file, the routing decision, the downstream task output, the SNS message, and the Slack notification."
          wide: true
    - badge: "Data ops"
      badgeIcon: "mdi:chart-line"
      title: "Watch SQS depth, spin up EMR Serverless when the backlog demands it"
      description: "A scheduled flow runs every 5 minutes. It reads the SQS queue depth from CloudWatch and the active EMR Serverless job count. If the queue is above a threshold and no job is running, emr.CreateServerlessApplicationAndStartJob spins a Spark job that drains the backlog. emr.GetJobRun polls until SUCCEEDED. Below threshold, the flow exits. Backlog-driven autoscale without DataDog watcher plus Lambda controller plus retry logic."
      flow:
        - node: "every 5 min"
          label: "schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "check sqs depth"
          label: "CloudWatch query"
          pluginClass: "io.kestra.plugin.aws.cloudwatch.Query"
        - node: "above threshold?"
          label: "If gate"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "start spark job"
          label: "EMR Serverless"
          pluginClass: "io.kestra.plugin.aws.emr.StartServerlessJobRun"
        - node: "poll until done"
          label: "GetJobRun"
          pluginClass: "io.kestra.plugin.aws.emr.GetJobRun"
        - node: "notify"
          label: "Slack with run id"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Backlog-aware, not time-aware"
          description: "The flow spins compute only when the queue actually has work. Quiet weekends do not spin idle clusters."
        - title: "Serverless first, transient cluster second"
          description: "EMR Serverless for steady-state batches. emr.CreateClusterAndSubmitSteps for one-off heavy runs that need custom node types."
        - title: "Single-active guard"
          description: "The flow checks for an active job before starting a new one. No accidental parallel runs from overlapping schedule fires."
          wide: true
    - badge: "Cross-account"
      badgeIcon: "mdi:swap-horizontal"
      title: "Rotate IAM access keys across accounts with a gate before prod"
      description: "A weekly flow iterates a list of AWS accounts. Per account, the flow assumes a rotation role via stsRoleArn, creates a new access key with cli.AwsCLI, writes the new key to AWS Secrets Manager in the target account, and marks the old key inactive. The flow Pauses before reaching the prod account. A named reviewer resumes, the prod rotation runs, and the old key is scheduled for deletion 24 hours later by a follow-up flow."
      flow:
        - node: "weekly schedule"
          label: "cron"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "fetch accounts"
          label: "from inventory"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "ForEach account"
          label: "non-prod first"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "assume role"
          label: "stsRoleArn"
          pluginClass: "io.kestra.plugin.aws.cli.AwsCLI"
        - node: "rotate key"
          label: "create + mark old inactive"
          pluginClass: "io.kestra.plugin.aws.cli.AwsCLI"
        - node: "approval gate"
          label: "before prod"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "rotate prod"
          label: "after resume"
          pluginClass: "io.kestra.plugin.aws.cli.AwsCLI"
      items:
        - title: "Per-account role assumption"
          description: "Each iteration assumes a different stsRoleArn. No long-lived credentials in the flow, no federation tax."
        - title: "Named reviewer before prod"
          description: "The Pause task records who approved the prod rotation and when. The audit log links to the execution."
        - title: "Old keys deleted on a 24-hour delay"
          description: "A follow-up flow scheduled at execution time deletes the old keys, after the rotation has been verified."
          wide: true
    - badge: "Pipeline"
      badgeIcon: "mdi:database-arrow-right-outline"
      title: "Glue ETL, Athena validation, DynamoDB write, all one execution"
      description: "glue.StartJobRun kicks off the daily ETL job that lands curated data in the analytics S3 bucket. glue.GetJobRun polls every minute until SUCCEEDED. athena.Query runs a validation SQL against the output and returns the row count. An If task gates: if row count is within the expected range, dynamodb.PutItem writes the daily aggregate to the metrics table. Slack notifies with the row count and the bucket URI."
      flow:
        - node: "scheduled"
          label: "nightly"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "glue ETL"
          label: "StartJobRun"
          pluginClass: "io.kestra.plugin.aws.glue.StartJobRun"
        - node: "poll glue"
          label: "until SUCCEEDED"
          pluginClass: "io.kestra.plugin.aws.glue.GetJobRun"
        - node: "athena validate"
          label: "row count query"
          pluginClass: "io.kestra.plugin.aws.athena.Query"
        - node: "in range?"
          label: "If gate"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "dynamodb write"
          label: "metrics aggregate"
          pluginClass: "io.kestra.plugin.aws.dynamodb.PutItem"
        - node: "notify"
          label: "Slack with row count"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Three AWS services, one flow"
          description: "Glue, Athena, DynamoDB all chained directly. No Step Functions, no Glue Workflows, no glue Lambda."
        - title: "Validation gates the write"
          description: "If the Athena row count is outside the expected window, DynamoDB is not updated and on-call gets paged."
        - title: "Per-step retries on transient errors"
          description: "Each task carries its own retry policy. A Glue throttling error retries the Glue step only, not the whole flow."
          wide: true

quotes:
  - quote: "Kestra was the only tool that combined true multi-tenant isolation, metadata-driven orchestration, and easy integration with our existing AWS and Databricks environments. It provided the foundation we needed to scale confidently."
    author: "Director of Engineering, Acxiom"
    storyLink: "/use-cases/stories/scaling-big-data-operations"

blueprints:
  title: "Blueprints for AWS orchestration."
  lead: "One blueprint per use case above. Copy the YAML, set your AWS credentials in Kestra secrets, point at your resources, ship it."
  items:
    - name: "S3 file landed, fan out by prefix"
      title: "Route incoming S3 objects to dbt or Lambda based on prefix"
      description: "s3.Trigger polls the bucket. An If task routes /raw/orders/ to dbt build and /raw/clicks/ to a Lambda. Both paths publish to SNS on completion and notify Slack."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "S3 file landing"
          sublabel: "prefix + regex filter"
          pluginClass: "io.kestra.plugin.aws.s3.Trigger"
        workflow:
          label: "Fan out by prefix"
          sublabel: "no EventBridge rules"
        tools:
          - label: "If branch"
            pluginClass: "io.kestra.plugin.core.flow.If"
          - label: "lambda.Invoke"
            pluginClass: "io.kestra.plugin.aws.lambda.Invoke"
          - label: "sns.Publish"
            pluginClass: "io.kestra.plugin.aws.sns.Publish"
          - label: "Slack notify"
            pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
        outcome:
          label: "Routed + audited"
          sublabel: "one execution per file"
          icon: "mdi:cloud-upload-outline"
      plugins:
        - "io.kestra.plugin.aws.s3.Trigger"
        - "io.kestra.plugin.core.flow.If"
        - "io.kestra.plugin.aws.lambda.Invoke"
        - "io.kestra.plugin.aws.sns.Publish"
      code: |
        id: aws-s3-fanout
        namespace: company.data

        inputs:
          - id: bucket
            type: STRING
            defaults: "company-raw"
          - id: orders_lambda
            type: STRING
            defaults: "process-orders"
          - id: clicks_lambda
            type: STRING
            defaults: "cleanse-clicks"

        triggers:
          - id: new_files
            type: io.kestra.plugin.aws.s3.Trigger
            interval: PT30S
            bucket: "{{ inputs.bucket }}"
            prefix: "raw/"
            action: MOVE
            moveTo:
              bucket: "{{ inputs.bucket }}"
              key: "processed/{{ trigger.objects[0].key }}"

        tasks:
          - id: route
            type: io.kestra.plugin.core.flow.If
            condition: "{{ trigger.objects[0].key startsWith 'raw/orders/' }}"
            then:
              - id: orders_lambda
                type: io.kestra.plugin.aws.lambda.Invoke
                functionArn: "{{ inputs.orders_lambda }}"
                functionPayload:
                  s3_key: "{{ trigger.objects[0].key }}"
            else:
              - id: clicks_lambda
                type: io.kestra.plugin.aws.lambda.Invoke
                functionArn: "{{ inputs.clicks_lambda }}"
                functionPayload:
                  s3_key: "{{ trigger.objects[0].key }}"

          - id: publish_done
            type: io.kestra.plugin.aws.sns.Publish
            topicArn: "{{ secret('SNS_TOPIC_ARN') }}"
            from:
              data: "File processed: {{ trigger.objects[0].key }}"

          - id: notify
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":file_folder: Processed {{ trigger.objects[0].key }}. <{{ execution.url }}|View>"
              }
    - name: "EMR Serverless backlog autoscale"
      title: "Watch SQS depth on a schedule, spin Spark only when needed"
      description: "Every 5 minutes, the flow reads SQS queue depth via CloudWatch. If above threshold, it starts an EMR Serverless Spark job and polls until SUCCEEDED. Below threshold, the flow exits. No idle compute on quiet weekends."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Every 5 minutes"
          sublabel: "schedule */5"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Backlog-driven Spark"
          sublabel: "no idle clusters"
        tools:
          - label: "CloudWatch query"
            pluginClass: "io.kestra.plugin.aws.cloudwatch.Query"
          - label: "If gate"
            pluginClass: "io.kestra.plugin.core.flow.If"
          - label: "EMR Serverless"
            pluginClass: "io.kestra.plugin.aws.emr.StartServerlessJobRun"
          - label: "GetJobRun"
            pluginClass: "io.kestra.plugin.aws.emr.GetJobRun"
        outcome:
          label: "Backlog drained"
          sublabel: "compute only on demand"
          icon: "mdi:chart-line"
      plugins:
        - "io.kestra.plugin.core.trigger.Schedule"
        - "io.kestra.plugin.aws.cloudwatch.Query"
        - "io.kestra.plugin.core.flow.If"
        - "io.kestra.plugin.aws.emr.StartServerlessJobRun"
        - "io.kestra.plugin.aws.emr.GetJobRun"
      code: |
        id: emr-backlog-autoscale
        namespace: company.data

        inputs:
          - id: queue_name
            type: STRING
            defaults: "ingest-queue"
          - id: application_id
            type: STRING
            description: "Existing EMR Serverless application ID."
          - id: threshold
            type: INT
            defaults: 500

        triggers:
          - id: every_5_min
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "*/5 * * * *"

        tasks:
          - id: queue_depth
            type: io.kestra.plugin.aws.cloudwatch.Query
            namespace: AWS/SQS
            metricName: ApproximateNumberOfMessagesVisible
            dimensions:
              QueueName: "{{ inputs.queue_name }}"
            window: PT5M
            statistic: Maximum

          - id: should_run
            type: io.kestra.plugin.core.flow.If
            condition: "{{ outputs.queue_depth.datapoints | last | get('Maximum') > inputs.threshold }}"
            then:
              - id: start_job
                type: io.kestra.plugin.aws.emr.StartServerlessJobRun
                applicationId: "{{ inputs.application_id }}"
                executionRoleArn: "{{ secret('EMR_SERVERLESS_ROLE_ARN') }}"
                sparkSubmit:
                  entryPoint: "s3://company-jobs/drain-queue.py"
                  entryPointArguments:
                    - "--queue"
                    - "{{ inputs.queue_name }}"

              - id: poll
                type: io.kestra.plugin.aws.emr.GetJobRun
                applicationId: "{{ inputs.application_id }}"
                jobRunId: "{{ outputs.start_job.jobRunId }}"
                retry:
                  type: constant
                  interval: PT30S
                  maxAttempt: 60

              - id: notify
                type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
                url: "{{ secret('SLACK_WEBHOOK') }}"
                payload: |
                  {
                    "text": ":chart_with_upwards_trend: Drained backlog, job {{ outputs.start_job.jobRunId }} done."
                  }
    - name: "Glue ETL, Athena validation, DynamoDB write"
      title: "Daily pipeline across three AWS services in one execution"
      description: "Starts a Glue job, polls until SUCCEEDED, runs an Athena validation query, gates a DynamoDB write on the row count. Failed validation pages on-call instead of writing bad data."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Nightly schedule"
          sublabel: "cron 0 2 * * *"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Glue, Athena, DynamoDB"
          sublabel: "validation gates the write"
        tools:
          - label: "glue.StartJobRun"
            pluginClass: "io.kestra.plugin.aws.glue.StartJobRun"
          - label: "glue.GetJobRun"
            pluginClass: "io.kestra.plugin.aws.glue.GetJobRun"
          - label: "athena.Query"
            pluginClass: "io.kestra.plugin.aws.athena.Query"
          - label: "dynamodb.PutItem"
            pluginClass: "io.kestra.plugin.aws.dynamodb.PutItem"
        outcome:
          label: "Daily aggregate written"
          sublabel: "row count in range"
          icon: "mdi:database-arrow-right-outline"
      plugins:
        - "io.kestra.plugin.aws.glue.StartJobRun"
        - "io.kestra.plugin.aws.glue.GetJobRun"
        - "io.kestra.plugin.aws.athena.Query"
        - "io.kestra.plugin.aws.dynamodb.PutItem"
      code: |
        id: aws-glue-athena-dynamodb
        namespace: company.data

        triggers:
          - id: nightly
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "0 2 * * *"

        inputs:
          - id: glue_job
            type: STRING
            defaults: "daily-curated"
          - id: athena_db
            type: STRING
            defaults: "analytics"
          - id: athena_workgroup
            type: STRING
            defaults: "primary"
          - id: dynamodb_table
            type: STRING
            defaults: "daily-metrics"
          - id: min_rows
            type: INT
            defaults: 10000
          - id: max_rows
            type: INT
            defaults: 5000000

        tasks:
          - id: run_glue
            type: io.kestra.plugin.aws.glue.StartJobRun
            jobName: "{{ inputs.glue_job }}"

          - id: poll_glue
            type: io.kestra.plugin.aws.glue.GetJobRun
            jobName: "{{ inputs.glue_job }}"
            runId: "{{ outputs.run_glue.runId }}"
            retry:
              type: constant
              interval: PT1M
              maxAttempt: 60

          - id: validate
            type: io.kestra.plugin.aws.athena.Query
            database: "{{ inputs.athena_db }}"
            workgroup: "{{ inputs.athena_workgroup }}"
            outputLocation: "s3://company-athena-results/"
            query: "SELECT COUNT(*) AS row_count FROM curated_daily WHERE dt = current_date - interval '1' day"

          - id: gate
            type: io.kestra.plugin.core.flow.If
            condition: "{{ (outputs.validate.rows[0].row_count | int) >= inputs.min_rows and (outputs.validate.rows[0].row_count | int) <= inputs.max_rows }}"
            then:
              - id: write_metrics
                type: io.kestra.plugin.aws.dynamodb.PutItem
                tableName: "{{ inputs.dynamodb_table }}"
                item:
                  dt: "{{ now() | date('yyyy-MM-dd') }}"
                  row_count: "{{ outputs.validate.rows[0].row_count }}"
                  glue_run: "{{ outputs.run_glue.runId }}"

              - id: notify_ok
                type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
                url: "{{ secret('SLACK_WEBHOOK') }}"
                payload: |
                  {
                    "text": ":bar_chart: Daily pipeline complete. Rows: {{ outputs.validate.rows[0].row_count }}. <{{ execution.url }}|View>"
                  }
            else:
              - id: page_oncall
                type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
                url: "{{ secret('PAGER_WEBHOOK') }}"
                payload: |
                  {
                    "text": ":alert: Daily row count {{ outputs.validate.rows[0].row_count }} outside expected window [{{ inputs.min_rows }}, {{ inputs.max_rows }}]. <{{ execution.url }}|Investigate>"
                  }

comparison:
  title: "Kestra vs AWS orchestration alternatives"
  subtitle: "Kestra wraps the AWS API with first-class tasks across 46 services. The competitors below are the AWS-native ways teams glue services together today, each with strengths and trade-offs."
  competitors:
    - name: "Step Functions + Lambda glue"
      logoAsset: "aws-step-functions"
    - name: "EventBridge rules + Lambda fan-out"
      pluginClass: "io.kestra.plugin.aws.eventbridge.PutEvents"
    - name: "Custom code on EC2 / ECS"
      pluginClass: "io.kestra.plugin.scripts.shell.Commands"
  rows:
    - feature: "S3 trigger with prefix/regex filter and fan-out"
      kestra: "✓ s3.Trigger with action MOVE or DELETE on processed files"
      values:
        - "S3 notification to Lambda to Step Function, three resources"
        - "S3 to EventBridge to rule to Lambda, four resources"
        - "Custom poller code"
    - feature: "Lambda dispatch from non-AWS event sources"
      kestra: "✓ lambda.Invoke from any Kestra trigger"
      values:
        - "API Gateway + Lambda + Step Function entry"
        - "Pub/Sub or webhook to EventBridge to Lambda"
        - "Custom HTTP listener"
    - feature: "Approval gate before a service call"
      kestra: "✓ Pause + resume, named reviewer logged"
      values:
        - "Step Function Wait + custom approval Lambda"
        - "Not native"
        - "Custom approval UI"
    - feature: "EMR Serverless on backlog signal"
      kestra: "✓ CloudWatch query + If + StartServerlessJobRun in one flow"
      values:
        - "Step Function with custom watcher Lambda"
        - "EventBridge schedule + Lambda controller"
        - "Custom watcher service"
    - feature: "Cross-account ops via stsRole on every task"
      kestra: "✓ stsRoleArn property on each AWS task"
      values:
        - "Custom role-assume Lambda step"
        - "Cross-account EventBridge bus + per-account rules"
        - "Custom assume-role code"
    - feature: "Glue + Athena + DynamoDB in one flow"
      kestra: "✓ Native plugin tasks, outputs flow forward"
      values:
        - "Step Function with three Lambdas"
        - "Three EventBridge rules + glue logic"
        - "Custom code"
    - feature: "Chain AWS with non-AWS tools (dbt, Slack, GitHub)"
      kestra: "✓ Outputs flow into any plugin task"
      values:
        - "Lambda glue for each external call"
        - "EventBridge to API Destinations + custom logic"
        - "Custom integrations"
    - feature: "Self-hosted, air-gapped, OSS edition"
      kestra: "✓ Self-hosted by default, OSS edition free"
      values:
        - "AWS-managed only"
        - "AWS-managed only"
        - "Self-hosted"
    - feature: "Vendor lock-in"
      kestra: "✓ AWS plugin is one of 1300+; portable orchestration"
      values:
        - "Step Functions ASL is AWS-only"
        - "EventBridge rules are AWS-only"
        - "Custom code, portable but unsupported"

postCompareCta:
  eyebrow: "Deeper comparison"
  title: "Kestra vs AWS Step Functions"
  description: "Side-by-side breakdown across event sources, cross-account ops, EMR Serverless dispatch, multi-service chaining, and portability beyond AWS."
  cta:
    label: "See the full comparison"
    href: "/vs/aws-step-functions"

faq:
  - question: "Does Kestra replace Step Functions?"
    answer: "Step Functions is great for AWS-native state machines that live entirely inside AWS, especially with deep integration into Lambda and Map states for parallel processing. Kestra is a general-purpose orchestrator that calls the AWS API as one of 1300+ plugins. Use Step Functions when every step is AWS and you want the ASL state machine. Use Kestra when the flow spans AWS plus non-AWS tools (dbt, Snowflake, Slack, GitHub, ServiceNow), needs approval gates from your team UI, and benefits from portable YAML over AWS-only ASL."
  - question: "How does Kestra authenticate to AWS?"
    answer: "Standard AWS auth chain. Static credentials (accessKeyId, secretAccessKey) for local dev. Instance role for Kestra workers running on EC2 or ECS. IRSA (IAM Roles for Service Accounts) when Kestra runs on EKS. For cross-account ops, every task accepts stsRoleArn, stsRoleSessionName, and stsRoleExternalId to assume a role per task. Secrets go through Kestra's secrets backend; nothing AWS-credential-shaped lives in flow YAML."
  - question: "How does the S3 trigger handle high-throughput buckets?"
    answer: "s3.Trigger polls on a configured interval (default conservative). For high-throughput buckets, use a shorter interval (PT10S) and tight prefix/regex filters so the trigger only sees files it should fire on. Set action: MOVE or action: DELETE on processed files to keep the next poll cheap. For very high throughput, fan out at the S3 layer via prefix-sharded buckets, each with its own trigger flow. State is maintained per trigger to prevent reprocessing."
  - question: "Can Kestra orchestrate EMR clusters that need GPU nodes?"
    answer: "Yes. emr.CreateClusterAndSubmitSteps accepts custom instance types including GPU instance families (g5, p4d, p5). Define the cluster with the GPU pool, submit Spark/Hadoop steps that target it, and the cluster auto-terminates when keepJobFlowAliveWhenNoSteps is false (default). For Pod-native GPU workloads, pair with the <a href='/orchestration/kubernetes'>Kubernetes plugin</a> and EMR-on-EKS to run Spark on a long-lived EKS cluster's GPU nodes."
  - question: "Can the same flow operate across multiple AWS accounts?"
    answer: "Yes. Every AWS task accepts stsRoleArn for cross-account assume-role. The pattern: iterate a list of (account_alias, role_arn) tuples with ForEach, set stsRoleArn dynamically per iteration. One flow walks dev, staging, prod accounts in sequence. Approval gates between environment groups (non-prod, then prod) use the same Pause + resume mechanism. No federation infrastructure required beyond the trust relationships on the assumed roles."
  - question: "What about EventBridge: is it still useful with Kestra?"
    answer: "Yes, for fanning OUT to consumers. eventbridge.PutEvents publishes events to a custom bus when a flow step completes. Downstream consumers (other Lambdas, third-party SaaS, on-call systems) pick them up. The flow no longer DEPENDS on EventBridge rules for its own routing, but EventBridge as a publish target keeps your existing fanout patterns intact. Decouple the orchestration from the notification fanout."
  - question: "Is the AWS plugin Enterprise-only?"
    answer: "No. The io.kestra.plugin.aws plugin ships in the open-source edition with 46 tasks: s3.*, lambda.Invoke, glue.*, emr.*, athena.Query, dynamodb.*, sqs.*, sns.Publish, eventbridge.PutEvents, cloudwatch.*, ecr.GetAuthToken, auth.EksToken, cloudformation.*, cli.AwsCLI, plus 6 triggers (s3, sqs, kinesis, cloudwatch). Kestra Enterprise adds Apps, namespace-scoped RBAC, audit logs, worker isolation, SSO, and the AWS Batch task runner that runs flow tasks as AWS Batch jobs."
  - question: "Can Kestra run in an air-gapped AWS account or VPC?"
    answer: "Yes. Kestra ships self-hosted on Docker, ECS, or EKS, runs fully inside a private VPC, and uses VPC endpoints for AWS API access. The OSS edition runs air-gapped with no external dependency beyond your AWS API endpoints. See <a href='/infra-automation'>Kestra for infrastructure automation</a> for the broader self-hosted picture across AWS, Kubernetes, Terraform, and Cloudflare."

resources:
  title: "More on AWS and Kestra"
  items:
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates AWS, Kubernetes, Terraform, Cloudflare, and the rest of the stack in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Run AWS workloads alongside Kubernetes and GitHub Actions"
      description: "The common pattern: GitHub Actions builds and pushes to ECR, Kestra dispatches an EMR Serverless job from the new image, results land in DynamoDB. One execution across three platforms."
      href: "/orchestration/kubernetes"
    - kind: "plugin"
      title: "AWS plugin reference"
      description: "Every AWS task (S3, Lambda, Glue, EMR, Athena, DynamoDB, SQS, SNS, EventBridge, CloudWatch, ECR, CloudFormation, CLI) with copy-ready YAML and full property reference."
      href: "/plugins/plugin-aws"

seeHow:
  title: "Ready to coordinate AWS without the EventBridge tangle?"
  description: "Fan out S3 events to dbt and Lambda from one trigger. Spin EMR Serverless on backlog. Rotate IAM keys across accounts with a prod gate. Chain Glue, Athena, and DynamoDB in one execution history. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
