src/contents/orchestration/github-actions.yaml
title: "Orchestrate GitHub Actions with Kestra: dispatch workflows, chain non-GitHub tools"
description: "Dispatch GitHub Actions workflows from cron, S3, Kafka, or any HTTP signal. Chain Actions output with non-GitHub tools, gate deploys, auto-manage issues and PRs."

tool:
  name: "GitHub Actions"
  pluginClass: "io.kestra.plugin.github.actions.RunWorkflow"
  color: "#2088FF"

hero:
  title: "Fire GitHub Actions on data, not commits."
  description: "Dispatch a workflow_dispatch from cron, S3 events, Kafka messages, dbt completions, or any HTTP signal. Pass typed inputs, listen for the workflow_run webhook back, auto-open issues on flow failure, and chain Actions output with Terraform, dbt, or ServiceNow in one execution history."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

pillars:
  title: "Above the runner, around the workflow."
  subtitle: "GitHub Actions runs the job inside the runner. Kestra wraps everything around it: when a workflow_dispatch fires, what runs before, who approves the prod deploy, and where the cross-tool audit trail lives once the runner exits. The workflow YAML, the matrix, and the action marketplace stay where they are."
  items:
    - icon: "mdi:lightning-bolt-outline"
      title: "workflow_dispatch from triggers GitHub Actions cannot use"
      description: "GitHub Actions fires on push, pull_request, schedule, or the workflow_dispatch UI. Kestra fires it on a Kafka message, an S3 file landing, a dbt Cloud job completing, a Fivetran sync, a Pylon ticket, or any HTTP webhook. The actions.RunWorkflow task sends the dispatch with a typed inputs payload, and the workflow YAML stays in the repo where it belongs."
    - icon: "mdi:source-branch-sync"
      title: "Workflow output flows forward to non-GitHub tasks"
      description: "The runner finishes, GitHub sends the workflow_run webhook back to Kestra's Webhook trigger, and the next flow step starts. Outputs from the Actions run, the test artifact, the built image digest, the deployment URL, become inputs to a Terraform apply, a dbt build, a ServiceNow ticket update, or a Slack release note. One execution ID across the chain."
    - icon: "mdi:message-outline"
      title: "Open issues, comment on PRs, raise PRs as flow steps"
      description: "issues.Create opens an issue against the right repo when a critical upstream flow fails, with the execution URL and the failing step in the body. issues.Comment posts test results back to the PR that triggered the original run. pulls.Create raises a PR for auto-generated config changes (rotated secrets, new env values, dependabot-style updates) and waits for review."
    - icon: "mdi:magnify"
      title: "Search-driven dispatch across the whole org"
      description: "repositories.Search returns every repo matching an org + topic + language filter. code.Search finds every file with a pattern. A ForEach iterates over the result and dispatches the same workflow per repo. GitHub Actions matrices cannot span repositories, so security scans, dependency bumps, or compliance checks across 200 repos become one flow definition."
    - icon: "mdi:gate-arrow-right"
      title: "Approval gate before the prod deploy workflow fires"
      description: "GitHub Environments offer protection rules per environment, but they live inside one workflow definition. Kestra's Pause task gates the dispatch itself: the flow runs pre-flight checks (Trivy scan, Cosign verify, staging tests), surfaces a summary in the Kestra UI with the candidate revision, and pauses. A named reviewer resumes and only then does actions.RunWorkflow fire the prod workflow."
    - icon: "mdi:eye-outline"
      title: "One execution context across Actions, Terraform, dbt, ServiceNow"
      description: "The GitHub Actions tab shows runs in isolation. Kestra shows the whole story: what upstream event fired the workflow, who approved each gate, what the Actions runner produced, what ran after, and which step in the broader pipeline failed. The execution history pages link directly to the Actions run, the Terraform plan, and the ServiceNow ticket created downstream."

useCases:
  title: "How GitHub Actions teams use Kestra around the runner"
  subtitle: "Patterns engineering teams ship in production. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Event-driven"
      badgeIcon: "mdi:lightning-bolt-outline"
      title: "Dispatch the deploy workflow when dbt finishes, not when a commit lands"
      description: "A dbt Cloud job completes. Kestra picks up the completion via webhook, runs a quick freshness check on the new tables, then fires actions.RunWorkflow against deploy.yml with the new revision as a workflow_dispatch input. GitHub Actions builds, deploys, and sends its workflow_run webhook back. Slack confirms with the deploy URL. The commit that triggered everything is two upstream steps away from the runner."
      flow:
        - node: "dbt completes"
          label: "webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "freshness check"
          label: "validate tables"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "dispatch workflow"
          label: "deploy.yml"
          pluginClass: "io.kestra.plugin.github.actions.RunWorkflow"
        - node: "wait for completion"
          label: "workflow_run webhook"
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "notify"
          label: "Slack with deploy URL"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Dispatch fires the moment upstream is ready"
          description: "No git poll, no committed trigger file, no waiting on the next cron. dbt finishes at 11:47, the deploy starts at 11:47."
        - title: "Typed inputs into workflow_dispatch"
          description: "The new revision, the target environment, and the feature flag set all pass through as named workflow inputs."
        - title: "workflow_run webhook closes the loop"
          description: "GitHub fires workflow_run on completion. Kestra's Pause task resumes when the matching run ID arrives."
        - title: "One execution ID covers dbt, GitHub Actions, and Slack"
          description: "Debugging starts in the Kestra UI. The execution links directly to the dbt run, the Actions run, and the Slack message."
          wide: true
    - badge: "Reactive"
      badgeIcon: "mdi:message-outline"
      title: "Open a GitHub issue automatically when a production flow fails"
      description: "A scheduled flow that loads warehouse data fails on the dbt step. The errors branch runs issues.Create against the data-platform repo with the failing step name, the execution URL, the last 50 log lines, and an @-mention for the on-call rotation. The same branch comments on the most recent PR that touched the failing model. Engineers wake up to context, not a paging alert."
      flow:
        - node: "scheduled flow"
          label: "cron"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "load + transform"
          label: "main task chain"
          pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
        - node: "errors branch"
          label: "on any failure"
          pluginClass: "io.kestra.plugin.core.flow.Subflow"
        - node: "find recent PR"
          label: "pulls.Search"
          pluginClass: "io.kestra.plugin.github.pulls.Search"
        - node: "open issue"
          label: "issues.Create"
          pluginClass: "io.kestra.plugin.github.issues.Create"
        - node: "comment on PR"
          label: "issues.Comment"
          pluginClass: "io.kestra.plugin.github.issues.Comment"
      items:
        - title: "Cross-repo issue creation"
          description: "The failure happens in the orchestrator. The issue opens in the repo that owns the model. GitHub Actions cannot easily do this across repos."
        - title: "Context, not just an alert"
          description: "The issue body has the execution URL, the failing step, the last logs, and a link back to the runtime view in Kestra."
        - title: "PR comment with the same context"
          description: "If the failing model was touched in a recent PR, the flow finds it via pulls.Search and posts the same context as a PR comment."
          wide: true
    - badge: "Multi-repo"
      badgeIcon: "mdi:magnify"
      title: "Dispatch the same workflow to every repo with a tag"
      description: "repositories.Search returns every repo in the org tagged platform-service. A ForEach iterates over the result. Per repo, actions.RunWorkflow fires the same security-scan.yml workflow with the scan profile as input. Each workflow_run webhook updates a running summary in Kestra. Slack posts the final report with per-repo pass or fail. GitHub Actions matrices cannot span repositories. Kestra can."
      flow:
        - node: "schedule"
          label: "nightly"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "find repos"
          label: "topic:platform-service"
          pluginClass: "io.kestra.plugin.github.repositories.Search"
        - node: "ForEach repo"
          label: "dispatch per repo"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "dispatch workflow"
          label: "security-scan.yml"
          pluginClass: "io.kestra.plugin.github.actions.RunWorkflow"
        - node: "aggregate results"
          label: "per-repo pass/fail"
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "summary"
          label: "Slack report"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Search defines the fleet"
          description: "Tag-based, language-based, or topic-based filters in repositories.Search. The list updates itself as repos are added or labeled."
        - title: "Per-repo isolation"
          description: "Each dispatched workflow runs in its own repo with the repo's own secrets and runners. Kestra coordinates, GitHub Actions executes."
        - title: "One summary instead of N tabs"
          description: "The flow aggregates per-repo results and posts a single Slack report. The Actions tab in each repo still shows the raw run."
          wide: true
    - badge: "Promotion"
      badgeIcon: "mdi:gate-arrow-right"
      title: "Approval-gated prod deploy with full pre-flight"
      description: "An image lands in the registry. Kestra runs Trivy for critical CVEs and Cosign for signature verify. It pulls the staging workflow_run status via the GitHub API to confirm tests passed there. The summary surfaces in the Kestra UI: scan result, sig status, staging test pass count, candidate digest. A Pause task waits for a named reviewer. On resume, actions.RunWorkflow fires deploy-prod.yml with the verified digest and the reviewer name baked into the workflow input."
      flow:
        - node: "image push"
          label: "registry webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "trivy scan"
          label: "CRITICAL check"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "cosign verify"
          label: "signature check"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "fetch staging status"
          label: "GitHub API"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "approval gate"
          label: "named reviewer"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "dispatch prod"
          label: "deploy-prod.yml"
          pluginClass: "io.kestra.plugin.github.actions.RunWorkflow"
        - node: "wait + notify"
          label: "workflow_run + Slack"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Gate sits before the dispatch, not inside the workflow"
          description: "GitHub Environments protect deployments inside a workflow. Kestra gates the dispatch itself, so the workflow_run never starts until pre-flight passes and a reviewer resumes."
        - title: "Reviewer name passes into the workflow"
          description: "The Pause output includes the reviewer identity. That value flows into the workflow_dispatch input, so the Actions log shows who approved the release."
        - title: "Pre-flight evidence stays in one place"
          description: "Trivy output, Cosign result, staging test summary, and the reviewer signature all live in the Kestra execution. The Actions log links back."
          wide: true

quotes:
  - quote: "Terraform is quite a big deal for us because that's basically how we work most of the day to roll out changes. Kestra will be the entity to roll out everything. This should resolve the issues we are facing currently with everyone working in parallel."
    author: "BSI Software"
    logoFile: "bsi"

blueprints:
  title: "Blueprints for GitHub Actions orchestration."
  lead: "One blueprint per use case above. Copy the YAML, set your GitHub PAT, point at your repo, ship it."
  items:
    - name: "Dispatch deploy workflow when dbt finishes"
      title: "Trigger a GitHub Actions deploy when upstream data is ready"
      description: "Kestra catches the dbt completion webhook, runs a freshness check, dispatches the deploy workflow with the new revision, waits for the workflow_run completion event, then posts to Slack with the deploy URL."
      href: "/blueprints?tags=Infrastructure"
      plugins:
        - "io.kestra.plugin.core.trigger.Webhook"
        - "io.kestra.plugin.github.actions.RunWorkflow"
        - "io.kestra.plugin.core.flow.Pause"
        - "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      code: |
        id: github-actions-deploy-on-dbt
        namespace: company.platform

        inputs:
          - id: revision
            type: STRING
            description: "Git revision (commit SHA) to deploy."
          - id: environment
            type: STRING
            defaults: "prod"

        triggers:
          - id: dbt_complete
            type: io.kestra.plugin.core.trigger.Webhook
            key: dbt-deploy

        tasks:
          - id: freshness_check
            type: io.kestra.plugin.core.http.Request
            uri: "https://warehouse.example.com/freshness"
            method: GET

          - id: dispatch_deploy
            type: io.kestra.plugin.github.actions.RunWorkflow
            oauthToken: "{{ secret('GITHUB_TOKEN') }}"
            repository: "company/platform"
            workflowId: "deploy.yml"
            ref: "main"
            inputs:
              revision: "{{ inputs.revision }}"
              environment: "{{ inputs.environment }}"
              triggered_by: "kestra"

          - id: wait_for_workflow_run
            type: io.kestra.plugin.core.flow.Pause
            description: |
              Waiting for GitHub Actions workflow_run webhook on revision {{ inputs.revision }}.
              The workflow's final step posts back to this Kestra execution.

          - id: notify
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":rocket: Deployed {{ inputs.revision }} to {{ inputs.environment }}. <{{ execution.url }}|Execution>"
              }

        errors:
          - id: notify_failure
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":alert: Dispatch failed for {{ inputs.revision }}. <{{ execution.url }}|View execution>"
              }
    - name: "Open issue on flow failure"
      title: "Errors branch opens a GitHub issue with execution context"
      description: "When a production flow fails, the errors branch finds the most recent PR touching the relevant code, opens a GitHub issue with the failing step and execution URL, and posts the same context as a PR comment."
      href: "/blueprints?tags=Infrastructure"
      plugins:
        - "io.kestra.plugin.github.pulls.Search"
        - "io.kestra.plugin.github.issues.Create"
        - "io.kestra.plugin.github.issues.Comment"
      code: |
        id: failure-to-github-issue
        namespace: company.platform

        inputs:
          - id: repo
            type: STRING
            defaults: "company/data-platform"
          - id: search_path
            type: STRING
            defaults: "models/marts"

        tasks:
          - id: data_pipeline
            type: io.kestra.plugin.dbt.cli.DbtCLI
            commands:
              - dbt build --target prod

        errors:
          - id: find_recent_pr
            type: io.kestra.plugin.github.pulls.Search
            oauthToken: "{{ secret('GITHUB_TOKEN') }}"
            query: "repo:{{ inputs.repo }} is:merged sort:updated-desc {{ inputs.search_path }}"

          - id: open_issue
            type: io.kestra.plugin.github.issues.Create
            oauthToken: "{{ secret('GITHUB_TOKEN') }}"
            repository: "{{ inputs.repo }}"
            title: ":fire: Production flow failed: {{ flow.id }}"
            body: |
              The scheduled flow `{{ flow.id }}` in namespace `{{ flow.namespace }}` failed.

              **Failing step**: `{{ task.id }}`
              **Execution**: {{ execution.url }}
              **Triggered at**: {{ execution.startDate }}

              cc @oncall-rotation
            labels:
              - "incident"
              - "p1"

          - id: comment_on_pr
            type: io.kestra.plugin.github.issues.Comment
            oauthToken: "{{ secret('GITHUB_TOKEN') }}"
            repository: "{{ inputs.repo }}"
            issueNumber: "{{ outputs.find_recent_pr.uri | jq('.[0].number') | first }}"
            body: |
              :warning: A production flow that touches code in this PR has just failed.
              See execution: {{ execution.url }}
    - name: "Cross-repo workflow dispatch"
      title: "Run the same workflow across every repo with a tag"
      description: "Searches the org for every repo with the platform-service topic, dispatches the security-scan.yml workflow per repo, waits for each workflow_run completion, and posts a single summary to Slack with per-repo pass or fail."
      href: "/blueprints?tags=Infrastructure"
      plugins:
        - "io.kestra.plugin.github.repositories.Search"
        - "io.kestra.plugin.core.flow.ForEach"
        - "io.kestra.plugin.github.actions.RunWorkflow"
      code: |
        id: cross-repo-security-scan
        namespace: company.platform

        inputs:
          - id: org
            type: STRING
            defaults: "company"
          - id: topic
            type: STRING
            defaults: "platform-service"

        triggers:
          - id: nightly
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "0 3 * * *"

        tasks:
          - id: find_repos
            type: io.kestra.plugin.github.repositories.Search
            oauthToken: "{{ secret('GITHUB_TOKEN') }}"
            query: "org:{{ inputs.org }} topic:{{ inputs.topic }}"

          - id: dispatch_each
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ outputs.find_repos.uri }}"
            tasks:
              - id: dispatch_scan
                type: io.kestra.plugin.github.actions.RunWorkflow
                oauthToken: "{{ secret('GITHUB_TOKEN') }}"
                repository: "{{ json(taskrun.value).full_name }}"
                workflowId: "security-scan.yml"
                ref: "main"
                inputs:
                  profile: "critical-only"
                  triggered_by: "kestra-nightly"

          - id: summary
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":mag: Nightly security scan dispatched across {{ outputs.find_repos.uri | length }} repos. <{{ execution.url }}|View execution>"
              }

comparison:
  title: "Kestra vs GitHub Actions orchestration alternatives"
  subtitle: "Kestra wraps the GitHub API with native event triggers from non-Git sources, cross-repo dispatch, issue and PR automation from flows, approval gates outside the workflow YAML, and chains with non-GitHub tools. The competitors below are how teams typically trigger Actions from outside today."
  competitors:
    - name: "GitHub Actions native (schedule + workflow_dispatch)"
      logoAsset: "github-actions"
    - name: "Custom webhook listener + GitHub API"
      pluginClass: "io.kestra.plugin.scripts.shell.Commands"
    - name: "Reusable workflows + workflow_call"
      logoAsset: "github-actions"
  rows:
    - feature: "Dispatch a workflow from a non-Git event (Kafka, S3, dbt)"
      kestra: "✓ Native triggers, actions.RunWorkflow with typed inputs"
      values:
        - "schedule cron + manual UI dispatch only"
        - "Build and host the listener yourself"
        - "Still GitHub-internal, no external triggers"
    - feature: "Capture workflow_run completion in another flow step"
      kestra: "✓ Webhook trigger + Pause resume on matching run ID"
      values:
        - "Not in scope, no external flow"
        - "Custom polling against the runs API"
        - "Only within the same workflow"
    - feature: "Dispatch the same workflow across N repos in one run"
      kestra: "✓ repositories.Search + ForEach + actions.RunWorkflow"
      values:
        - "Manual per-repo dispatch"
        - "Custom for-loop in your listener"
        - "Cannot span repositories"
    - feature: "Open issues, comment on PRs from the flow"
      kestra: "✓ issues.Create, issues.Comment, pulls.Create as flow tasks"
      values:
        - "Action steps inside the workflow only"
        - "Custom code"
        - "Inside the workflow only"
    - feature: "Approval gate before dispatch (not inside workflow)"
      kestra: "✓ Pause + resume, named reviewer logged"
      values:
        - "GitHub Environments protect inside the workflow"
        - "Custom approval UI"
        - "GitHub Environments inside the called workflow"
    - feature: "Chain Actions output with non-GitHub tasks"
      kestra: "✓ Outputs flow into Terraform, dbt, ServiceNow, Slack tasks"
      values:
        - "Action steps in the workflow only"
        - "Custom code per chain"
        - "Same workflow scope"
    - feature: "One execution history across Actions, dbt, Terraform, ServiceNow"
      kestra: "✓ One execution ID, links to each system"
      values:
        - "Actions tab only"
        - "Custom dashboard"
        - "Actions tab only"
    - feature: "Self-hosted, air-gapped, OSS edition"
      kestra: "✓ Self-hosted by default, OSS edition free"
      values:
        - "GHE Actions or hosted runners"
        - "Self-hosted"
        - "GHE or hosted"
    - feature: "Beyond GitHub: orchestrate the rest of the stack"
      kestra: "✓ 1300+ plugins, cross-stack"
      values:
        - "GitHub ecosystem only"
        - "Whatever you write"
        - "GitHub ecosystem only"

faq:
  - question: "Does Kestra replace GitHub Actions?"
    answer: "No. GitHub Actions still runs the workflow inside the runner, with the matrix, the marketplace actions, and the secrets. Kestra calls the GitHub API through the io.kestra.plugin.github plugin to fire workflow_dispatch from events GitHub Actions cannot trigger on, to manage issues and PRs from flows, and to chain the workflow output with non-GitHub tasks. The workflow YAML stays where it is."
  - question: "How does Kestra dispatch a GitHub Actions workflow?"
    answer: "The actions.RunWorkflow task calls the GitHub REST API to send a workflow_dispatch event. You pass the repo, the workflow file (or ID), the ref (branch or tag), and a map of typed inputs that the workflow declares under on.workflow_dispatch.inputs. The workflow run starts in the target repo as if a maintainer clicked Run workflow in the UI, except the trigger source is the Kestra flow and the inputs come from the upstream context."
  - question: "How does Kestra know when the workflow finished?"
    answer: "Two options. Option A, recommended: configure the workflow's final step to POST back to a Kestra Webhook trigger. The Pause task in the dispatching flow listens for the matching run ID and resumes. Option B: poll the Actions runs API from a follow-up http.Request task with a retry block. Option A is preferred because it is event-driven and consumes no API quota while waiting."
  - question: "Can a flow open a GitHub issue or comment on a PR when something fails?"
    answer: "Yes, that is a common pattern. Put issues.Create in the errors branch of a flow. The body templating gives you the failing task, the execution URL, the namespace, and any output values you want to surface. issues.Comment lets the flow post back to an existing issue or PR (use pulls.Search first to find the most recent PR touching the affected code). pulls.Create raises a PR for auto-generated config changes."
  - question: "Can Kestra dispatch the same workflow to many repos at once?"
    answer: "Yes. repositories.Search returns matching repos for an org + topic + language + name pattern query. A ForEach iterates over the result list. Per repo, actions.RunWorkflow fires the same workflow file with the same or different inputs. GitHub Actions matrices stay inside one workflow run in one repo. The Kestra pattern crosses repositories and aggregates results in one place."
  - question: "How does Kestra authenticate to GitHub?"
    answer: "Three options, depending on your security posture. Personal access token (oauthToken) is the simplest for org-internal flows. GitHub App installation token (appInstallationToken) is recommended for production with fine-grained repo-scoped access. GitHub App JWT (jwtToken) authenticates as the App itself for org-level operations. Tokens go through Kestra's secrets backend and never appear in logs."
  - question: "Where does the approval gate sit, in the workflow or before it?"
    answer: "Before it. GitHub Environments protect deployment jobs inside a workflow run, after the runner has already started. Kestra's Pause task sits before actions.RunWorkflow, so the dispatch itself does not fire until a named reviewer resumes. Pre-flight checks (Trivy, Cosign, staging test summary) surface in the Kestra UI for the reviewer to inspect, and the reviewer identity is recorded against the execution."
  - question: "Is the GitHub plugin Enterprise-only?"
    answer: "No. The io.kestra.plugin.github plugin ships in the open-source edition with all the tasks: actions.RunWorkflow, issues.Create, issues.Comment, pulls.Create, repositories.Search, commits.Search, code.Search, and more. Kestra Enterprise adds Apps for self-service forms (engineers trigger dispatch through a typed form), namespace-scoped RBAC, audit logs, worker isolation, and SSO."
  - question: "Can Kestra run alongside GitHub Enterprise Server (self-hosted GitHub)?"
    answer: "Yes. Set the endpoint property on the github plugin tasks to your GHE base URL (https://ghe.example.com/api/v3) and Kestra reaches your private GitHub. Kestra itself ships self-hosted on Docker or Kubernetes, air-gapped if needed. See <a href='/infra-automation'>Kestra for infrastructure automation</a> for the broader picture across GitHub, GitLab, Terraform, and the rest of the stack."

resources:
  title: "More on GitHub Actions and Kestra"
  items:
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates GitHub Actions, Terraform, Ansible, Docker, Argo CD, and the rest of the stack in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Chain GitHub Actions with Argo CD"
      description: "The common pattern: Kestra fires the CI workflow on event, GitHub Actions builds and signs the image, Kestra fires the Argo CD sync at the verified digest."
      href: "/orchestration/argocd"
    - kind: "plugin"
      title: "GitHub plugin reference"
      description: "Every GitHub task (actions.RunWorkflow, issues.*, pulls.*, code.Search, repositories.Search) with copy-ready YAML examples and full property reference."
      href: "/plugins/plugin-github"

seeHow:
  title: "Ready to fire GitHub Actions on what actually matters?"
  description: "Dispatch workflows from data events instead of commits, gate the prod deploy with a named reviewer, auto-open issues from failed flows, and dispatch the same workflow across every repo with a tag. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
