src/contents/orchestration/hightouch.yaml
title: "Orchestrate Hightouch with Kestra: event-driven reverse-ETL across your data stack"
description: "Run the Airbyte to dbt to Hightouch chain in one flow, gate activation on dbt tests, fan out to multiple destinations, and audit every row push from one place."

tool:
  name: "Hightouch"
  pluginClass: "io.kestra.plugin.hightouch.Sync"
  color: "#d1f05d"

hero:
  title: "Run Hightouch syncs only when the data is right."
  description: "Reverse-ETL fails when bad rows ship. Kestra chains Airbyte, dbt build, dbt test, and the Hightouch sync. A failing test halts the chain before any row touches Salesforce, and row counts post to the approval channel before production fires."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Reverse-ETL has one failure mode that matters: pushing bad data to the CRM. Kestra wraps Hightouch with the steps that make activation safe. It runs Airbyte ingest with retries that don't cascade, builds and tests dbt models as a hard gate before any sync (see <a href='/orchestration/dbt-core'>dbt Core</a> or <a href='/orchestration/dbt-cloud'>dbt Cloud</a>), fans out to Salesforce, HubSpot, and Iterable in parallel with per-destination isolation, and pauses for human approval with row counts surfaced."

pillars:
  title: "Above the Hightouch sync scheduler."
  subtitle: "Hightouch solves the destination wiring and field mappings. Kestra solves the steps that have to run around the sync to make activation safe."
  items:
    - icon: "mdi:test-tube"
      title: "dbt tests as a hard gate before activation"
      description: "Hightouch's scheduler does not know whether the model it is about to read passed its tests. If a <code>dbt test</code> regresses overnight, the next sync activates bad rows to Salesforce or HubSpot. Kestra runs <code>dbt test</code> as a separate task between build and sync. A failure halts the chain, pages the on-call, and the Hightouch sync never fires. The classic reverse-ETL anti-pattern of shipping silently broken data disappears."
    - icon: "mdi:pipe-disconnected"
      title: "One flow for ingest, transform, activate"
      description: "Hightouch's run history stops at the destination boundary. It has no record of the Airbyte connection that produced the warehouse data or the dbt build that shaped the activation mart. Kestra runs Airbyte, <a href='/orchestration/dbt-core'>dbt</a>, and Hightouch as steps in one flow. Step retries do not cascade: a dbt retry never re-runs Airbyte, a Hightouch retry never re-runs dbt, and run IDs from each step flow forward for traceability."
    - icon: "mdi:eye-outline"
      title: "Approval gate with row counts surfaced"
      description: "Promoting a sync from staging to production with no human review burns trust the first time a definition change ships ten thousand wrong rows. Kestra runs the staging sync first, posts the row counts to a notification channel (<a href='/orchestration/slack'>Slack</a>, Microsoft Teams, or any webhook target), and pauses for a named reviewer. Only after explicit approval in the Kestra UI does the production sync fire. Reviewer identity and timestamp are stored in execution history."
    - icon: "mdi:lightning-bolt-outline"
      title: "Event-driven syncs, not cron buffers"
      description: "Hightouch's built-in scheduler fires on a cron interval. If dbt runs long or a Fivetran sync slips, the next tick activates stale rows. Kestra triggers the Hightouch sync the moment the upstream task confirms success, whether that's a <code>dbt build</code>, a webhook from Fivetran, a Snowflake task event, or any HTTP signal. The cron padding that builds on stale data goes away."
    - icon: "mdi:source-branch"
      title: "Per-destination failure isolation in fan-out"
      description: "One activation mart powers Salesforce, HubSpot, Iterable, and Braze through separate Hightouch syncs. With one scheduler, a Salesforce API outage takes down the whole batch. With Kestra, <code>allowFailure</code> on each task isolates the failure: HubSpot keeps shipping, and the right owner gets paged for the right destination."
    - icon: "mdi:account-cog-outline"
      title: "Self-service triggers for marketing and ops"
      description: "Hightouch's UI is built for sync configuration. It does not give marketing a form to fire a one-off Iterable resync after a campaign launch, or ops a button to backfill HubSpot after a data correction. Kestra Apps wraps any flow in a typed form. Non-engineers fire the sync they need, and every trigger lands in execution history with the user's identity."

useCases:
  title: "How teams use Hightouch and Kestra"
  subtitle: "Patterns reverse-ETL teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Canonical chain"
      badgeIcon: "mdi:pipe-disconnected"
      title: "Airbyte to dbt to Hightouch in one flow"
      description: "Airbyte syncs, then <a href='/orchestration/dbt-core'>dbt</a> builds the activation marts on BigQuery (or Snowflake, Postgres, Redshift), then Hightouch fires. <a href='/orchestration/slack'>Slack</a> confirms with the Hightouch run ID. Step retries stay local: a dbt failure never re-runs Airbyte."
      flow:
        - node: "schedule or event"
          label: "trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "airbyte sync"
          label: "ingest"
          pluginClass: "io.kestra.plugin.airbyte.connections.Sync"
        - node: "dbt build"
          label: "transform"
          pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
        - node: "hightouch sync"
          label: "activate"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "slack"
          label: "Hightouch run ID"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Step retries do not cascade"
          description: "A dbt retry never re-runs the Airbyte ingest, and a Hightouch retry never re-runs dbt."
        - title: "Run IDs flow forward"
          description: "Airbyte job ID, dbt results, and the Hightouch run ID land in one execution view."
        - title: "Swap warehouses by container image"
          description: "Swap the dbt image for <code>dbt-snowflake</code>, <code>dbt-postgres</code>, or <code>dbt-redshift</code>."
          wide: true
    - badge: "Quality gate"
      badgeIcon: "mdi:test-tube"
      title: "Halt activation when dbt tests fail"
      description: "Data quality checks gate the activation. Kestra runs <code>dbt build</code>, then <code>dbt test</code> as a separate task. A test failure halts the chain and pages PagerDuty so the on-call can fix the regression before any row touches HubSpot or Salesforce. On pass, Hightouch fires and <a href='/orchestration/slack'>Slack</a> confirms."
      flow:
        - node: "dbt build"
          label: "build the marts"
          pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
        - node: "dbt test"
          label: "quality gate"
          pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
        - node: "hightouch sync"
          label: "activate only on pass"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "pagerduty"
          label: "page on test fail"
          pluginClass: "io.kestra.plugin.pagerduty.PagerDutyAlert"
      items:
        - title: "Hard halt before sync"
          description: "Hightouch never fires when <code>dbt test</code> fails. Bad rows do not reach the CRM."
        - title: "PagerDuty for the on-call"
          description: "Quality regressions page the rotation, not just log to <a href='/orchestration/slack'>Slack</a>."
        - title: "Elementary or great_expectations work too"
          description: "Swap <code>dbt test</code> for any quality framework. The gate is task-level, not tool-specific."
          wide: true
    - badge: "Multi-destination"
      badgeIcon: "mdi:source-branch"
      title: "Fan out to Salesforce, HubSpot, and Iterable in parallel"
      description: "One activation mart, many destinations. Kestra fans the dbt output to multiple Hightouch syncs in parallel: Salesforce for sales ops, HubSpot for marketing, Iterable for lifecycle messaging. Failures are isolated per destination, and the failing sync's owner is paged directly."
      flow:
        - node: "dbt build"
          label: "build the mart"
          pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
        - node: "salesforce sync"
          label: "sales ops"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "hubspot sync"
          label: "marketing"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "iterable sync"
          label: "lifecycle"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "slack per dest"
          label: "targeted alert"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Parallel or sequential"
          description: "Parallel for speed, or sequential with <code>allowFailure</code> when downstream depends on upstream."
        - title: "Per-destination owner pings"
          description: "Salesforce failure pages sales ops, HubSpot failure pages marketing. Not the whole data team."
        - title: "Row counts per destination"
          description: "Hightouch outputs the run ID and metrics per sync. Kestra surfaces them in one execution view."
          wide: true
    - badge: "Governance"
      badgeIcon: "mdi:shield-check-outline"
      title: "Staging-to-prod with row counts at the gate"
      description: "Kestra runs the staging Hightouch sync, posts row counts to Microsoft Teams as an Adaptive Card, then pauses. The reviewer reads the added, removed, and changed counts in the <code>Pause</code> description and resumes in the Kestra UI. Only then does the production sync fire. Identity and timestamp logged automatically."
      flow:
        - node: "staging sync"
          label: "test destination"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "teams"
          label: "approval needed"
          pluginClass: "io.kestra.plugin.microsoft365.teams.TeamsIncomingWebhook"
        - node: "pause / review"
          label: "human approves"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "production sync"
          label: "live destination"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "slack complete"
          label: "audit log"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Notification before the Pause"
          description: "Reviewers are paged the moment staging finishes. The <code>Pause</code> is not a silent wait."
        - title: "Row counts in the Pause description"
          description: "Templated from <code>outputs.run_staging.runId</code> and the Hightouch run metrics."
        - title: "Reviewer + timestamp logged"
          description: "Identity and approval moment stored in execution history automatically."
        - title: "Two sync IDs, one flow"
          description: "Same flow drives both environments. Staging and production sync IDs are typed inputs."
    - badge: "Operations"
      badgeIcon: "mdi:tune-vertical"
      title: "Throttled full resync after a schema change"
      description: "Schema changes force a full reload, but Salesforce caps the data loader at 5,000 records per call and HubSpot at 100 per batch. Kestra fans the syncs in waves with delays between, sets <code>fullResynchronization</code> to <code>true</code> from a typed input, and surfaces per-destination metrics without tripping limits."
      flow:
        - node: "manual input"
          label: "full=true"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "wave 1"
          label: "Salesforce + HubSpot"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "wait"
          label: "respect rate limits"
          pluginClass: "io.kestra.plugin.core.flow.Sleep"
        - node: "wave 2"
          label: "Iterable + Braze"
          pluginClass: "io.kestra.plugin.hightouch.Sync"
        - node: "slack report"
          label: "per-sync metrics"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "fullResynchronization from input"
          description: "Typed flow input flips the <code>Sync</code> task between incremental and full reload with no code change."
        - title: "Throttling via Sleep between waves"
          description: "Built-in <code>Sleep</code> task delays the next wave so the destination API does not throttle."
        - title: "Self-service via Kestra Apps"
          description: "Non-engineers trigger a full resync through a form without touching YAML."
          wide: true

quotes:
  - quote: "Kestra has been a keystone to design complex execution flows while enhancing our Infrastructure as Code best practices. It now empowers our ingestion with Airbyte, transformation with dbt, and our Hightouch reverse-ETL jobs seamlessly."
    author: "Antoine Balliet, Senior Data Engineer at Gorgias"
    logoFile: "gorgias"
    storyLink: "/customer-stories/gorgias-using-declarative-data-engineering-orchestration-with-kestra"
    kpis:
      - name: "Workflows in production"
        value: "70+"
      - name: "Executions per month"
        value: "20,000+"
  - quote: "When we discovered Kestra, it was instant love at first sight. It's the perfect solution to streamline all our projects, and it's now become our go-to orchestration platform."
    author: "Hamis Badarou, Bouygues Immobilier (Valorissimo)"
    logoFile: "bouygues"
    storyLink: "/customer-stories/bouygues-immobilier-platform-orchestrate-its-marketing-data-with-kestra"
    kpis:
      - name: "Conversion rate uplift"
        value: "2x"
      - name: "Marketing campaigns"
        value: "Automated"

blueprints:
  title: "Blueprints for Hightouch orchestration."
  lead: "Production-ready flows. Copy the YAML, wire it to your stack."
  items:
    - name: "Airbyte to dbt to Hightouch chain"
      blueprintId: "hightouch-airbyte-dbt-activation"
      title: "Airbyte to dbt to Hightouch with Slack confirmation"
      description: "Airbyte ingests, <code>dbt build</code> runs models and tests inline, Hightouch activates, <a href='/orchestration/slack'>Slack</a> confirms with the run ID. Step retries stay local: a dbt failure never re-runs Airbyte. The errors handler posts a Slack alert on any failure."
      href: "/blueprints"
      flowDiagram:
        source:
          label: "Schedule or webhook"
          sublabel: "cron or upstream event"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Ingest, transform, activate"
          sublabel: "step-local retries"
        tools:
          - label: "Airbyte sync"
            pluginClass: "io.kestra.plugin.airbyte.connections.Sync"
          - label: "dbt build"
            pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
          - label: "Hightouch sync"
            pluginClass: "io.kestra.plugin.hightouch.Sync"
          - label: "Slack notify"
            pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
        outcome:
          label: "Destination updated"
          sublabel: "one execution ID"
          icon: "mdi:pipe-disconnected"
      plugins:
        - "io.kestra.plugin.airbyte.connections.Sync"
        - "io.kestra.plugin.dbt.cli.DbtCLI"
        - "io.kestra.plugin.hightouch.Sync"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: hightouch-airbyte-dbt-activation
        namespace: company.team

        inputs:
          - id: airbyte_connection_id
            type: STRING
          - id: hightouch_sync_id
            type: INT

        tasks:
          - id: airbyte_sync
            type: io.kestra.plugin.airbyte.connections.Sync
            connectionId: "{{ inputs.airbyte_connection_id }}"
            wait: true

          - id: dbt_build
            type: io.kestra.plugin.dbt.cli.DbtCLI
            commands:
              - dbt deps
              - dbt build

          - id: hightouch_sync
            type: io.kestra.plugin.hightouch.Sync
            token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
            syncId: "{{ inputs.hightouch_sync_id }}"
            wait: true

          - id: notify
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK_URL') }}"
            payload: |
              {
                "text": "Activation complete. Hightouch run {{ outputs.hightouch_sync.runId }} (execution {{ execution.id }})."
              }

        pluginDefaults:
          - type: io.kestra.plugin.airbyte.connections.Sync
            values:
              url: "{{ secret('AIRBYTE_URL') }}"
              token: "{{ secret('AIRBYTE_TOKEN') }}"
          - type: io.kestra.plugin.dbt.cli.DbtCLI
            values:
              taskRunner:
                type: io.kestra.plugin.scripts.runner.docker.Docker
              containerImage: ghcr.io/kestra-io/dbt-bigquery:latest
              namespaceFiles:
                enabled: true

        errors:
          - id: alert_on_failure
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK_URL') }}"
            payload: |
              {
                "text": "Activation chain failed in {{ flow.namespace }}.{{ flow.id }} (execution {{ execution.id }})."
              }
    - name: "dbt test gate before activation"
      blueprintId: "hightouch-dbt-test-gate"
      title: "dbt test gate before Hightouch activation"
      description: "Build dbt, run <code>dbt test</code> as a separate task, activate Hightouch only on pass. A failure halts the flow and pages PagerDuty; Hightouch never fires, so bad rows do not reach the CRM. On pass, <a href='/orchestration/slack'>Slack</a> confirms with the run ID."
      href: "/blueprints"
      flowDiagram:
        source:
          label: "Build trigger"
          sublabel: "manual or scheduled"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Build, test, activate"
          sublabel: "test failure halts chain"
        tools:
          - label: "dbt run"
            pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
          - label: "dbt test"
            pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
          - label: "Hightouch sync"
            pluginClass: "io.kestra.plugin.hightouch.Sync"
          - label: "PagerDuty page"
            pluginClass: "io.kestra.plugin.pagerduty.PagerDutyAlert"
        outcome:
          label: "Only validated rows ship"
          sublabel: "or chain halts"
          icon: "mdi:test-tube"
      plugins:
        - "io.kestra.plugin.dbt.cli.DbtCLI"
        - "io.kestra.plugin.hightouch.Sync"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
        - "io.kestra.plugin.pagerduty.PagerDutyAlert"
      code: |
        id: hightouch-dbt-test-gate
        namespace: company.team

        inputs:
          - id: hightouch_sync_id
            type: INT

        tasks:
          - id: dbt_run
            type: io.kestra.plugin.dbt.cli.DbtCLI
            commands:
              - dbt deps
              - dbt run

          - id: dbt_test
            type: io.kestra.plugin.dbt.cli.DbtCLI
            commands:
              - dbt test

          - id: hightouch_sync
            type: io.kestra.plugin.hightouch.Sync
            token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
            syncId: "{{ inputs.hightouch_sync_id }}"
            wait: true

          - id: notify_success
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK_URL') }}"
            payload: |
              {
                "text": "dbt tests passed, Hightouch run {{ outputs.hightouch_sync.runId }} synced (execution {{ execution.id }})."
              }

        pluginDefaults:
          - type: io.kestra.plugin.dbt.cli.DbtCLI
            values:
              taskRunner:
                type: io.kestra.plugin.scripts.runner.docker.Docker
              containerImage: ghcr.io/kestra-io/dbt-bigquery:latest
              namespaceFiles:
                enabled: true

        errors:
          - id: page_on_quality_failure
            type: io.kestra.plugin.pagerduty.PagerDutyAlert
            url: https://events.pagerduty.com/v2/enqueue
            payload: |
              {
                "routing_key": "{{ secret('PAGERDUTY_ROUTING_KEY') }}",
                "event_action": "trigger",
                "payload": {
                  "summary": "Reverse-ETL halted: dbt tests failed before Hightouch activation (execution {{ execution.id }})",
                  "source": "kestra",
                  "severity": "warning"
                }
              }
    - name: "Staging-to-prod approval"
      blueprintId: "hightouch-staging-to-prod-approval"
      title: "Staging-to-prod promotion with Teams approval"
      description: "Staging Hightouch sync runs first. Kestra posts an Adaptive Card to Microsoft Teams with the run ID, pauses for review, then fires the production sync. Reviewer identity and timestamp are logged automatically; <a href='/orchestration/slack'>Slack</a> confirms when production completes."
      href: "/blueprints"
      flowDiagram:
        source:
          label: "Promotion trigger"
          sublabel: "manual or webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        workflow:
          label: "Staging, gate, prod"
          sublabel: "named reviewer logged"
        tools:
          - label: "Staging sync"
            pluginClass: "io.kestra.plugin.hightouch.Sync"
          - label: "Teams approval"
            pluginClass: "io.kestra.plugin.microsoft365.teams.TeamsIncomingWebhook"
          - label: "Pause"
            pluginClass: "io.kestra.plugin.core.flow.Pause"
          - label: "Production sync"
            pluginClass: "io.kestra.plugin.hightouch.Sync"
          - label: "Slack confirm"
            pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
        outcome:
          label: "Prod sync audited"
          sublabel: "approver + timestamp"
          icon: "mdi:shield-check-outline"
      plugins:
        - "io.kestra.plugin.hightouch.Sync"
        - "io.kestra.plugin.microsoft365.teams.TeamsIncomingWebhook"
        - "io.kestra.plugin.core.flow.Pause"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: hightouch-staging-to-prod-approval
        namespace: company.team

        inputs:
          - id: staging_sync_id
            type: INT
          - id: production_sync_id
            type: INT
          - id: approval_timeout
            type: DURATION
            defaults: PT4H

        tasks:
          - id: run_staging
            type: io.kestra.plugin.hightouch.Sync
            token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
            syncId: "{{ inputs.staging_sync_id }}"
            wait: true

          - id: notify_approval
            type: io.kestra.plugin.microsoft365.teams.TeamsIncomingWebhook
            url: "{{ secret('TEAMS_WEBHOOK_URL') }}"
            payload: |
              {
                "type": "message",
                "attachments": [
                  {
                    "contentType": "application/vnd.microsoft.card.adaptive",
                    "content": {
                      "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                      "type": "AdaptiveCard",
                      "version": "1.4",
                      "body": [
                        {
                          "type": "TextBlock",
                          "size": "Large",
                          "weight": "Bolder",
                          "text": "Hightouch sync awaiting approval"
                        },
                        {
                          "type": "TextBlock",
                          "text": "Staging Hightouch run {{ outputs.run_staging.runId }} complete. Review row counts before promoting to production (execution {{ execution.id }}).",
                          "wrap": true
                        }
                      ]
                    }
                  }
                ]
              }

          - id: approve_production
            type: io.kestra.plugin.core.flow.Pause
            pauseDuration: "{{ inputs.approval_timeout }}"

          - id: run_production
            type: io.kestra.plugin.hightouch.Sync
            token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
            syncId: "{{ inputs.production_sync_id }}"
            wait: true

          - id: notify_complete
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK_URL') }}"
            payload: |
              {
                "text": "Hightouch production sync complete after approval. Run {{ outputs.run_production.runId }} (execution {{ execution.id }})."
              }

comparison:
  title: "Kestra vs the orchestration alternatives Hightouch teams evaluate"
  subtitle: "When Hightouch's built-in scheduler is not enough, and a generic orchestrator costs you Python glue, here is how Kestra compares."
  competitors:
    - name: "Prefect"
      logoAsset: "prefect"
    - name: "Airflow"
      logoAsset: "airflow"
    - name: "GitHub Actions"
      pluginClass: "io.kestra.plugin.github.actions.RunWorkflow"
  rows:
    - feature: "Trigger Hightouch on upstream completion"
      kestra: "✓ Native event triggers"
      values:
        - "Event polling, Python code required"
        - "Sensor-based polling"
        - "Cron or Git events only"
    - feature: "dbt test as a gate before Hightouch sync"
      kestra: "✓ Native task ordering"
      values:
        - "Python flow logic required"
        - "Operator chain"
        - "Step ordering, no native dbt operator"
    - feature: "Approval gate before customer-facing sync"
      kestra: "✓ Native pause + resume"
      values:
        - "Available in Prefect 2.x+"
        - "Custom sensor workaround"
        - "Environment approvals (deploy only)"
    - feature: "Per-destination failure isolation in fan-out"
      kestra: "✓ allowFailure + per-task error handlers"
      values:
        - "Task-level retry"
        - "Per-task retry, custom error routing"
        - "Limited"
    - feature: "Row-level Hightouch metrics in execution view"
      kestra: "✓ Surfaced as task metrics"
      values:
        - "Custom logging required"
        - "Custom logging required"
        - "Logs only"
    - feature: "Self-service triggers for marketing or ops"
      kestra: "✓ Kestra Apps"
      values:
        - "No native form layer"
        - "No"
        - "No"
    - feature: "Declarative YAML, IaC-friendly (Terraform)"
      kestra: "✓ Pure YAML + Terraform provider"
      values:
        - "Python first, YAML deployments"
        - "Python DAGs"
        - "YAML, limited to repo events"

faq:
  - question: "What's the difference between Hightouch's built-in scheduler and Kestra?"
    answer: "Hightouch's scheduler fires syncs on a cron interval, or after a Hightouch-internal model build. It was designed for Hightouch-only scheduling and has no visibility into what produced the warehouse model it is about to read. Kestra sits above that: it runs Airbyte ingest, <a href='/orchestration/dbt-core'>dbt</a> build, <code>dbt test</code>, and the Hightouch sync as steps in one flow. It halts on a failing test before any row touches the destination, and gates production behind a human <code>Pause</code>. Kestra works with Hightouch, not instead of it."
  - question: "Can Kestra trigger a Hightouch sync the moment dbt finishes?"
    answer: "Yes. The <a href='/orchestration/dbt-core'>dbt CLI</a> task and the <code>io.kestra.plugin.hightouch.Sync</code> task run sequentially in the same flow. Kestra polls Hightouch every second until terminal status (<code>wait: true</code> is the default). The next task only starts after the sync confirms, so there is no cron buffer between dbt and Hightouch and no chance of activating stale rows."
  - question: "How do I stop Hightouch from syncing when dbt tests fail?"
    answer: "Run <code>dbt test</code> as a separate task between <code>dbt run</code> and the Hightouch sync. If any test fails, Kestra halts the flow before the Hightouch task starts, and the errors handler fires (the dbt-test-gate blueprint uses PagerDuty). Hightouch never runs against failing data."
  - question: "How does the approval gate work before a production Hightouch sync?"
    answer: "Kestra runs the staging Hightouch sync first, posts the staging run ID and row counts to a notification channel (the blueprint uses Microsoft Teams Adaptive Cards), and pauses. A named reviewer reads the row counts in the <code>Pause</code> description and resumes the flow in the Kestra UI. Only then does the production sync fire. The reviewer identity and timestamp are stored in execution history automatically."
  - question: "Can one flow fan out to Salesforce, HubSpot, and Iterable in parallel?"
    answer: "Each Hightouch sync ID runs as a separate <code>Sync</code> task. They can run in parallel for speed or sequentially for dependency control. <code>allowFailure</code> on each task isolates failures, so a Salesforce auth issue does not block the HubSpot sync. Per-destination metrics surface in the execution view, and a targeted <a href='/orchestration/slack'>Slack</a> alert routes to the right owner."
  - question: "Does the Hightouch Sync task support fullResynchronization?"
    answer: "Yes. Set <code>fullResynchronization: true</code> on the <code>Sync</code> task, or parameterize it from a typed flow input. The default is incremental. For large rebuilds after a schema change, run syncs in waves with a <code>Sleep</code> task between to respect destination API rate limits like Salesforce's 5,000-record cap per data loader call."
  - question: "Is Kestra self-hosted or managed?"
    answer: "Kestra offers multiple deployment options: fully self-hosted on Docker or Kubernetes, a managed cloud version, or air-gapped for regulated environments. The open-source edition includes unlimited workflows and event-driven triggers. Self-hosted gives complete control over where your pipeline execution and credentials live, which matters when the data being activated is customer PII."

seeHow:
  title: "Ready to orchestrate your Hightouch syncs?"
  description: "Run the canonical reverse-ETL chain in one flow, gate activation on dbt tests, and audit every row push. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
