src/contents/orchestration/kubernetes.yaml
title: "Orchestrate Kubernetes with Kestra: Pod execution, rolling restarts, multi-cluster"
description: "Run heavy Pods inside the cluster as flow steps. Server-side apply on event, rolling restarts on Secret rotation, and the same flow across many K8s clusters."

tool:
  name: "Kubernetes"
  pluginClass: "io.kestra.plugin.kubernetes.core.PodCreate"
  color: "#326CE5"

hero:
  title: "Run Pods inside Kubernetes as flow steps."
  description: "Schedule a Pod with GPU as a task and stream container logs back to the Kestra execution view. Server-side apply manifests on event, restart Deployments after Secret rotation, patch ConfigMaps when an upstream value changes, and run the same flow across many clusters from one definition."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

pillars:
  title: "Direct cluster API, not GitOps reconciliation."
  subtitle: "Argo CD reconciles what should be deployed from Git. This plugin acts on the cluster directly: spawns Pods as flow steps, patches Secrets, rolls Deployments, reads live state into flow inputs. Two complementary patterns, two different sources of truth, both first-class in Kestra."
  items:
    - icon: "mdi:chip"
      title: "PodCreate runs a workload inside the cluster, no shell-out"
      description: "PodCreate spawns a Pod from a manifest spec, streams container logs back into the Kestra execution view, handles file upload via init containers and download via sidecars, and deletes the Pod by default after completion. Run a 50GB Python training job, a Spark batch on EMR-on-EKS, or a CUDA workload using the cluster's own GPU nodes. No kubectl in a Shell task, no separate Kestra runner with GPUs."
    - icon: "mdi:source-branch-plus"
      title: "Server-side apply when the source of truth isn't Git"
      description: "kubectl.Apply runs server-side apply on YAML or JSON manifests with optional waitUntilReady. Drive the apply from any upstream event: a Vault secret rotation, a config value updated in a non-Git source, an approval gate that just passed. Argo CD reconciles from Git; this task applies directly when the source of truth is upstream events."
    - icon: "mdi:restart"
      title: "Rolling restart on event, not on annotation-poke"
      description: "kubectl.Restart triggers a rolling restart on a Deployment or StatefulSet by name. Chain it after Secret rotation, ConfigMap update, or external dependency change. The kubectl rollout restart annotation pattern, but driven by an event chain rather than a human running a command. waitUntilReady is ignored here because the rollout itself is the wait."
    - icon: "mdi:format-list-checks"
      title: "Patch and Get for surgical changes and state reads"
      description: "kubectl.Patch applies Strategic Merge (default), JSON Merge, or JSON Patch operations to a namespaced resource. waitUntilReady ensures reconciliation before downstream tasks fire. kubectl.Get reads resources into the flow context, so a ConfigMap value, a Deployment status, or a list of Pods matching a label all become flow inputs without parsing kubectl output."
    - icon: "mdi:delete-sweep-outline"
      title: "Delete by kind and name, scoped to the namespace"
      description: "kubectl.Delete removes named resources of a given kind from a namespace. Use to tear down test environments, clean up ephemeral preview deployments tied to closed PRs, or remove a tenant's resources when an offboarding flow fires. Namespaced resources only, with explicit apiGroup and apiVersion."
    - icon: "mdi:earth"
      title: "Same flow, different clusters via kubeconfig"
      description: "Every task accepts a kubeconfig path or inline config from Kestra secrets. Run the same flow definition against staging, prod, or a per-customer tenant cluster by parameterizing the kubeconfig per execution. EKS, GKE, AKS, OpenShift, on-prem K8s all addressable from one flow. Pair with the EksToken task from the AWS plugin for short-lived EKS authentication."

useCases:
  title: "How platform teams use Kubernetes and Kestra"
  subtitle: "Patterns engineering teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Compute"
      badgeIcon: "mdi:chip"
      title: "Train an ML model on the cluster's GPU nodes from a flow"
      description: "PodCreate spawns a Pod with nvidia.com/gpu: 1 and a node selector for the GPU pool. An init container mounts the training dataset from S3. The main container runs the training script. A sidecar uploads the model artifact and metrics back to Kestra internal storage. Logs stream into the execution view in real time, so a 4-hour training run is debuggable as it happens, not after it finishes."
      flow:
        - node: "scheduled trigger"
          label: "or webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "create gpu pod"
          label: "PodCreate"
          pluginClass: "io.kestra.plugin.kubernetes.core.PodCreate"
        - node: "stream logs"
          label: "container output"
          pluginClass: "io.kestra.plugin.kubernetes.core.PodCreate"
        - node: "collect artifact"
          label: "via sidecar"
          pluginClass: "io.kestra.plugin.kubernetes.core.PodCreate"
        - node: "register model"
          label: "external registry"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "notify"
          label: "Slack with metrics"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Cluster's GPUs, not a separate Kestra worker"
          description: "The expensive node pool the cluster already runs. No duplicate hardware on the orchestrator side."
        - title: "Init + sidecar handle data movement"
          description: "Input dataset mounted before the main container starts; output artifact uploaded after it ends. Same Pod lifecycle."
        - title: "Logs streamed live to the execution view"
          description: "Long-running jobs surface their progress in Kestra without external log shipping."
        - title: "Pod is cleaned up after completion"
          description: "Default behavior. Set a different lifecycle if you need to keep the Pod around for forensics."
          wide: true
    - badge: "Secret rotation"
      badgeIcon: "mdi:key-variant"
      title: "Rotate a Vault secret, restart the Deployments that read it"
      description: "A scheduled flow rotates the DB credential in Vault. Pods read the secret via the Vault sidecar, but they need a restart to pick up the new value if the sidecar caches. kubectl.Patch annotates the affected Deployments with a rollout timestamp; kubectl.Restart triggers a rolling restart; kubectl.Get polls Available replicas until the rollout completes. One flow, one execution ID across Vault and Kubernetes."
      flow:
        - node: "weekly schedule"
          label: "cron"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "rotate in vault"
          label: "new credential"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "patch deployments"
          label: "annotate rollout"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Patch"
        - node: "rolling restart"
          label: "all reading pods"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Restart"
        - node: "wait for ready"
          label: "Available = desired"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Get"
        - node: "notify"
          label: "Slack confirm"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Rotation is one flow, not two systems"
          description: "Vault, the Patch, the Restart, the wait, the notify. One execution to audit, one place to debug a failure."
        - title: "Per-Deployment scope"
          description: "Patch and Restart take resource names. List the Deployments that consume the rotated secret; the flow handles each."
        - title: "Wait gated on real readiness"
          description: "kubectl.Get with waitUntilReady polls until Available replicas equal desired. No fixed sleep, no flaky timing."
          wide: true
    - badge: "State-driven"
      badgeIcon: "mdi:eye-outline"
      title: "Promote staging to prod only if Pods are Ready"
      description: "After kubectl.Apply ships the new manifest to staging, kubectl.Get fetches the Deployment status. An If task branches on the Ready replica count vs desired. If matched, the flow applies the same manifest to prod. If not, the flow opens a GitHub issue with the failing namespace and Pod statuses, then stops. Promotion gated on cluster reality, never on a 'should be ready by now' sleep."
      flow:
        - node: "release trigger"
          label: "manual or schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "apply staging"
          label: "server-side apply"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Apply"
        - node: "read status"
          label: "kubectl.Get"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Get"
        - node: "ready?"
          label: "branch on replicas"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "apply prod"
          label: "same manifest"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Apply"
        - node: "open issue on fail"
          label: "errors branch"
          pluginClass: "io.kestra.plugin.github.issues.Create"
      items:
        - title: "Gate on actual cluster state"
          description: "Available replicas, Ready conditions, Pod phases. Not on a 'wait 5 minutes and hope' pattern."
        - title: "Two environments, one manifest"
          description: "Same YAML applied to staging and to prod. The branch only decides whether to promote, never what to apply."
        - title: "Failure produces context, not silence"
          description: "An errors branch opens a GitHub issue with the namespace, the failing Deployment, and the Pod statuses captured by Get."
          wide: true
    - badge: "Multi-cluster"
      badgeIcon: "mdi:earth"
      title: "Apply the same manifest to every tenant cluster in parallel"
      description: "A SaaS platform team runs one K8s cluster per customer tenant. A release flow iterates a list of (tenant_name, kubeconfig_secret) tuples via ForEach. Each iteration runs kubectl.Apply against the tenant cluster, waits for Ready, posts per-tenant status to Slack. The same flow definition spans all tenants. No per-cluster pipeline, no duplicated YAML, no separate CI per customer."
      flow:
        - node: "release trigger"
          label: "manual"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "fetch tenant list"
          label: "from inventory"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "ForEach tenant"
          label: "parallel"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "apply manifest"
          label: "per-cluster kubeconfig"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Apply"
        - node: "wait ready"
          label: "kubectl.Get"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Get"
        - node: "per-tenant status"
          label: "Slack per tenant"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Kubeconfig per tenant, in Kestra secrets"
          description: "One secret per cluster. The flow reads the right kubeconfig per iteration. No long-lived static creds in the flow YAML."
        - title: "Parallel apply across tenants"
          description: "ForEach with concurrency runs all tenant applies at once. A blast-radius limit caps concurrency for safety."
        - title: "Per-tenant rollback path"
          description: "If a tenant apply fails, the errors branch kubectl.Apply's the previous manifest revision for that tenant only."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for Kubernetes orchestration."
  lead: "One blueprint per use case above. Copy the YAML, set the kubeconfig in Kestra secrets, point at your cluster, ship it."
  items:
    - name: "Run a GPU Pod and collect its artifact"
      title: "PodCreate with GPU request, stream logs, save the model artifact"
      description: "Spawns a Pod with a GPU resource request on a node selector for the GPU pool. The main container runs a training script; a sidecar collects the resulting model file and writes it to Kestra internal storage. Slack confirms with the artifact URI and runtime metrics."
      href: "/blueprints?tags=Infrastructure"
      plugins:
        - "io.kestra.plugin.core.trigger.Schedule"
        - "io.kestra.plugin.kubernetes.core.PodCreate"
        - "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      code: |
        id: k8s-gpu-training
        namespace: company.ml

        inputs:
          - id: namespace
            type: STRING
            defaults: "ml-jobs"
          - id: dataset_uri
            type: STRING
            description: "S3 URI of the training dataset."

        tasks:
          - id: train
            type: io.kestra.plugin.kubernetes.core.PodCreate
            namespace: "{{ inputs.namespace }}"
            spec:
              containers:
                - name: trainer
                  image: company/ml-trainer:latest
                  args:
                    - "--dataset"
                    - "{{ inputs.dataset_uri }}"
                  resources:
                    limits:
                      nvidia.com/gpu: "1"
                      memory: "32Gi"
              nodeSelector:
                node-pool: "gpu"
              restartPolicy: Never
            outputFiles:
              - "/output/model.bin"
              - "/output/metrics.json"

          - id: notify
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":chart_with_upwards_trend: Training done. Artifact at {{ outputs.train.outputFiles['/output/model.bin'] }}. <{{ execution.url }}|View>"
              }
    - name: "Vault rotation, patch and restart Deployments"
      title: "Rotate a Vault secret, restart every Deployment that reads it"
      description: "Calls the Vault rotation endpoint, then iterates the list of Deployments that consume the secret. Per Deployment: kubectl.Patch annotates with a rollout timestamp, kubectl.Restart triggers the rolling restart, kubectl.Get waits for Available replicas to match desired."
      href: "/blueprints?tags=Infrastructure"
      plugins:
        - "io.kestra.plugin.core.http.Request"
        - "io.kestra.plugin.kubernetes.kubectl.Patch"
        - "io.kestra.plugin.kubernetes.kubectl.Restart"
        - "io.kestra.plugin.kubernetes.kubectl.Get"
      code: |
        id: vault-rotate-and-restart
        namespace: company.platform

        triggers:
          - id: weekly
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "0 4 * * 0"

        inputs:
          - id: deployments
            type: ARRAY
            itemType: STRING
            defaults:
              - "api-gateway"
              - "billing-worker"
              - "auth-service"
          - id: namespace
            type: STRING
            defaults: "production"

        tasks:
          - id: rotate_in_vault
            type: io.kestra.plugin.core.http.Request
            uri: "{{ secret('VAULT_ADDR') }}/v1/database/rotate-role/app-db"
            method: POST
            headers:
              X-Vault-Token: "{{ secret('VAULT_TOKEN') }}"

          - id: per_deployment
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ inputs.deployments }}"
            tasks:
              - id: annotate
                type: io.kestra.plugin.kubernetes.kubectl.Patch
                namespace: "{{ inputs.namespace }}"
                kind: Deployment
                resourceName: "{{ taskrun.value }}"
                patchType: STRATEGIC_MERGE
                patch:
                  spec:
                    template:
                      metadata:
                        annotations:
                          kestra.io/rotated-at: "{{ now() }}"

              - id: restart
                type: io.kestra.plugin.kubernetes.kubectl.Restart
                namespace: "{{ inputs.namespace }}"
                kind: Deployment
                resourceNames:
                  - "{{ taskrun.value }}"

              - id: wait_ready
                type: io.kestra.plugin.kubernetes.kubectl.Get
                namespace: "{{ inputs.namespace }}"
                kind: Deployment
                resourceName: "{{ taskrun.value }}"
                waitUntilReady: PT5M
    - name: "Multi-cluster apply across tenant clusters"
      title: "ForEach tenant: apply the same manifest, wait for Ready, report per tenant"
      description: "Fetches the tenant list from an inventory API, iterates with parallel ForEach, applies the release manifest to each tenant cluster using the matching kubeconfig from Kestra secrets, waits for Ready, and posts per-tenant status to Slack. Failures route to an errors branch that rolls back that tenant only."
      href: "/blueprints?tags=Infrastructure"
      plugins:
        - "io.kestra.plugin.core.flow.ForEach"
        - "io.kestra.plugin.kubernetes.kubectl.Apply"
        - "io.kestra.plugin.kubernetes.kubectl.Get"
      code: |
        id: multi-tenant-k8s-release
        namespace: company.platform

        inputs:
          - id: manifest
            type: STRING
            description: "Manifest YAML to apply across tenant clusters."

        tasks:
          - id: fetch_tenants
            type: io.kestra.plugin.core.http.Request
            uri: "https://inventory.example.com/tenants?status=active"
            method: GET

          - id: per_tenant
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ outputs.fetch_tenants.body }}"
            concurrencyLimit: 10
            tasks:
              - id: apply
                type: io.kestra.plugin.kubernetes.kubectl.Apply
                kubeConfig: "{{ secret('KUBECONFIG_' ~ json(taskrun.value).slug | upper) }}"
                namespace: "{{ json(taskrun.value).namespace }}"
                manifest: "{{ inputs.manifest }}"
                waitUntilReady: PT3M

              - id: wait_healthy
                type: io.kestra.plugin.kubernetes.kubectl.Get
                kubeConfig: "{{ secret('KUBECONFIG_' ~ json(taskrun.value).slug | upper) }}"
                namespace: "{{ json(taskrun.value).namespace }}"
                kind: Deployment
                waitUntilReady: PT5M

              - id: notify_tenant
                type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
                url: "{{ secret('SLACK_WEBHOOK') }}"
                payload: |
                  {
                    "text": ":white_check_mark: Release applied to {{ json(taskrun.value).name }}. <{{ execution.url }}|View>"
                  }

comparison:
  title: "Kestra vs Kubernetes orchestration alternatives"
  subtitle: "Kestra wraps the Kubernetes API with first-class tasks for Pod execution, server-side apply, rolling restarts, patching, and multi-cluster ops. The competitors below are how teams typically drive cluster changes today, with different goals than this plugin."
  competitors:
    - name: "Argo CD (GitOps reconciliation)"
    - name: "kubectl in a Shell task"
    - name: "Helm + custom CI script"
  rows:
    - feature: "Run a Pod as a first-class flow step with log streaming"
      kestra: "✓ PodCreate streams container logs to the execution view"
      values:
        - "Out of scope, Argo CD deploys workloads, does not run jobs"
        - "Shell out, parse output, hope logs survive"
        - "helm run via Shell, same caveats"
    - feature: "Server-side apply driven by non-Git events"
      kestra: "✓ kubectl.Apply on any upstream trigger"
      values:
        - "Git-only by design"
        - "kubectl apply via Shell, no built-in retry or status capture"
        - "helm upgrade --install, Git-coupled"
    - feature: "Rolling restart on event chain"
      kestra: "✓ kubectl.Restart task, chained after the upstream change"
      values:
        - "Manual annotation poke or Git commit"
        - "kubectl rollout restart in Shell"
        - "Re-run helm to force rollout"
    - feature: "Read live cluster state into flow inputs"
      kestra: "✓ kubectl.Get with fetchType FETCH or STORE"
      values:
        - "Not in scope"
        - "kubectl get -o json, parse in Shell"
        - "helm status, parse output"
    - feature: "Patch with Strategic Merge / JSON Merge / JSON Patch"
      kestra: "✓ kubectl.Patch with explicit patchType"
      values:
        - "Not the GitOps pattern"
        - "kubectl patch in Shell"
        - "Not native"
    - feature: "Same flow, many clusters via per-task kubeconfig"
      kestra: "✓ kubeConfig property per task, parameterized"
      values:
        - "Argo CD project per cluster, separate setup"
        - "Multiple kubectl contexts, manual switching"
        - "Helm-per-cluster, custom CI logic"
    - feature: "Chain with non-K8s tasks (Vault, GitHub, Slack)"
      kestra: "✓ Outputs flow forward into any plugin task"
      values:
        - "Argo CD focuses on cluster state"
        - "Shell glue between every step"
        - "Custom CI orchestration"
    - feature: "Self-hosted, air-gapped, OSS edition"
      kestra: "✓ Self-hosted by default, OSS edition free"
      values:
        - "Self-hosted on cluster"
        - "Self-hosted"
        - "Self-hosted"
    - feature: "Beyond Kubernetes: orchestrate the rest of the stack"
      kestra: "✓ 1300+ plugins, cross-stack"
      values:
        - "Cluster state only"
        - "Whatever you script"
        - "Helm-centric"

faq:
  - question: "How is this different from the Argo CD page?"
    answer: "Argo CD reconciles desired state from Git: you commit a manifest, the controller applies it. This plugin acts on the cluster directly: PodCreate runs a workload now, kubectl.Apply applies a manifest now (driven by a non-Git event), kubectl.Restart rolls a Deployment now. Use Argo CD when Git is the source of truth for what should be deployed. Use this plugin when the trigger source is upstream events (Vault rotation, a flow's prior step output, a schedule) and the cluster needs to react. Most teams run both."
  - question: "What does PodCreate actually do?"
    answer: "PodCreate spawns a Pod from a manifest spec in a chosen namespace, streams container logs back into the Kestra execution view, supports init containers for input data (download a dataset before the main container starts) and sidecar containers for output data (upload artifacts after the main container ends), and by default deletes the Pod after completion. The Pod runs on the cluster's own nodes, so a GPU job runs on a GPU node, a high-memory job on a high-memory node, no extra infra on Kestra's side."
  - question: "Can I run a Spark job, a Python script, or an arbitrary container?"
    answer: "Yes, anything that runs as a Pod. Spark-on-Kubernetes operators expose a SparkApplication CRD that kubectl.Apply can submit. A plain Python script runs as a Pod with a Python image and args. A long-running batch job runs as a Pod with restartPolicy Never. The plugin does not impose a runtime; the Pod spec is yours. Pair with init/sidecar containers for input/output handling."
  - question: "How does Kestra authenticate to the Kubernetes API?"
    answer: "Three options. In-cluster: when Kestra runs inside the cluster, the default service account works automatically. Kubeconfig: each task accepts a kubeConfig property containing a path or inline kubeconfig YAML, read from Kestra secrets. Token-based: pair with auth.EksToken from the AWS plugin to generate a short-lived k8s-aws-v1 token for EKS, then pass via kubeConfig. Same patterns for GKE and AKS via their respective auth tasks."
  - question: "How does a rolling restart work in this plugin?"
    answer: "kubectl.Restart targets a Deployment or StatefulSet by name in a namespace, and triggers the same rollout that kubectl rollout restart performs: the controller annotates the Pod template with a timestamp, which forces the Pods to be recreated according to the rollout strategy. waitUntilReady is ignored for this task because the rollout itself is the wait, but pair it with kubectl.Get to block downstream tasks until the rollout completes."
  - question: "Can the same flow apply to multiple clusters in one execution?"
    answer: "Yes, that is the standard pattern for multi-tenant SaaS, multi-region deployments, and DR. A ForEach over a list of (cluster, kubeconfig_secret_name) tuples runs the same task definition per cluster, reading the matching kubeconfig from Kestra secrets per iteration. Concurrency controls cap blast radius. Per-cluster errors route to an errors branch that rolls back only the affected cluster."
  - question: "Is the Kubernetes plugin Enterprise-only?"
    answer: "No. The io.kestra.plugin.kubernetes plugin ships in the open-source edition with PodCreate, kubectl.Apply, kubectl.Get, kubectl.Patch, kubectl.Delete, and kubectl.Restart. Kestra Enterprise adds Apps (typed self-service forms so developers trigger a Pod run through a UI), namespace-scoped RBAC, audit logs, worker isolation, and the Kubernetes task runner that runs every flow task itself as a Kubernetes Pod."
  - question: "Can Kestra orchestrate Kubernetes in an air-gapped cluster?"
    answer: "Yes. Kestra ships self-hosted on Docker or Kubernetes, often deployed into the same cluster it orchestrates. In-cluster authentication uses the service account by default. The OSS edition runs air-gapped with no external dependency. See <a href='/infra-automation'>Kestra for infrastructure automation</a> for the broader picture across Kubernetes, Argo CD, Terraform, and the rest of the platform."

resources:
  title: "More on Kubernetes and Kestra"
  items:
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates Kubernetes, Argo CD, Terraform, Cloudflare, and the rest of the stack in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Pair Kubernetes with Argo CD"
      description: "How direct API operations complement Git-driven reconciliation. Two patterns, two sources of truth, both first-class in Kestra."
      href: "/orchestration/argocd"
    - kind: "plugin"
      title: "Kubernetes plugin reference"
      description: "Every Kubernetes task (PodCreate, kubectl.Apply, kubectl.Get, kubectl.Patch, kubectl.Delete, kubectl.Restart) with copy-ready YAML and full property reference."
      href: "/plugins/plugin-kubernetes"

seeHow:
  title: "Ready to run Pods inside your cluster from a flow?"
  description: "Spawn GPU Pods as flow steps, restart Deployments after Secret rotation, gate prod on staging readiness, and run the same flow across every tenant cluster. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
