src/contents/orchestration/langchain.yaml
title: "Orchestrate LangChain with Kestra: scheduled AI pipelines, RAG ingestion, and production LLM workflows"
description: "Trigger LangChain chains and agents on any event, chain AI steps with data prep and downstream storage, handle retries on rate limits, and trace every prompt and model call in one execution history."

tool:
  name: "LangChain"
  pluginClass: "io.kestra.plugin.langchain4j.TextCompletion"
  color: "#1C3C3C"

hero:
  title: "Run LangChain pipelines on a schedule, not a script."
  description: "LangChain defines the AI chain logic. Kestra decides when it runs, what data feeds it, and what happens with the output. Schedule batch runs, trigger on document arrival, and trace every prompt in one execution history."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "LangChain defines the chains, retrievers, and agents. Kestra runs the workflow around them: triggers <code>io.kestra.plugin.langchain4j.TextCompletion</code> or a Python LangChain script on a schedule or when new documents arrive, retries on rate limit errors without re-running the data prep, chains the LLM step with upstream ingestion and downstream vector store writes, and logs every prompt, model, and output in one execution record."

pillars:
  title: "Above the LangChain application layer."
  subtitle: "LangChain handles the chain logic, prompts, retrievers, and agents. Kestra handles when those chains run, what data feeds them, who reviews the output, and where the full audit trail lives."
  items:
    - icon: "mdi:clock-outline"
      title: "Scheduled AI batch runs"
      description: "LangChain applications that run as scripts have no scheduling, no retry on rate limits, and no execution history. Kestra wraps them in a scheduled flow: a <code>Schedule</code> trigger fires the flow, <code>langchain4j.TextCompletion</code> or a Python script runs the chain, and every output is logged with the prompt, model, and token count."
    - icon: "mdi:lightning-bolt-outline"
      title: "Trigger on data arrival"
      description: "RAG pipelines need to ingest new documents as they arrive, not on the next cron tick. Kestra triggers the embedding and ingestion step the moment a new file lands in S3 or GCS, runs <code>io.kestra.plugin.langchain4j.rag.IngestDocument</code>, and writes to the vector store. No polling loop in user code."
    - icon: "mdi:refresh"
      title: "Retry on rate limits without re-running prep"
      description: "A rate limit error mid-chain would re-run the entire script if retried from the top. Kestra retries at the task level: the data preparation step is separate from the LLM call, so a rate limit error retries only the LLM task without re-fetching or re-processing the input data."
    - icon: "mdi:account-check-outline"
      title: "Human approval before production output"
      description: "AI-generated content going directly to production without review is a risk. Kestra can pause a flow after the LangChain step with <code>io.kestra.plugin.core.flow.Pause</code>, wait for a human to approve the output in the Kestra UI, and only publish or write the result after explicit confirmation."
    - icon: "mdi:pipe-disconnected"
      title: "Full AI pipeline in one flow"
      description: "A production RAG pipeline involves document fetch, embedding, vector store write, and retrieval. Kestra chains these as ordered tasks in one flow. A vector store write failure retries the write without re-running the embedding step, and the full sequence shares one execution ID for debugging."
    - icon: "mdi:eye-outline"
      title: "Prompt and model call visibility"
      description: "When an AI output looks wrong, the question is what prompt ran, which model responded, and what the token count was. Kestra logs the LangChain task inputs and outputs alongside the ingestion and storage steps in one execution record, so diagnosis does not require digging through application logs."

useCases:
  title: "How teams use LangChain and Kestra"
  subtitle: "Patterns AI engineering teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "RAG ingestion"
      badgeIcon: "mdi:database-import-outline"
      title: "Scheduled document ingestion into a vector store"
      description: "New documents arrive periodically. Kestra fetches them, runs <code>langchain4j.rag.IngestDocument</code> to embed and index them in the vector store, and confirms on Slack. A failed vector write retries without re-embedding the document."
      flow:
        - node: "schedule"
          label: "periodic trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "fetch docs"
          label: "pull new content"
          pluginClass: "io.kestra.plugin.core.http.Download"
        - node: "ingest doc"
          label: "embed + index"
          pluginClass: "io.kestra.plugin.langchain4j.rag.IngestDocument"
        - node: "slack"
          label: "confirm ingestion"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Retry write in isolation"
          description: "A failed vector write retries without re-embedding the document."
        - title: "Model and token count logged"
          description: "The embedding model and token count land in execution outputs."
        - title: "Parameterized by source"
          description: "The document source URL comes from a flow input or schedule variable."
          wide: true
    - badge: "Event-driven"
      badgeIcon: "mdi:lightning-bolt-outline"
      title: "Trigger document indexing on file arrival"
      description: "A new document lands in S3 or GCS. Kestra fires immediately, runs the embedding step, writes to the vector store, and confirms. No polling loop, no cron lag between upload and availability in the RAG pipeline."
      flow:
        - node: "s3 trigger"
          label: "doc arrives"
          pluginClass: "io.kestra.plugin.aws.s3.Trigger"
        - node: "ingest doc"
          label: "embed + index"
          pluginClass: "io.kestra.plugin.langchain4j.rag.IngestDocument"
        - node: "rag confirm"
          label: "verify indexed"
          pluginClass: "io.kestra.plugin.langchain4j.rag.ChatCompletion"
        - node: "slack"
          label: "confirm"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "No polling required"
          description: "The trigger fires the moment the file appears in the bucket."
        - title: "File path from trigger"
          description: "The S3 key flows directly into the ingestion task as a variable."
        - title: "Index verification"
          description: "A RAG query confirms the document is queryable before the run closes."
          wide: true
    - badge: "Human in the loop"
      badgeIcon: "mdi:account-check-outline"
      title: "Generate content and pause for review before publishing"
      description: "LangChain generates a draft. Kestra pauses the flow with <code>Pause</code> and surfaces the draft in the Kestra UI for a human reviewer. On approval, the flow publishes. On rejection, it branches to a revision step."
      flow:
        - node: "text completion"
          label: "generate draft"
          pluginClass: "io.kestra.plugin.langchain4j.TextCompletion"
        - node: "pause"
          label: "await approval"
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "branch"
          label: "approve or reject"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "publish"
          label: "on approval"
          pluginClass: "io.kestra.plugin.core.http.Request"
      items:
        - title: "Pause with a timeout"
          description: "The flow waits up to a configured duration before auto-escalating."
        - title: "Reviewer sees full context"
          description: "The draft and the prompt are both visible in the Kestra UI."
        - title: "Auditable approval trail"
          description: "Who approved and when is logged in the execution record."
          wide: true
    - badge: "Batch LLM"
      badgeIcon: "mdi:format-list-bulleted"
      title: "Batch LLM enrichment with per-item retry"
      description: "A list of records needs LLM enrichment. Kestra fans them out with <code>ForEach</code>, runs <code>langchain4j.TextCompletion</code> per item, and retries rate-limited items without touching the others. Results are written to a downstream store."
      flow:
        - node: "fetch records"
          label: "pull batch"
          pluginClass: "io.kestra.plugin.jdbc.duckdb.Query"
        - node: "for each"
          label: "fan out"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "text completion"
          label: "enrich per item"
          pluginClass: "io.kestra.plugin.langchain4j.TextCompletion"
        - node: "write result"
          label: "store output"
          pluginClass: "io.kestra.plugin.jdbc.duckdb.Query"
      items:
        - title: "Per-item retry"
          description: "A rate limit error retries that item only, not the whole batch."
        - title: "Bounded concurrency"
          description: "<code>concurrencyLimit</code> caps parallel LLM calls to stay under rate limits."
        - title: "Results written incrementally"
          description: "Each completed item is written immediately, not batch-at-end."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for LangChain orchestration."
  lead: "Production-ready flows. Copy the YAML, wire it to your stack."
  items:
    - name: "Scheduled RAG ingestion"
      blueprintId: "langchain-rag-ingestion"
      title: "Scheduled document ingestion with LangChain4J"
      description: "Fetches new documents on a schedule, runs <code>langchain4j.rag.IngestDocument</code> to embed and index them, and confirms on Slack. A failed vector write retries without re-embedding."
      href: "/blueprints"
    - name: "Human-in-the-loop generation"
      blueprintId: "langchain-human-approval"
      title: "Generate LLM content and pause for human review"
      description: "Runs a <code>langchain4j.TextCompletion</code> task, pauses for a human reviewer in the Kestra UI, and publishes only on approval. Who approved and when is logged in the execution record."
      href: "/blueprints"
    - name: "Batch LLM enrichment"
      blueprintId: "langchain-batch-enrichment"
      title: "Batch LLM enrichment with per-item retry"
      description: "Fans a list of records out via <code>ForEach</code>, runs <code>TextCompletion</code> per item with a concurrency limit, and retries rate-limited items in isolation. Results are written incrementally."
      href: "/blueprints"

comparison:
  title: "Kestra vs the orchestration alternatives LangChain teams evaluate"
  subtitle: "When Python scripts running LangChain chains need to become reliable, observable production workflows, here is how Kestra compares."
  competitors:
    - name: "Python + cron"
      logoAsset: "python"
    - name: "Airflow"
      logoAsset: "airflow"
    - name: "Prefect"
      logoAsset: "prefect"
  rows:
    - feature: "Trigger LangChain on file arrival or event"
      kestra: "✓ Native event triggers"
      values:
        - "No event system, cron only"
        - "Sensors, Python required"
        - "Event polling code"
    - feature: "Retry LLM call without re-running data prep"
      kestra: "✓ Task-level retry"
      values:
        - "Full script retry from top"
        - "Task-level retry, Python required"
        - "Task-level retry, Python required"
    - feature: "Human approval gate before publish"
      kestra: "✓ Native Pause task"
      values:
        - "No approval mechanism"
        - "No native approval step"
        - "No native approval step"
    - feature: "Batch fan-out with rate limit control"
      kestra: "✓ ForEach + concurrencyLimit"
      values:
        - "Manual loop, no concurrency control"
        - "Dynamic task mapping"
        - "Task mapping"
    - feature: "Prompt and model call visibility"
      kestra: "✓ Task inputs and outputs logged"
      values:
        - "Application logs only"
        - "Task logs, Python required"
        - "Task run logs"
    - feature: "Self-service LLM runs for non-engineers"
      kestra: "✓ Kestra Apps"
      values:
        - "Not available"
        - "No native form layer"
        - "No native form layer"

faq:
  - question: "What does Kestra add to a LangChain application?"
    answer: "LangChain defines the chain logic, prompts, and retrievers. Kestra wraps those chains in observable, automated workflows: triggers on schedules or events, retries LLM calls at the task level without re-running data prep, pauses for human approval before publishing, and logs every prompt, model, and output in one searchable execution record."
  - question: "Does Kestra have a native LangChain plugin?"
    answer: "Kestra has a native <code>langchain4j</code> plugin that covers text completion, RAG document ingestion, and RAG chat completion. For teams using the Python LangChain library directly, Kestra runs it via <code>io.kestra.plugin.scripts.python.Script</code> in an isolated container with full execution logging."
  - question: "How does Kestra handle LLM rate limit retries?"
    answer: "Each task in Kestra has its own retry configuration. Set a retry count and backoff on the <code>TextCompletion</code> or Python script task. If the LLM call hits a rate limit, Kestra retries that task only. The data preparation step that ran before it is not re-executed, so retries are fast and do not waste compute."
  - question: "Can Kestra pause a flow for a human to review AI output before publishing?"
    answer: "Yes. The <code>io.kestra.plugin.core.flow.Pause</code> task halts execution and surfaces the current state in the Kestra UI. A reviewer can inspect the LLM output, approve or reject it from the UI, and the flow continues or branches accordingly. Who approved and when is recorded in the execution history."
  - question: "Can Kestra trigger a RAG ingestion pipeline when a new document arrives?"
    answer: "Yes. An S3 or GCS trigger fires the flow the moment a matching file lands in the bucket. The file path from the trigger is available as a named variable in the <code>langchain4j.rag.IngestDocument</code> task, so the embedding and indexing step runs immediately without a polling interval."
  - question: "Is Kestra self-hosted or managed?"
    answer: "Kestra offers fully self-hosted deployment on Docker or Kubernetes, a managed cloud version, and air-gapped options for regulated environments. The open-source edition includes unlimited workflows and event-driven triggers. Self-hosted keeps your pipeline execution, prompts, and model credentials inside your own network."

seeHow:
  title: "Ready to orchestrate your LangChain pipelines?"
  description: "Schedule batch runs, trigger on document arrival, retry rate limits at the task level, and trace every prompt in one place. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
