src/contents/orchestration/nutanix.yaml
title: "Orchestrate Nutanix AHV with Kestra: day-2 ops, recovery points, DR replication"
description: "Orchestrate Nutanix from one flow: crash- or app-consistent recovery points, cross-cluster DR replication, and Category-driven Prism inventory."

tool:
  name: "Nutanix"
  pluginClass: "io.kestra.plugin.ee.nutanix.ahv.CreateVm"
  color: "#024DA1"

hero:
  title: "Run Nutanix AHV Day-2 ops from one flow."
  description: "Capture app-consistent recovery points before patching, replicate them to a DR cluster on schedule, slice Prism inventory by Category for chargeback, and run VMware-to-AHV migration waves when the moment comes."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Replace Nutanix Self-Service (Calm) and X-Play with a workflow engine that listens to schedules or migration waves, handles crash- or app-consistent recovery points with cross-cluster DR replication, and chains AHV with <a href='/orchestration/vmware'>VMware</a>, <a href='/orchestration/ansible'>Ansible</a>, and <a href='/orchestration/servicenow'>ServiceNow</a>. Drop the Calm catalog license; cut VMware-to-AHV cutover risk to per-VM waves with rollback."

pillars:
  title: "Around every AHV operation, across every cluster."
  subtitle: "What Kestra wraps around your Nutanix clusters: how migrations from VMware land in waves, what gets a recovery point first, who approves an LCM upgrade, and where the audit lives. Prism Central and your AHV hosts stay in place. The Calm / Self-Service catalog gets replaced."
  items:
    - icon: "mdi:swap-horizontal-circle-outline"
      title: "VMware-to-AHV migration coordinated in waves"
      description: "Drive Nutanix Move through the v2 REST API from a flow: add source and target providers, build a migration plan, run readiness checks, then cut over wave by wave when each VM hits state 5 (ready for cutover). Kestra handles the wave scheduling, dependency ordering, and rollback path that Move itself does not."
    - icon: "mdi:camera-outline"
      title: "Crash- or app-consistent recovery points before any risky change"
      description: "<code>CreateVmSnapshot</code> emits a recovery point through the Nutanix dataprotection v4 API, with optional expiration. Pick crash-consistent for speed, app-consistent (Guest Tools quiesce) for databases. <code>RestoreVmSnapshot</code> reverts on a failed health check, with the <code>snapshotExtId</code> flowing forward from the create step."
    - icon: "mdi:source-branch"
      title: "AHV template versioning with the v4 lifecycle"
      description: "<code>CloneTemplate</code>, <code>ConvertVmToTemplate</code>, and <code>ConvertTemplateToVm</code> chain in a single flow. Build a new template version, deploy a test VM from it via <code>ConvertTemplateToVm</code>, run an Ansible smoke test, then mark the version active. Old versions stay deployable for rollback. The async <code>taskExtId</code> from each call is logged."
    - icon: "mdi:filter-variant"
      title: "Prism inventory and Categories as flow inputs"
      description: "<code>ListVms</code> exposes the VMM v4 OData surface: filter, sort, select, and paginate by Category, cluster, power state, or tag. Build chargeback reports grouped by department, identify drift between Categories and ServiceNow CMDB, or pull only the VMs in a given environment for a wave migration."
    - icon: "mdi:shield-check-outline"
      title: "Calm catalog replaced by Kestra Apps with named approvers"
      description: "A Kestra App is a typed form bound to a flow: dropdowns for the cluster, the Category, the template, the recovery point. Operators submit, the same audited flow runs every time. The Pause task suspends before <code>DeleteVm</code>, <code>ResetVm</code>, or a template conversion. Reviewer identity and resume timestamp land in the execution."
    - icon: "mdi:history"
      title: "Per-VM, per-task execution history with the async taskExtId"
      description: "Every AHV task returns the async <code>taskExtId</code> from Prism Central. Kestra waits on the task, surfaces success or failure inline, and stores the operator, inputs, and resulting VM <code>extId</code> with the execution. Auditors get evidence by default, attached to the execution that produced it."

useCases:
  title: "How Nutanix admins use AHV and Kestra"
  subtitle: "Patterns Nutanix platform teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Migration"
      badgeIcon: "mdi:swap-horizontal-circle-outline"
      title: "VMware-to-AHV migration coordinated in waves"
      description: "Inventory the source with <code>vmware.vcenter.ListVms</code>, build a Nutanix Move migration plan through the v2 REST API, drive readiness checks, then cut over one wave at a time. Move handles the data copy, Kestra orchestrates the wave schedule, dependency ordering, and the per-VM rollback path. The cutover commit happens only after the VM state reads 5 (ready)."
      flow:
        - node: "wave trigger"
          label: "manual or schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "source inventory"
          label: "vCenter ListVms"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.ListVms"
        - node: "Move plan"
          label: "v2 API create"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "readiness poll"
          label: "wait state=5"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "approve wave"
          label: "named reviewer"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "cutover action"
          label: "per-VM commit"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "AHV start"
          label: "power on target"
          pluginClass: "io.kestra.plugin.ee.nutanix.ahv.StartVm"
        - node: "Ansible reconfigure"
          label: "join domain, agents"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
      items:
        - title: "Wave-by-wave by Category"
          description: "Filter source VMs by Category (department, criticality, environment) and migrate one slice at a time."
        - title: "Move data copy, Kestra orchestration"
          description: "Move handles the storage replication, Kestra runs the scheduling, dependency check, and per-VM cutover gate."
        - title: "Rollback path per wave"
          description: "VMware source stays live until cutover; an errors branch can power the source VM back on and pause the wave."
        - title: "Per-VM audit trail"
          description: "Every cutover has the source vCenter UUID, the AHV <code>extId</code>, the operator, and the readiness state on record."
      signal: "Pattern based on the documented Nutanix Move v2 REST API workflow (login, build plan, poll workloads to state 5, cutover)."
    - badge: "Operations"
      badgeIcon: "mdi:camera-outline"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "<code>CreateVmSnapshot</code> emits a crash-consistent recovery point on the target AHV VM. A Shell task runs the OS update over SSH and reboots. An HTTP probe checks the application. On any failure, the <code>errors</code> branch fires <code>RestoreVmSnapshot</code> against the same <code>snapshotExtId</code> and pages on-call. Shipped as a working Kestra blueprint."
      flow:
        - node: "cron trigger"
          label: "patch window"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "pre-patch snapshot"
          label: "recovery point"
          pluginClass: "io.kestra.plugin.ee.nutanix.snapshot.CreateVmSnapshot"
        - node: "ssh patch"
          label: "apt / yum upgrade"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "health check"
          label: "HTTP probe"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "rollback on fail"
          label: "restore snapshot"
          pluginClass: "io.kestra.plugin.ee.nutanix.snapshot.RestoreVmSnapshot"
        - node: "notify"
          label: "Slack"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Crash- or app-consistent per VM"
          description: "Pick consistency per VM. Databases get quiesce via Guest Tools, stateless tiers stay crash-consistent for speed."
        - title: "Automatic rollback"
          description: "The <code>errors</code> branch restores the recovery point if the post-patch probe fails, no human required."
        - title: "Replayable per VM"
          description: "Re-run the patch on the same VM with the same <code>snapshotExtId</code> from the execution UI."
      signal: "Published as the <code>nutanix-safe-patching-workflow</code> blueprint in the Kestra catalog."
    - badge: "DR"
      badgeIcon: "mdi:shield-sync-outline"
      title: "Cross-cluster recovery point replication for DR readiness"
      description: "On a daily schedule, <code>CreateVmSnapshot</code> captures a recovery point on the production cluster. A <code>core.http.Request</code> call to the Prism Central v4 dataprotection API replicates the recovery point to the DR cluster. <code>ListVmSnapshots</code> on the DR side confirms the replica landed. The retention is set per environment via the API expiration field, so old recovery points cycle out automatically."
      flow:
        - node: "daily cron"
          label: "DR window"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "ForEach VM"
          label: "by Category"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "create recovery point"
          label: "prod cluster"
          pluginClass: "io.kestra.plugin.ee.nutanix.snapshot.CreateVmSnapshot"
        - node: "replicate to DR"
          label: "v4 API call"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "verify on DR"
          label: "list snapshots"
          pluginClass: "io.kestra.plugin.ee.nutanix.snapshot.ListVmSnapshots"
        - node: "report"
          label: "Slack summary"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Per-Category retention"
          description: "Production VMs get 14-day retention, test gets 3. The <code>expirationTime</code> on the recovery point enforces it."
        - title: "Loop by Category"
          description: "<code>ListVms</code> + OData filter gives you the VMs in scope per environment, then <code>ForEach</code> handles the per-VM replication."
        - title: "DR drill replayable"
          description: "Re-run the verify task on demand to confirm a specific recovery point still exists on the DR cluster before a drill."
        - title: "Quarterly DR exercise as a flow"
          description: "Same flow, target inputs flipped: restore on DR cluster, validate, restore production routing, all in one execution ID."
    - badge: "Inventory"
      badgeIcon: "mdi:filter-variant"
      title: "Inventory and chargeback report from Prism Central"
      description: "<code>ListVms</code> with an OData filter returns the VMs per Category (department, environment, owner). A small Python task aggregates vCPU, memory, and storage by department. The report posts to Slack and writes a row to a Google Sheet for chargeback. VMs without an owner Category get flagged as untagged."
      flow:
        - node: "weekly cron"
          label: "Monday 9am"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "ListVms"
          label: "OData filter"
          pluginClass: "io.kestra.plugin.ee.nutanix.ahv.ListVms"
        - node: "aggregate"
          label: "Python by Category"
          pluginClass: "io.kestra.plugin.scripts.python.Script"
        - node: "post Slack"
          label: "summary"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
        - node: "write Sheet"
          label: "chargeback"
          pluginClass: "io.kestra.plugin.googleworkspace.sheets.AppendValues"
      items:
        - title: "OData filter at the API"
          description: "Filter and select fields server-side via the v4 API, so the flow only ships the rows it needs."
        - title: "Untagged VM detection"
          description: "VMs without the expected Category surface in a separate Slack alert so owners can claim them."
        - title: "Weekly trend stored"
          description: "Each run appends a row to the Sheet, so leadership sees the per-department vCPU and memory trend over time."
          wide: true

quotes:
  - quote: "Kestra allowed us to move from fragmented automation to a unified control plane, secure, scalable, and manageable by all our teams."
    author: "Julien Legrand, PO Data · Crédit Agricole"
    storyLink: "/use-cases/stories/scaling-secure-infrastructure-at-credit-agricole-with-kestra"
    logoFile: "credit-agricole"

blueprints:
  title: "Blueprints for Nutanix orchestration."
  lead: "One blueprint per use case above. Copy the YAML, point it at your Prism Central, ship it."
  items:
    - name: "Safe patching with rollback"
      blueprintId: "nutanix-safe-patching-workflow"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "Provisions an AHV VM and creates a pre-patch recovery point through the v4 dataprotection API. Runs the OS update over SSH, waits for reboot, probes a health endpoint. The <code>errors</code> branch restores the recovery point and notifies Slack. Shipped as a working blueprint in the Kestra catalog."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Patch window"
          sublabel: "scheduled or ad-hoc"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Safe patching with rollback"
          sublabel: "recovery point first"
        tools:
          - label: "ahv.CreateVm"
            pluginClass: "io.kestra.plugin.ee.nutanix.ahv.CreateVm"
          - label: "Recovery point"
            pluginClass: "io.kestra.plugin.ee.nutanix.snapshot.CreateVmSnapshot"
          - label: "SSH patch"
            pluginClass: "io.kestra.plugin.scripts.shell.Commands"
          - label: "Rollback on fail"
            pluginClass: "io.kestra.plugin.ee.nutanix.snapshot.RestoreVmSnapshot"
        outcome:
          label: "Patched + audited"
          sublabel: "snapshotExtId per execution"
          icon: "mdi:shield-check-outline"
      plugins:
        - "io.kestra.plugin.ee.nutanix.ahv.CreateVm"
        - "io.kestra.plugin.ee.nutanix.snapshot.CreateVmSnapshot"
        - "io.kestra.plugin.scripts.shell.Commands"
        - "io.kestra.plugin.ee.nutanix.snapshot.RestoreVmSnapshot"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: nutanix-safe-patching-workflow
        namespace: company.team
        description: Provision a Nutanix AHV VM, emit VM/snapshot assets, apply OS updates, and rollback automatically on failure.

        inputs:
          - id: vm_name
            type: STRING
            defaults: "prod-web-server-01"

        tasks:
          - id: provision_vm
            type: io.kestra.plugin.ee.nutanix.ahv.CreateVm
            wait: true
            vm:
              name: "{{ inputs.vm_name }}"
              description: "VM created by Kestra"
              cluster:
                extId: "{{ secret('NUTANIX_CLUSTER_EXT_ID') }}"
              resources:
                numSockets: 1
                numCoresPerSocket: 2
                memorySizeBytes: 2147483648
                disks: []

          - id: safe_patching_block
            type: io.kestra.plugin.core.flow.Sequential
            tasks:
              - id: pre_patch_snapshot
                type: io.kestra.plugin.ee.nutanix.snapshot.CreateVmSnapshot
                vmExtId: "{{ outputs.provision_vm.vmExtId }}"
                snapshotName: "pre_patch_{{ execution.id }}"

              - id: apply_updates
                type: io.kestra.plugin.scripts.shell.Commands
                commands:
                  - ssh -o StrictHostKeyChecking=no admin@{{ outputs.provision_vm.vmIpAddresses[0] }} "sudo apt update && sudo apt upgrade -y && sudo reboot"

              - id: wait_for_boot
                type: io.kestra.plugin.core.flow.Pause
                delay: PT1M

              - id: health_check
                type: io.kestra.plugin.core.http.Request
                uri: "http://{{ outputs.provision_vm.vmIpAddresses[0] }}/health"
                method: "GET"

              - id: notify_success
                type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
                url: "{{ secret('SLACK_WEBHOOK') }}"
                messageText: ":white_check_mark: Patching succeeded for {{ inputs.vm_name }}."

        errors:
          - id: rollback
            type: io.kestra.plugin.ee.nutanix.snapshot.RestoreVmSnapshot
            snapshotExtId: "{{ outputs.safe_patching_block.pre_patch_snapshot.snapshotExtId }}"

          - id: notify_oncall
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":alert: Patching failed for {{ inputs.vm_name }}, rolled back to pre-patch state. <{{ execution.url }}|View execution>"

        pluginDefaults:
          - type: io.kestra.plugin.ee.nutanix
            values:
              host: "{{ secret('NUTANIX_HOST') }}"
              token: "{{ secret('NUTANIX_TOKEN') }}"
    - name: "VMware-to-AHV wave migration"
      blueprintId: "nutanix-vmware-ahv-migration"
      title: "Coordinate a Nutanix Move wave: readiness check, gate, cutover, AHV start"
      description: "Drives Nutanix Move through the v2 REST API for one wave of VMs. Polls workload state until 5 (ready for cutover), pauses for a named approver, then issues the per-VM cutover action and powers the new AHV VM on. The vCenter source stays live until cutover succeeds."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Wave trigger"
          sublabel: "manual or schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "VMware to AHV wave"
          sublabel: "state 5, then cutover"
        tools:
          - label: "Move plan API"
            pluginClass: "io.kestra.plugin.core.http.Request"
          - label: "Pause / approve"
            pluginClass: "io.kestra.plugin.core.flow.Pause"
          - label: "Cutover loop"
            pluginClass: "io.kestra.plugin.core.flow.ForEach"
          - label: "ahv.StartVm"
            pluginClass: "io.kestra.plugin.ee.nutanix.ahv.StartVm"
        outcome:
          label: "Wave on AHV"
          sublabel: "vCenter source still live"
          icon: "mdi:swap-horizontal-circle-outline"
      plugins:
        - "io.kestra.plugin.core.http.Request"
        - "io.kestra.plugin.core.flow.Pause"
        - "io.kestra.plugin.core.flow.ForEach"
        - "io.kestra.plugin.ee.nutanix.ahv.StartVm"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: nutanix-move-wave-cutover
        namespace: company.platform
        description: Coordinate a Nutanix Move wave from readiness check through per-VM cutover and AHV power-on.

        inputs:
          - id: move_plan_id
            type: STRING
            description: "Move migration plan ID created via the v2 API."
          - id: wave_name
            type: STRING
            defaults: "wave-1"

        variables:
          move_base: "https://{{ secret('MOVE_HOST') }}/move/v2"

        tasks:
          - id: login
            type: io.kestra.plugin.core.http.Request
            uri: "{{ vars.move_base }}/users/login"
            method: POST
            contentType: application/json
            body: |
              {
                "Spec": {
                  "Username": "{{ secret('MOVE_USERNAME') }}",
                  "Password": "{{ secret('MOVE_PASSWORD') }}"
                }
              }

          - id: list_workloads
            type: io.kestra.plugin.core.http.Request
            uri: "{{ vars.move_base }}/plans/{{ inputs.move_plan_id }}/workloads/list"
            method: GET
            headers:
              Authorization: "{{ outputs.login.body.Status.Token }}"

          - id: await_approval
            type: io.kestra.plugin.core.flow.Pause
            description: |
              Wave {{ inputs.wave_name }}: {{ outputs.list_workloads.body.Entities | length }} workloads ready.
              Approve to cut over.

          - id: cutover_each
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ outputs.list_workloads.body.Entities }}"
            tasks:
              - id: cutover
                type: io.kestra.plugin.core.http.Request
                uri: "{{ vars.move_base }}/plans/{{ inputs.move_plan_id }}/workloads/{{ json(taskrun.value).MetaData.UUID }}/action"
                method: POST
                headers:
                  Authorization: "{{ outputs.login.body.Status.Token }}"
                contentType: application/json
                body: |
                  { "Spec": { "Action": "cutover" } }

              - id: start_ahv_vm
                type: io.kestra.plugin.ee.nutanix.ahv.StartVm
                vmExtId: "{{ json(taskrun.value).TargetVMUuid }}"

          - id: notify
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":rocket: Wave `{{ inputs.wave_name }}` cut over, {{ outputs.list_workloads.body.Entities | length }} workloads now running on AHV."

        pluginDefaults:
          - type: io.kestra.plugin.ee.nutanix
            values:
              host: "{{ secret('NUTANIX_HOST') }}"
              token: "{{ secret('NUTANIX_TOKEN') }}"
    - name: "Inventory and chargeback report"
      blueprintId: "nutanix-inventory-chargeback"
      title: "Weekly chargeback report from Prism Central inventory"
      description: "Pulls VM inventory through <code>ListVms</code> with an OData filter, aggregates vCPU and memory by Category in Python, posts the summary to Slack, and appends a row to a Google Sheet. Flags any VM that lacks the expected owner Category."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Weekly cron"
          sublabel: "Monday 9am"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Chargeback report"
          sublabel: "by Category"
        tools:
          - label: "ahv.ListVms"
            pluginClass: "io.kestra.plugin.ee.nutanix.ahv.ListVms"
          - label: "Aggregate Python"
            pluginClass: "io.kestra.plugin.scripts.python.Script"
          - label: "Slack summary"
            pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
          - label: "Google Sheets"
            pluginClass: "io.kestra.plugin.googleworkspace.sheets.AppendValues"
        outcome:
          label: "Per-department report"
          sublabel: "untagged VMs flagged"
          icon: "mdi:filter-variant"
      plugins:
        - "io.kestra.plugin.ee.nutanix.ahv.ListVms"
        - "io.kestra.plugin.scripts.python.Script"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
        - "io.kestra.plugin.googleworkspace.sheets.AppendValues"
      code: |
        id: nutanix-inventory-chargeback
        namespace: company.platform

        triggers:
          - id: weekly
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "0 9 * * 1"

        tasks:
          - id: list_vms
            type: io.kestra.plugin.ee.nutanix.ahv.ListVms
            filter: "powerState eq 'ON'"
            select: "name,numSockets,memorySizeBytes,categories"
            fetchType: STORE

          - id: aggregate_by_category
            type: io.kestra.plugin.scripts.python.Script
            inputFiles:
              vms.ion: "{{ outputs.list_vms.uri }}"
            outputFiles:
              - "summary.json"
              - "untagged.json"
            script: |
              import json, collections
              from kestra import Kestra

              # Read the VM list (ION format) into a list of dicts.
              with open("vms.ion") as f:
                  vms = [json.loads(line) for line in f if line.strip()]

              by_dept = collections.defaultdict(lambda: {"vcpu": 0, "mem_gb": 0.0, "vms": 0})
              untagged = []

              for vm in vms:
                  dept = next((c for c in vm.get("categories", []) if c.startswith("dept/")), None)
                  if not dept:
                      untagged.append(vm["name"])
                      continue
                  by_dept[dept]["vcpu"] += vm.get("numSockets", 0)
                  by_dept[dept]["mem_gb"] += vm.get("memorySizeBytes", 0) / 1024**3
                  by_dept[dept]["vms"] += 1

              with open("summary.json", "w") as f:
                  json.dump(by_dept, f)
              with open("untagged.json", "w") as f:
                  json.dump(untagged, f)

              Kestra.outputs({"departments": len(by_dept), "untagged_count": len(untagged)})

          - id: post_slack
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":bar_chart: Weekly chargeback: {{ outputs.aggregate_by_category.vars.departments }} departments tracked, {{ outputs.aggregate_by_category.vars.untagged_count }} VMs missing an owner Category."

          - id: append_sheet
            type: io.kestra.plugin.googleworkspace.sheets.AppendValues
            serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
            spreadsheetId: "{{ secret('CHARGEBACK_SHEET_ID') }}"
            range: "Weekly!A:D"
            values:
              - ["{{ execution.startDate }}", "{{ outputs.aggregate_by_category.vars.departments }}", "{{ outputs.aggregate_by_category.vars.untagged_count }}", "{{ execution.id }}"]

        pluginDefaults:
          - type: io.kestra.plugin.ee.nutanix
            values:
              host: "{{ secret('NUTANIX_HOST') }}"
              token: "{{ secret('NUTANIX_TOKEN') }}"

comparison:
  title: "Kestra vs Nutanix orchestration alternatives"
  subtitle: "Kestra orchestrates around AHV, Prism Central, and Move. It replaces the Calm / Self-Service automation layer above them. The competitors below are the platforms Nutanix admins actually evaluate."
  competitors:
    - name: "Nutanix Self-Service (Calm) + X-Play"
      logoAsset: "nutanix"
    - name: "HPE Morpheus"
      logoAsset: "morpheus"
    - name: "Ansible Automation Platform"
      logoAsset: "ansible-automation-platform-monograme"
  rows:
    - feature: "VMware-to-AHV wave migration coordination"
      kestra: "✓ Drives Move v2 API, wave gates, per-VM rollback, all in YAML"
      values:
        - "Not a Move orchestrator"
        - "Migration as a service offering"
        - "Possible via custom playbooks, no native Move integration"
    - feature: "Crash- or app-consistent recovery points as flow steps"
      kestra: "✓ Native via dataprotection v4 API"
      values:
        - "Built-in policies, no flow chaining"
        - "Policy-driven, vendor-specific"
        - "Possible via Nutanix Ansible collection"
    - feature: "Cross-cluster recovery point replication"
      kestra: "✓ Native v4 API call from flow"
      values:
        - "Leap policy (separate product)"
        - "Built-in replication"
        - "Possible via REST API calls"
    - feature: "Categories and Prism inventory as flow inputs"
      kestra: "✓ ListVms with OData filter / sort / select"
      values:
        - "Calm uses Categories internally, less open"
        - "Tag-based but proprietary"
        - "Ansible dynamic inventory plugin for Nutanix"
    - feature: "Self-service catalog (replacing Calm)"
      kestra: "✓ Kestra Apps, typed inputs, RBAC, audit"
      values:
        - "Calm catalog (the thing being replaced)"
        - "Morpheus catalog (proprietary)"
        - "AAP survey forms (basic)"
    - feature: "Chain AHV with Ansible, Terraform, ServiceNow"
      kestra: "✓ Native, with outputs across tools"
      values:
        - "Calm integrations (DSL, limited)"
        - "Built-in connectors (proprietary)"
        - "Ansible-centric, glue collections required"
    - feature: "Workflow language"
      kestra: "✓ Declarative YAML, Git-native, polyglot scripts"
      values:
        - "Calm DSL plus Python actions"
        - "Cypher / Morpheus-specific scripts"
        - "Ansible YAML + Jinja (Ansible-only)"
    - feature: "Air-gapped deploy across multiple clusters"
      kestra: "✓ Self-hosted, per-cluster control plane"
      values:
        - "Centralized appliance"
        - "Centralized appliance"
        - "Self-hosted (Red Hat subscription)"
    - feature: "Orchestrate beyond Nutanix"
      kestra: "✓ 1300+ plugins, cross-stack"
      values:
        - "Nutanix-centric"
        - "Multi-cloud (proprietary connectors)"
        - "Ansible-centric, broad collections"

postCompareCta:
  eyebrow: "Deeper comparison"
  title: "Kestra vs HPE Morpheus"
  description: "Side-by-side breakdown across HCI day-2 ops, self-service catalogs, multi-cloud reach, and cross-stack orchestration."
  cta:
    label: "See the full comparison"
    href: "/vs/morpheus"

faq:
  - question: "Does Kestra replace AHV or Prism Central?"
    answer: "No. AHV stays as your hypervisor, Prism Central stays as your management plane. Kestra calls the Prism Central v4 APIs (VMM for VM lifecycle, dataprotection for recovery points) through the <code>io.kestra.plugin.ee.nutanix</code> plugin, and reaches other Nutanix surfaces (Move, Categories, LCM) through the generic <code>core.http.Request</code> task. Kestra orchestrates the workflow around your cluster, not the cluster itself."
  - question: "How do I orchestrate a VMware-to-AHV migration with Nutanix Move?"
    answer: "Move handles the data copy, Kestra handles the wave. The flow: inventory the VMware source with <code>vmware.vcenter.ListVms</code>, log in to Move (<code>POST /v2/users/login</code>), create or pick a migration plan, poll <code>/v2/plans/{id}/workloads/list</code> until each workload reaches state 5 (ready for cutover), gate the wave with the Pause task, then post the <code>cutover</code> action per workload. Once cutover succeeds, call <code>nutanix.ahv.StartVm</code> on the target and hand off to the <a href='/plugins/plugin-ansible'>Ansible plugin</a> for domain join and agent install. The vCenter source stays live until cutover, so the rollback path is to power the source back on if the post-cutover health check fails."
  - question: "What about Nutanix Self-Service (Calm) and X-Play?"
    answer: "Calm (renamed NCM Self-Service) is the catalog layer above Prism. X-Play is the runbook layer. Both are what Kestra replaces. Calm blueprints become Kestra YAML flows that can still call your existing Python actions. The Calm self-service catalog becomes Kestra Apps with typed inputs, RBAC, and an execution audit trail. X-Play playbooks become Kestra flows triggered by alerts, schedule, or webhook. AHV stays where it is."
  - question: "How does the recovery point pattern work?"
    answer: "<code>CreateVmSnapshot</code> emits a recovery point through the dataprotection v4 API and returns a <code>snapshotExtId</code>. That ID is stored in the execution outputs and reusable from any downstream task, including the <code>errors</code> branch. If the post-change health probe fails, <code>RestoreVmSnapshot</code> runs against that exact ID and reverts the VM. Both crash-consistent and application-consistent (Guest Tools quiesce) modes are supported, with optional <code>expirationTime</code> so old recovery points cycle out automatically."
  - question: "Can Kestra replicate recovery points across clusters for DR?"
    answer: "Yes, through the v4 dataprotection API. The flow: <code>CreateVmSnapshot</code> on the production cluster, then a <code>core.http.Request</code> POST to the v4 replication endpoint, then <code>ListVmSnapshots</code> on the DR cluster to verify the replica landed. Set retention per environment via the <code>expirationTime</code> field. The same flow can be flipped for a DR drill: restore on the DR cluster, validate, restore production routing."
  - question: "How does Kestra handle Prism Central credentials?"
    answer: "Credentials come from Kestra's secrets backend (built-in, or HashiCorp Vault, CyberArk, AWS Secrets Manager, GCP Secret Manager) and are injected at task execution time. The plugin accepts a bearer <code>token</code> or a <code>username</code> and <code>password</code>, plus the Prism Central <code>host</code> (and optional <code>port</code>, defaulting to 9440). Set them once via <code>pluginDefaults</code> at flow or namespace level and every Nutanix task picks them up."
  - question: "How does ListVms filtering actually work?"
    answer: "The VMM v4 API supports OData on <code>ListVms</code>. The plugin exposes <code>filter</code>, <code>orderBy</code>, <code>select</code>, and pagination directly. Examples: <code>powerState eq 'ON' and contains(name, 'prod-')</code>, or <code>categories/any(c: c eq 'dept/finance')</code>. With <code>fetchType: STORE</code> the result lands as an ION file in internal storage, so downstream Python tasks can stream through 10,000 VM rows without loading them all in memory."
  - question: "Is the Nutanix plugin Enterprise-only?"
    answer: "Yes, the <code>io.kestra.plugin.ee.nutanix</code> plugin is part of Kestra Enterprise. Kestra Enterprise also includes Apps, RBAC, audit logs, worker isolation, and SSO, which infrastructure teams replacing Calm typically need on top. For the broader context across Terraform, Ansible, Argo CD, and cloud APIs, see <a href='/infra-automation'>Kestra for infrastructure automation</a> and the dedicated <a href='/orchestration/terraform'>Terraform orchestration page</a>."
  - question: "Can Kestra run inside an air-gapped Nutanix environment?"
    answer: "Yes. Kestra ships self-hosted on Docker or Kubernetes, runs fully air-gapped, and supports per-cluster control planes with remote workers close to each Prism Central endpoint. AD-backed authentication, least-privilege RBAC, and log shipping to the enterprise SIEM are all supported on-prem with no external dependency."

resources:
  title: "More on Nutanix and Kestra"
  items:
    - kind: "blog"
      title: "Make GitOps, DNS, Inventory, and Compute Behave Like One System"
      description: "How Kestra 1.3 orchestrates Argo CD, Cloudflare, MAAS, KVM, NetBox, and Nutanix AHV with consistent guardrails and a single audit trail."
      href: "/blogs/infra-automation"
      image: "blogs/infra-automation/main.jpg"
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates Nutanix, VMware, Docker, Terraform, OpenTofu, Ansible, and cloud CLIs in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Hybrid cloud automation: patterns and platforms"
      description: "Where Kestra fits alongside Nutanix, vSphere, AWS, Azure, and GCP for hybrid cloud automation, with platform comparisons."
      href: "/resources/infrastructure/hybrid-cloud-automation"
    - kind: "plugin"
      title: "Nutanix plugin reference"
      description: "Every AHV and snapshot task, every parameter, with copy-ready YAML examples."
      href: "/plugins/plugin-ee-nutanix"

seeHow:
  title: "Ready to orchestrate Nutanix day-2 ops?"
  description: "Keep Prism Central and AHV. Replace Calm / Self-Service with declarative YAML flows: crash- or app-consistent recovery points, cross-cluster replication, and Category-driven Prism inventory, all from one execution history."
  cta:
    label: "Book a Demo"
    href: "/demo"
