src/contents/orchestration/opa.yaml
title: "Orchestrate OPA with Kestra: policy-as-code gates, Rego deployment, decision audit"
description: "Evaluate Rego policies before destructive flow steps. Upload from Git with dryRun review. Audit every decision in execution history. EE plugin, self-hosted."

tool:
  name: "OPA"
  pluginClass: "io.kestra.plugin.ee.opa.policy.Evaluate"
  color: "#7E7CD5"

hero:
  title: "Ask OPA before every destructive step."
  description: "Evaluate Rego policies on Terraform plans, Kubernetes manifests, IAM changes, and secret rotations as flow tasks. Upload policies from Git with dryRun review. Audit every decision in the execution history. Compile partial evaluations for hot paths. Self-hosted OPA, air-gapped friendly, fully under your control."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Put policy-as-code inline with a declarative workflow engine that listens to release triggers, schedules, or webhooks, evaluates Rego policies on Terraform plans, Kubernetes manifests, IAM changes, or NetBox device mutations before any write, and chains OPA decisions with <a href='/orchestration/terraform'>Terraform</a>, <a href='/orchestration/kubernetes'>Kubernetes</a>, and audit reports in one execution history. Self-hosted OPA, decision IDs linked to flow executions, compliance evidence written automatically."

pillars:
  title: "Around every write, every change, every commit."
  subtitle: "OPA evaluates the Rego decisions. Kestra puts those decisions inline in every flow that changes state: before terraform apply, before kubectl.Apply, before IAM key rotation, before opening firewall ports. Policy-as-code stops being a Kubernetes admission webhook only; it becomes a first-class gate in the orchestrator."
  items:
    - icon: "mdi:gate-arrow-right"
      title: "policy.Evaluate gates destructive operations"
      description: "policy.Evaluate calls OPA's Data API at /v1/data/{path} with a JSON input document built from the flow's current context: the Terraform plan output, the Kubernetes manifest, the IAM policy change, the firewall rule mutation. OPA returns a Rego decision; the flow's If task branches on it. Allow continues; deny halts and routes to an errors branch with the violation reasons."
    - icon: "mdi:upload"
      title: "policy.Upload deploys Rego from Git, with dryRun review"
      description: "policy.Upload PUTs a Rego module to /v1/policies/{id}, overwriting existing content. Chain with git.Clone to fetch the policy repo at flow runtime, opa test for unit tests, then push to OPA on green. A Pause task between validate and push lets a reviewer inspect changes that affect prod policies. The Rego file in Git is the source of truth."
    - icon: "mdi:format-list-checks"
      title: "policy.List reconciles loaded modules with Git"
      description: "policy.List returns every policy module on the OPA server. A weekly reconciliation flow diffs the result against the Rego files in Git. Modules in OPA but not in Git get flagged for removal. Modules in Git but not in OPA fire policy.Upload. The OPA bundle stays in sync with declared intent, with drift surfaced as Slack alerts."
    - icon: "mdi:flash"
      title: "policy.Compile for partial evaluation in hot paths"
      description: "policy.Compile uses OPA's Compile API to partially evaluate a Rego query, returning residual queries. Use when most of the logic can be pre-computed and only one runtime value changes per evaluation. The hot-path flow evaluates the residual only, cutting latency for high-frequency gating like per-request authorization or per-row data classification."
    - icon: "mdi:history"
      title: "Decision audit linked to flow execution"
      description: "Each policy.Evaluate response includes a decision_id when OPA's decision logging is enabled. The Kestra execution history records the decision_id alongside the input document and the result. Auditors can trace a policy decision from the OPA decision log back to the Kestra flow that triggered it, the inputs that produced it, and what ran afterward. SOX, ISO 27001, and SOC 2 evidence written automatically."
    - icon: "mdi:shield-lock-outline"
      title: "Gate writes, not reads"
      description: "Put policy.Evaluate before every task that creates, updates, or deletes state: terraform apply, kubectl.Apply, aws.iam mutations, NetBox device.Create, Cloudflare dns.records.Upsert. Reads (Get, List, Query) skip the gate. Latency overhead lands only on operations that actually change the world, and every state change is recorded as a policy decision."

useCases:
  title: "How platform and security teams use OPA and Kestra"
  subtitle: "Patterns engineering teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Pre-apply gate"
      badgeIcon: "mdi:gate-arrow-right"
      title: "Evaluate the terraform plan against OPA before apply runs"
      description: "terraform plan runs and captures the JSON output. policy.Evaluate sends the plan as input to OPA's terraform/deny policy. OPA returns the violations array; if empty, the flow proceeds to terraform apply. If not, the flow halts and the errors branch posts the violation reasons to Slack with the plan attached. Compliance enforcement happens before the infrastructure changes land, not after."
      flow:
        - node: "release trigger"
          label: "manual or schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "terraform plan"
          label: "JSON output"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "evaluate policy"
          label: "OPA terraform/deny"
          pluginClass: "io.kestra.plugin.ee.opa.policy.Evaluate"
        - node: "decision branch"
          label: "If violations"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "apply or halt"
          label: "with decision_id logged"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "audit slack"
          label: "violation details if any"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Plan never sees prod if it violates policy"
          description: "The apply task is gated by an If on the policy decision. A bad plan halts the flow before terraform touches state."
        - title: "Violations route to the right channel"
          description: "OPA's violation array names the offending resource. The Slack message includes the resource and the rule that fired, with a link to the policy in the repo."
        - title: "Decision ID linked to the execution"
          description: "The OPA decision_id is recorded in the Kestra output. Auditors trace from decision log to plan to flow to reviewer."
        - title: "Reusable across environments"
          description: "Same flow pattern for dev / staging / prod. The policy path or input shape differs per environment, the gate logic stays identical."
          wide: true
    - badge: "K8s gate"
      badgeIcon: "mdi:cube-outline"
      title: "Validate Kubernetes manifests with OPA before kubectl apply"
      description: "Before kubectl.Apply, policy.Evaluate runs the manifest through OPA's kubernetes/admission policy. OPA returns allow plus a violations list. If allowed, the flow applies. If denied, the flow stops and the errors branch opens a GitHub issue with the violation reasons attached. Pattern works for clusters where you cannot install an admission webhook (managed K8s, customer tenant clusters, multi-cloud), using the same Rego you would use server-side."
      flow:
        - node: "release trigger"
          label: "manual or webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "load manifest"
          label: "from Git or input"
          pluginClass: "io.kestra.plugin.git.Clone"
        - node: "OPA admission"
          label: "policy.Evaluate"
          pluginClass: "io.kestra.plugin.ee.opa.policy.Evaluate"
        - node: "branch on allow"
          label: "If allow"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "kubectl apply"
          label: "if allow"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Apply"
        - node: "open issue"
          label: "if deny"
          pluginClass: "io.kestra.plugin.github.issues.Create"
      items:
        - title: "Works without an admission webhook"
          description: "For clusters where you cannot install OPA Gatekeeper or a Validating Admission Webhook, run the same Rego policy in the flow."
        - title: "Reuses your existing Rego"
          description: "The same kubernetes/admission policy that would run server-side runs here. No policy fork, no duplicate logic."
        - title: "Failure produces a structured GitHub issue"
          description: "The errors branch opens an issue with the violations array, the manifest excerpt, and the execution URL."
          wide: true
    - badge: "Policy lifecycle"
      badgeIcon: "mdi:source-branch"
      title: "Pull Rego from Git, unit-test, dryRun gate, push to OPA"
      description: "Weekly policy sync flow. git.Clone pulls the policy repo at the main branch. A Shell task runs opa test for unit tests. policy.Compile validates each policy parses cleanly. A Pause task gates on the diff between current OPA state (policy.List) and the Git state. After approval, policy.Upload deploys the updated modules. Failed unit tests stop the flow before any change reaches OPA."
      flow:
        - node: "weekly schedule"
          label: "cron"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "clone policy repo"
          label: "Git source of truth"
          pluginClass: "io.kestra.plugin.git.Clone"
        - node: "opa test"
          label: "unit tests"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "validate parse"
          label: "policy.Compile"
          pluginClass: "io.kestra.plugin.ee.opa.policy.Compile"
        - node: "list current"
          label: "policy.List"
          pluginClass: "io.kestra.plugin.ee.opa.policy.List"
        - node: "diff review"
          label: "Pause for approval"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "upload to OPA"
          label: "policy.Upload"
          pluginClass: "io.kestra.plugin.ee.opa.policy.Upload"
        - node: "notify"
          label: "Slack with modules"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Tests gate every deploy"
          description: "opa test runs the Rego unit tests. Failures halt the flow before policy.Upload fires."
        - title: "Compile catches parse errors early"
          description: "policy.Compile validates each module parses cleanly. Syntax errors never reach the live OPA server."
        - title: "Human gate before prod-policy changes"
          description: "The Pause task surfaces the diff between current OPA state and the Git source. A reviewer approves before changes apply."
          wide: true
    - badge: "Audit"
      badgeIcon: "mdi:clipboard-check-outline"
      title: "Cross-stack daily compliance audit"
      description: "A scheduled audit flow pulls current state from each stack: aws.cloudformation.Get for stack outputs, kubectl.Get for K8s resources, terraform state list outputs, NetBox device.List for the inventory. For each, policy.Evaluate runs the compliance rules. Violations are aggregated into a Slack-friendly daily report. The report links to OPA decision IDs and to the affected resources. Compliance posture becomes a continuous signal, not a quarterly audit drill."
      flow:
        - node: "daily schedule"
          label: "off-hours"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "pull aws state"
          label: "cloudformation, IAM"
          pluginClass: "io.kestra.plugin.aws.cloudformation.Create"
        - node: "pull k8s state"
          label: "kubectl.Get"
          pluginClass: "io.kestra.plugin.kubernetes.kubectl.Get"
        - node: "pull terraform"
          label: "state list"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "evaluate per stack"
          label: "policy.Evaluate"
          pluginClass: "io.kestra.plugin.ee.opa.policy.Evaluate"
        - node: "aggregate report"
          label: "violations rolled up"
          pluginClass: "io.kestra.plugin.scripts.python.Script"
        - node: "post to slack"
          label: "with decision IDs"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Same policies, multiple sources"
          description: "The Rego policy library covers AWS, Kubernetes, Terraform state, and NetBox inventory. One policy set, many evaluations."
        - title: "Daily signal, not quarterly audit"
          description: "Violations land in Slack within 24 hours. Auditors see a continuous compliance posture, not a frozen point-in-time snapshot."
        - title: "Decision IDs link to OPA decision log"
          description: "Every violation in the report includes the OPA decision_id, so investigators trace from the report row to the policy, to the input, to the flow."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for OPA orchestration."
  lead: "One blueprint per use case above. Copy the YAML, point at your OPA server, ship it."
  items:
    - name: "OPA gate before terraform apply"
      title: "terraform plan output evaluated by OPA; apply gated on the decision"
      description: "Runs terraform plan with JSON output, sends the plan as input to OPA's terraform/deny policy, branches on the violations array. If empty, terraform apply runs. If not, the flow halts and posts the violation details to Slack."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Release trigger"
          sublabel: "manual or schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "OPA gate before apply"
          sublabel: "policy violations halt"
        tools:
          - label: "terraform plan"
            pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
          - label: "policy.Evaluate"
            pluginClass: "io.kestra.plugin.ee.opa.policy.Evaluate"
          - label: "If gate"
            pluginClass: "io.kestra.plugin.core.flow.If"
          - label: "terraform apply"
            pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        outcome:
          label: "Compliant infra change"
          sublabel: "decision_id audited"
          icon: "mdi:gate-arrow-right"
      plugins:
        - "io.kestra.plugin.terraform.cli.TerraformCLI"
        - "io.kestra.plugin.ee.opa.policy.Evaluate"
        - "io.kestra.plugin.core.flow.If"
        - "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      code: |
        id: opa-gated-terraform-apply
        namespace: company.platform

        inputs:
          - id: tf_directory
            type: STRING
            defaults: "infra/prod"

        tasks:
          - id: terraform_plan
            type: io.kestra.plugin.terraform.cli.TerraformCLI
            inputFiles:
              main.tf: "{{ read('main.tf') }}"
            commands:
              - terraform init
              - terraform plan -out=plan.tfplan
              - terraform show -json plan.tfplan > plan.json
            outputFiles:
              - plan.json

          - id: evaluate_policy
            type: io.kestra.plugin.ee.opa.policy.Evaluate
            url: "{{ secret('OPA_URL') }}"
            token: "{{ secret('OPA_TOKEN') }}"
            policyPath: "terraform/deny"
            input: "{{ read(outputs.terraform_plan.outputFiles['plan.json']) | fromJson }}"
            metrics: true

          - id: gate_apply
            type: io.kestra.plugin.core.flow.If
            condition: "{{ outputs.evaluate_policy.result | length == 0 }}"
            then:
              - id: terraform_apply
                type: io.kestra.plugin.terraform.cli.TerraformCLI
                commands:
                  - terraform apply -auto-approve plan.tfplan

              - id: notify_success
                type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
                url: "{{ secret('SLACK_WEBHOOK') }}"
                payload: |
                  {
                    "text": ":white_check_mark: Terraform applied. OPA decision: {{ outputs.evaluate_policy.decisionId }}. <{{ execution.url }}|View>"
                  }
            else:
              - id: notify_violation
                type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
                url: "{{ secret('SLACK_WEBHOOK') }}"
                payload: |
                  {
                    "text": ":no_entry: OPA blocked the apply. Violations: {{ outputs.evaluate_policy.result | json }}. Decision ID: {{ outputs.evaluate_policy.decisionId }}. <{{ execution.url }}|View>"
                  }
    - name: "Policy lifecycle: Git to OPA with tests and gate"
      title: "Pull Rego from Git, run opa test, validate, gate, upload"
      description: "Weekly flow that pulls the policy repo, runs opa test for unit tests, validates each policy parses via policy.Compile, lists current OPA modules, pauses for a human to approve the diff, then policy.Upload deploys."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Weekly schedule"
          sublabel: "Monday 04:00"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Policy lifecycle from Git"
          sublabel: "tests gate the upload"
        tools:
          - label: "git.Clone"
            pluginClass: "io.kestra.plugin.git.Clone"
          - label: "opa test"
            pluginClass: "io.kestra.plugin.scripts.shell.Commands"
          - label: "Pause / review"
            pluginClass: "io.kestra.plugin.core.flow.Pause"
          - label: "policy.Upload"
            pluginClass: "io.kestra.plugin.ee.opa.policy.Upload"
        outcome:
          label: "Policies deployed"
          sublabel: "tests + diff reviewed"
          icon: "mdi:source-branch"
      plugins:
        - "io.kestra.plugin.git.Clone"
        - "io.kestra.plugin.scripts.shell.Commands"
        - "io.kestra.plugin.ee.opa.policy.Compile"
        - "io.kestra.plugin.ee.opa.policy.List"
        - "io.kestra.plugin.core.flow.Pause"
        - "io.kestra.plugin.ee.opa.policy.Upload"
      code: |
        id: opa-policy-from-git
        namespace: company.security

        triggers:
          - id: weekly
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "0 4 * * 1"

        tasks:
          - id: clone_policies
            type: io.kestra.plugin.git.Clone
            url: https://github.com/company/opa-policies
            branch: main
            username: "{{ secret('GIT_USERNAME') }}"
            password: "{{ secret('GIT_TOKEN') }}"

          - id: run_tests
            type: io.kestra.plugin.scripts.shell.Commands
            commands:
              - opa test ./policies -v

          - id: validate_parse
            type: io.kestra.plugin.ee.opa.policy.Compile
            url: "{{ secret('OPA_URL') }}"
            token: "{{ secret('OPA_TOKEN') }}"
            query: "data.terraform.deny"

          - id: list_current
            type: io.kestra.plugin.ee.opa.policy.List
            url: "{{ secret('OPA_URL') }}"
            token: "{{ secret('OPA_TOKEN') }}"
            fetchType: FETCH

          - id: review_diff
            type: io.kestra.plugin.core.flow.Pause
            description: |
              Tests passed and policies parsed. Review the diff against current OPA state and resume to deploy.
              Current modules: {{ outputs.list_current.size }}.

          - id: upload_terraform_policy
            type: io.kestra.plugin.ee.opa.policy.Upload
            url: "{{ secret('OPA_URL') }}"
            token: "{{ secret('OPA_TOKEN') }}"
            policyId: "terraform/deny"
            policy: "{{ read('policies/terraform/deny.rego') }}"

          - id: notify
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":scroll: OPA policies updated from main. <{{ execution.url }}|View execution>"
              }
    - name: "Daily cross-stack compliance audit"
      title: "Pull AWS + K8s + Terraform state, evaluate against compliance policies, report"
      description: "Scheduled daily audit that aggregates state across stacks, runs policy.Evaluate against each, and posts a violation report to Slack with decision IDs."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Daily schedule"
          sublabel: "off-hours cron"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Cross-stack audit"
          sublabel: "AWS + K8s + Terraform"
        tools:
          - label: "aws.cli IAM"
            pluginClass: "io.kestra.plugin.aws.cli.AwsCLI"
          - label: "kubectl.Get"
            pluginClass: "io.kestra.plugin.kubernetes.kubectl.Get"
          - label: "policy.Evaluate"
            pluginClass: "io.kestra.plugin.ee.opa.policy.Evaluate"
          - label: "Slack report"
            pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
        outcome:
          label: "Daily compliance signal"
          sublabel: "violations with decision IDs"
          icon: "mdi:clipboard-check-outline"
      plugins:
        - "io.kestra.plugin.aws.cli.AwsCLI"
        - "io.kestra.plugin.kubernetes.kubectl.Get"
        - "io.kestra.plugin.ee.opa.policy.Evaluate"
        - "io.kestra.plugin.scripts.python.Script"
      code: |
        id: opa-daily-compliance-audit
        namespace: company.security

        triggers:
          - id: daily
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "0 6 * * *"

        tasks:
          - id: list_iam
            type: io.kestra.plugin.aws.cli.AwsCLI
            commands:
              - aws iam list-users --output json > iam_users.json
              - aws iam list-roles --output json > iam_roles.json
            outputFiles:
              - iam_users.json
              - iam_roles.json

          - id: list_k8s_deployments
            type: io.kestra.plugin.kubernetes.kubectl.Get
            namespace: "production"
            kind: Deployment
            fetchType: STORE

          - id: evaluate_iam_policy
            type: io.kestra.plugin.ee.opa.policy.Evaluate
            url: "{{ secret('OPA_URL') }}"
            token: "{{ secret('OPA_TOKEN') }}"
            policyPath: "compliance/iam"
            input:
              users: "{{ read(outputs.list_iam.outputFiles['iam_users.json']) | fromJson }}"
              roles: "{{ read(outputs.list_iam.outputFiles['iam_roles.json']) | fromJson }}"

          - id: evaluate_k8s_policy
            type: io.kestra.plugin.ee.opa.policy.Evaluate
            url: "{{ secret('OPA_URL') }}"
            token: "{{ secret('OPA_TOKEN') }}"
            policyPath: "compliance/kubernetes"
            input:
              deployments: "{{ outputs.list_k8s_deployments.items }}"

          - id: build_report
            type: io.kestra.plugin.scripts.python.Script
            beforeCommands:
              - pip install --quiet jinja2
            script: |
              import json
              iam = {{ outputs.evaluate_iam_policy.result | json }}
              k8s = {{ outputs.evaluate_k8s_policy.result | json }}
              violations = (iam or []) + (k8s or [])
              with open("report.md", "w") as f:
                  f.write(f"# Daily compliance report\n\nViolations found: {len(violations)}\n\n")
                  for v in violations:
                      f.write(f"- {v}\n")
            outputFiles:
              - report.md

          - id: notify
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":chart_with_downwards_trend: Daily compliance audit. IAM decision: {{ outputs.evaluate_iam_policy.decisionId }}, K8s decision: {{ outputs.evaluate_k8s_policy.decisionId }}. <{{ execution.url }}|View report>"
              }

comparison:
  title: "Kestra vs OPA orchestration alternatives"
  subtitle: "Kestra wraps the OPA REST API with first-class tasks for policy evaluation, lifecycle, and audit. The competitors below are how teams typically wire OPA decisions into operational flows today."
  competitors:
    - name: "OPA admission webhook (K8s only)"
      pluginClass: "io.kestra.plugin.kubernetes.core.PodCreate"
    - name: "conftest in CI scripts"
      pluginClass: "io.kestra.plugin.scripts.shell.Commands"
    - name: "Custom OPA HTTP client in CI"
      pluginClass: "io.kestra.plugin.scripts.shell.Commands"
  rows:
    - feature: "Evaluate before terraform apply, kubectl, IAM changes"
      kestra: "✓ policy.Evaluate as a flow task before any write"
      values:
        - "K8s only, not Terraform or IAM"
        - "Run in CI, no runtime gate"
        - "Custom code per gate"
    - feature: "Upload Rego from Git with dryRun review"
      kestra: "✓ git.Clone + policy.Compile + Pause + policy.Upload"
      values:
        - "Helm or ConfigMap mounts, manual review"
        - "Not in scope"
        - "Custom upload logic"
    - feature: "Reconcile loaded modules with declared Git state"
      kestra: "✓ policy.List + diff + Upload/Delete"
      values:
        - "Manual"
        - "Not in scope"
        - "Custom reconcile loop"
    - feature: "Partial evaluation for hot paths"
      kestra: "✓ policy.Compile returns residual queries"
      values:
        - "Not exposed"
        - "Not in scope"
        - "Custom HTTP client"
    - feature: "Decision audit linked to flow execution"
      kestra: "✓ decisionId recorded with execution outputs"
      values:
        - "OPA decision log only, no flow correlation"
        - "CI run log only"
        - "Custom correlation"
    - feature: "Same policies gate Terraform, K8s, IAM, NetBox"
      kestra: "✓ One policy library, many evaluations"
      values:
        - "K8s admission only"
        - "CI checks per repo"
        - "Custom per integration"
    - feature: "Cross-stack daily compliance audit"
      kestra: "✓ One flow pulls state from each stack, evaluates, reports"
      values:
        - "Not in scope (admission, not audit)"
        - "Not in scope (CI, not runtime)"
        - "Custom orchestration"
    - feature: "Self-hosted, air-gapped"
      kestra: "✓ Self-hosted Kestra calls self-hosted OPA"
      values:
        - "Self-hosted"
        - "Self-hosted"
        - "Self-hosted"

faq:
  - question: "Is the OPA plugin Enterprise-only?"
    answer: "Yes. The io.kestra.plugin.ee.opa plugin is part of Kestra Enterprise. The open-source edition can call OPA's REST API via io.kestra.plugin.core.http.Request, but you lose the typed task shape (policy.Evaluate with input as a structured object, policy.Upload with policy module ID, policy.List with fetchType handling) and end up writing more YAML to handle pagination, response parsing, and error semantics."
  - question: "How is this different from the OPA admission webhook?"
    answer: "The admission webhook gates Kubernetes API requests at the cluster boundary, server-side. This plugin gates flow operations at the orchestrator boundary, before any task that writes state to AWS, Kubernetes, NetBox, Terraform, or Cloudflare. Use the admission webhook when Kubernetes is the only enforcement point. Use this plugin when policy decisions span infrastructure tools, and when the cluster type does not support webhook installation (managed K8s, customer clusters, multi-cloud)."
  - question: "Where does OPA run?"
    answer: "OPA runs as a standalone server you operate yourself: as a sidecar in a Kubernetes Pod, as a systemd service, or as a container. Kestra reaches it via HTTPS at the URL you configure in the plugin. The decision logic stays inside your network, the Rego policies stay in your Git, and the audit trail stays inside Kestra's execution history. No external dependency on a SaaS policy service."
  - question: "Can the same Rego policies gate both Terraform and Kubernetes?"
    answer: "Yes, with a shared policy library that takes different input shapes. The terraform/deny policy expects a Terraform plan JSON. The kubernetes/admission policy expects an AdmissionRequest-shaped input. A common rules module shares helpers (e.g., contains_label, has_resource_limits). The flow that gates Terraform sends the plan; the flow that gates Kubernetes sends the manifest; both call policy.Evaluate with the right policyPath."
  - question: "What does the decision audit look like?"
    answer: "When OPA decision logging is enabled, each policy.Evaluate response includes a decision_id. The Kestra execution stores the decision_id in outputs.evaluate_policy.decisionId, the input document used, the policy path, and the result. The OPA decision log holds the full decision metadata. To audit a violation, start from the Slack alert (which carries the decision_id), look up the decision in OPA's log, and look up the flow execution in Kestra. Three systems, two IDs, one path."
  - question: "How do I unit-test policies before they land in OPA?"
    answer: "Run opa test in a Shell task before policy.Upload. opa test runs the Rego unit tests in the policy repo and exits non-zero on failure, which halts the Kestra flow before any policy reaches the live OPA server. Pair with a Pause task between the test run and the upload to require human approval on policy changes that touch prod gates."
  - question: "Can Kestra deploy an OPA bundle instead of individual policies?"
    answer: "policy.Upload PUTs one module at a time to /v1/policies/{id}. For bundle deployment (a tar.gz of multiple policies plus data documents), OPA's bundle service mode is the right pattern: serve bundles from S3 or a Git-backed HTTP server, OPA polls for updates. Kestra can orchestrate the bundle build and the S3 upload (aws.s3.Upload), but it does not push bundles directly. For per-policy lifecycle and decisions, policy.Upload is the right task."
  - question: "Can OPA decisions trigger downstream flows beyond the evaluate task?"
    answer: "Yes. The decision result lands in outputs.evaluate_policy.result, which any downstream task can read. If a policy decision routes a flow to a remediation subflow (e.g., a non-compliant resource fires a Terraform reconcile flow), use Kestra's Subflow task with the decision result as input. The chain stays in one execution history."

resources:
  title: "More on OPA and Kestra"
  items:
    - kind: "docs"
      title: "Policy-as-code with OPA in Kestra flows"
      description: "How to wire OPA into Kestra flows: connection setup, evaluate before destructive steps, policy lifecycle from Git, audit decisions in execution history."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Pair OPA with Terraform"
      description: "The common pattern: terraform plan output evaluated by OPA, apply gated on the decision, every change has a policy decision_id attached."
      href: "/orchestration/terraform"
    - kind: "plugin"
      title: "OPA plugin reference"
      description: "Every OPA task (policy.Evaluate, Compile, Upload, List, Delete) with copy-ready YAML and full property reference."
      href: "/plugins/plugin-ee-opa"

seeHow:
  title: "Ready to ask OPA before every destructive step?"
  description: "Gate Terraform applies, kubectl applies, IAM changes, and Cloudflare mutations on Rego policy decisions. Deploy policies from Git with dryRun review. Audit every decision in execution history. Cross-stack compliance as a continuous signal. Open source, self-hosted Kestra calls self-hosted OPA."
  cta:
    label: "Book a Demo"
    href: "/demo"
