src/contents/orchestration/proxmox.yaml
title: "Orchestrate Proxmox with Kestra: VMware migration, node drain, snapshot rollback"
description: "Drive Proxmox VE from one flow: VMware-to-Proxmox migrations, node drain via live migration, snapshot rollback, and vzdump backup restore drills, all in YAML."

tool:
  name: "Proxmox"
  pluginClass: "io.kestra.plugin.proxmox.vm.Create"
  color: "#E57000"

hero:
  title: "Run Proxmox like vCenter, minus the tax."
  description: "Trigger Proxmox API operations from cron or any HTTP signal. Drain nodes via live migration, snapshot before patching, verify vzdump backups by restoring to a temp VM, and coordinate VMware-to-Proxmox migrations across the cluster."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Run Proxmox like vCenter without the Broadcom tax: a workflow engine that listens to cron or VM state changes, handles VMware-to-Proxmox migration via the ESXi Import Wizard, snapshot-gated patching, and vzdump restore drills, and chains Proxmox with <a href='/orchestration/ansible'>Ansible</a>, <a href='/orchestration/terraform'>Terraform</a>, and <a href='/orchestration/netbox'>NetBox</a>. Drop the vRA subscription; prove backups restore monthly."

pillars:
  title: "Around every VM, every container, every node."
  subtitle: "What Kestra wraps around your Proxmox cluster: when actions fire, what gets snapshotted first, who drains a node before maintenance, and where the audit lives. The Proxmox API, the ESXi Import Wizard, and vzdump backups stay where they are."
  items:
    - icon: "mdi:lightning-bolt-outline"
      title: "Schedule, event, and Proxmox VM state triggers"
      description: "Native cron, fixed intervals, webhooks, and the <code>vm.Trigger</code> that polls Proxmox and fires when a VM enters or leaves a target status (running, stopped). Stateful change detection means a VM that stays stopped doesn't trigger on every poll, only on the transition. The matching VMs reach the flow as <code>trigger.body</code>."
    - icon: "mdi:swap-horizontal-circle-outline"
      title: "VMware-to-Proxmox migration coordinated as a flow"
      description: "Use Proxmox VE 9's built-in ESXi Import Wizard through the API: register the source ESXi as storage, stop the VMware VM, drive the import via Kestra, then power on in Proxmox. Pre-flight checks (snapshot consolidation, VM stopped) run as flow steps. The original ESXi VM stays as a rollback target until cutover is verified."
    - icon: "mdi:camera-outline"
      title: "Snapshot-first maintenance with rollback for VMs and LXC"
      description: "<code>snapshot.Create</code> before patches or risky config changes. <code>snapshot.Rollback</code> reverts on a failed health check. The snapshot name flows forward through the execution, so every change has a documented rollback target. Same flow shape works for QEMU VMs and LXC containers via the <code>resourceType</code> field."
    - icon: "mdi:server-network-outline"
      title: "Node drain with live migration before maintenance"
      description: "<code>vm.List</code> on the target node, then <code>vm.Migrate</code> (or <code>container.Migrate</code>) each guest to other cluster nodes. <code>WaitForTask</code> polls each UPID until completion. Once the node is empty, run maintenance (kernel upgrade, hardware swap), then optionally migrate selected guests back."
    - icon: "mdi:database-arrow-up-outline"
      title: "vzdump backups as a flow step, with restore-drill verification"
      description: "<code>backup.Create</code> with snapshot mode and zstd compression. Periodically, <code>backup.Restore</code> writes a backup archive to a temporary VMID, the flow boots and probes it, then deletes the temp VM. A backup that doesn't restore is not a backup, the drill catches that monthly."
    - icon: "mdi:layers-triple-outline"
      title: "VMs and LXC containers from the same flow API"
      description: "Proxmox is the only mainstream hypervisor that runs QEMU VMs and LXC containers side by side. The plugin exposes both: <code>vm.*</code> tasks for VMs, <code>container.*</code> tasks for LXC. One flow can spin up a Postgres VM, a Pi-hole LXC, and a monitoring LXC in parallel, with the same lifecycle semantics."

useCases:
  title: "How Proxmox admins use the cluster and Kestra"
  subtitle: "Patterns Proxmox teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Broadcom exit"
      badgeIcon: "mdi:swap-horizontal-circle-outline"
      title: "VMware-to-Proxmox import coordinated through the ESXi Import Wizard"
      description: "Pre-flight: confirm the VMware VM is stopped and all snapshots consolidated (the most common cause of import failure). Drive the Proxmox ESXi Import via the API, wait for the UPID to complete, then start the VM in Proxmox. The original ESXi VM stays as a rollback target until the post-import health check passes."
      flow:
        - node: "wave trigger"
          label: "manual or schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "stop ESXi VM"
          label: "vCenter task"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.StopVm"
        - node: "ESXi import"
          label: "Proxmox API"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "wait for task"
          label: "UPID complete"
          pluginClass: "io.kestra.plugin.proxmox.task.WaitForTask"
        - node: "start in Proxmox"
          label: "qm start"
          pluginClass: "io.kestra.plugin.proxmox.vm.Start"
        - node: "health probe"
          label: "verify"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "notify"
          label: "Slack with VMID"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Pre-flight enforced"
          description: "The flow refuses to import if the source has unconsolidated snapshots, the failure mode that breaks most imports."
        - title: "Per-VM rollback path"
          description: "The ESXi VM stays available. If the Proxmox health probe fails, the flow alerts and the ESXi VM is still a valid running copy."
        - title: "Wave-friendly"
          description: "Run the same flow per VM in a <code>ForEach</code> to migrate a wave of guests, with the same gate per cutover."
    - badge: "Cluster ops"
      badgeIcon: "mdi:server-network-outline"
      title: "Node drain with live migration before maintenance"
      description: "<code>cluster.ListResources</code> finds all VMs and LXC containers on the target node. A <code>ForEach</code> dispatches each guest to a target node via <code>vm.Migrate</code> or <code>container.Migrate</code>. Live migration when supported, offline when not. <code>WaitForTask</code> polls each UPID until done. Once the node is empty, a Pause task gates the actual maintenance work."
      flow:
        - node: "maintenance trigger"
          label: "scheduled or webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "list guests on node"
          label: "cluster resources"
          pluginClass: "io.kestra.plugin.proxmox.cluster.ListResources"
        - node: "ForEach guest"
          label: "live migrate"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "vm.Migrate"
          label: "to another node"
          pluginClass: "io.kestra.plugin.proxmox.vm.Migrate"
        - node: "WaitForTask"
          label: "UPID OK"
          pluginClass: "io.kestra.plugin.proxmox.task.WaitForTask"
        - node: "Pause for maintenance"
          label: "manual gate"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
      items:
        - title: "Live migration when the guest supports it"
          description: "QEMU VMs migrate live without downtime. LXC containers migrate with a brief pause (restart on target)."
        - title: "Per-guest UPID tracked"
          description: "<code>WaitForTask</code> polls Proxmox until each migration finishes, no blind sleeps."
        - title: "Drain blocks until empty"
          description: "The flow refuses to proceed to the maintenance gate until <code>cluster.ListResources</code> shows zero guests on the node."
        - title: "Reversible"
          description: "A second flow run with the source node as target rebalances guests back after maintenance."
    - badge: "Safe patching"
      badgeIcon: "mdi:camera-outline"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "<code>snapshot.Create</code> captures the pre-patch state of a VM or LXC. A Shell task runs the OS update over SSH. An HTTP probe checks the service. On failure, the <code>errors</code> branch fires <code>snapshot.Rollback</code> against the same snapshot name and pages on-call. Works for both QEMU VMs and LXC containers via the <code>resourceType</code> property."
      flow:
        - node: "patch window"
          label: "cron"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "pre-patch snapshot"
          label: "vm or container"
          pluginClass: "io.kestra.plugin.proxmox.snapshot.Create"
        - node: "ssh patch"
          label: "apt / yum upgrade"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "health check"
          label: "HTTP probe"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "rollback on fail"
          label: "snapshot revert"
          pluginClass: "io.kestra.plugin.proxmox.snapshot.Rollback"
        - node: "notify"
          label: "Slack"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Same shape for VMs and containers"
          description: "<code>resourceType: vm</code> or <code>resourceType: container</code> on the snapshot tasks, everything else identical."
        - title: "Snapshot name flows forward"
          description: "The pre-patch snapshot name is computed once and reused by the rollback in the <code>errors</code> branch."
        - title: "Auto-rollback on probe fail"
          description: "An <code>errors</code> branch restores the snapshot if the post-patch HTTP probe fails, no human required."
        - title: "Replayable per host"
          description: "Re-run the patch on the same host with the same snapshot from the execution UI."
    - badge: "Backup drill"
      badgeIcon: "mdi:database-arrow-up-outline"
      title: "vzdump backup restore drill, monthly"
      description: "Pick a recent vzdump archive, restore it to a temporary VMID on a target node, boot the VM, probe a known service, then delete the temp VM. A backup that doesn't restore is not a backup, this catches storage corruption, schema mismatches, and config drift before the real disaster."
      flow:
        - node: "monthly cron"
          label: "first of month"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "list backups"
          label: "pick latest"
          pluginClass: "io.kestra.plugin.proxmox.backup.List"
        - node: "restore to temp VMID"
          label: "drill target"
          pluginClass: "io.kestra.plugin.proxmox.backup.Restore"
        - node: "start temp VM"
          label: "boot"
          pluginClass: "io.kestra.plugin.proxmox.vm.Start"
        - node: "service probe"
          label: "verify"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "delete temp VM"
          label: "cleanup"
          pluginClass: "io.kestra.plugin.proxmox.vm.Delete"
        - node: "report"
          label: "Slack summary"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Drill on a temp VMID"
          description: "The restore lands on a throwaway VMID, never the production one, so a corrupted backup can't damage the source."
        - title: "Cleanup always runs"
          description: "An <code>errors</code> branch deletes the temp VM even when the drill fails, so the cluster doesn't fill up with restore artifacts."
        - title: "Backup health on the dashboard"
          description: "Every drill posts a pass/fail summary to Slack and writes a row to an audit table."
          wide: true

quotes:
  - quote: "Kestra allowed us to move from fragmented automation to a unified control plane, secure, scalable, and manageable by all our teams."
    author: "Julien Legrand, PO Data · Crédit Agricole"
    storyLink: "/use-cases/stories/scaling-secure-infrastructure-at-credit-agricole-with-kestra"
    logoFile: "credit-agricole"

blueprints:
  title: "Blueprints for Proxmox orchestration."
  lead: "One blueprint per use case above. Copy the YAML, point it at your Proxmox node, ship it."
  items:
    - name: "Safe patching with rollback"
      blueprintId: "proxmox-safe-patching"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "Captures a pre-patch snapshot on a Proxmox VM or LXC, runs the OS update over SSH, probes the service. The <code>errors</code> branch rolls back the snapshot and notifies Slack on failure."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Patch window"
          sublabel: "scheduled cron"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Snapshot-gated patching"
          sublabel: "VM or LXC"
        tools:
          - label: "snapshot.Create"
            pluginClass: "io.kestra.plugin.proxmox.snapshot.Create"
          - label: "SSH patch"
            pluginClass: "io.kestra.plugin.scripts.shell.Commands"
          - label: "HTTP probe"
            pluginClass: "io.kestra.plugin.core.http.Request"
          - label: "snapshot.Rollback"
            pluginClass: "io.kestra.plugin.proxmox.snapshot.Rollback"
        outcome:
          label: "Patched + audited"
          sublabel: "rollback ready per host"
          icon: "mdi:shield-check-outline"
      plugins:
        - "io.kestra.plugin.proxmox.snapshot.Create"
        - "io.kestra.plugin.scripts.shell.Commands"
        - "io.kestra.plugin.core.http.Request"
        - "io.kestra.plugin.proxmox.snapshot.Rollback"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: proxmox-safe-patching
        namespace: company.infra

        inputs:
          - id: node
            type: STRING
            defaults: "pve-01"
          - id: vm_name
            type: STRING
            description: "VM or container name, or integer VMID."
            defaults: "100"
          - id: resource_type
            type: SELECT
            values: [vm, container]
            defaults: vm
          - id: vm_address
            type: STRING

        variables:
          snapshot_name: "pre_patch_{{ execution.id }}"

        tasks:
          - id: pre_patch_snapshot
            type: io.kestra.plugin.proxmox.snapshot.Create
            node: "{{ inputs.node }}"
            vmName: "{{ inputs.vm_name }}"
            resourceType: "{{ inputs.resource_type }}"
            snapName: "{{ vars.snapshot_name }}"

          - id: apply_patches
            type: io.kestra.plugin.scripts.shell.Commands
            commands:
              - ssh -o StrictHostKeyChecking=no ops@{{ inputs.vm_address }} "sudo apt-get update && sudo apt-get -y upgrade && sudo reboot"
            allowFailure: true

          - id: health_check
            type: io.kestra.plugin.core.http.Request
            uri: "http://{{ inputs.vm_address }}/health"
            method: GET
            options:
              connectTimeout: PT30S
              readTimeout: PT30S
            retry:
              type: constant
              interval: PT30S
              maxAttempt: 10

          - id: notify_success
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":white_check_mark: Patched {{ inputs.vm_name }} on {{ inputs.node }}, health probe OK."

        errors:
          - id: rollback
            type: io.kestra.plugin.proxmox.snapshot.Rollback
            node: "{{ inputs.node }}"
            vmName: "{{ inputs.vm_name }}"
            resourceType: "{{ inputs.resource_type }}"
            snapName: "{{ vars.snapshot_name }}"

          - id: notify_oncall
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":alert: Patch failed on {{ inputs.vm_name }}, rolled back to {{ vars.snapshot_name }}. <{{ execution.url }}|View execution>"

        pluginDefaults:
          - type: io.kestra.plugin.proxmox
            values:
              host: "{{ secret('PROXMOX_HOST') }}"
              tokenId: "{{ secret('PROXMOX_TOKEN_ID') }}"
              tokenSecret: "{{ secret('PROXMOX_TOKEN_SECRET') }}"
    - name: "Node drain via live migration"
      blueprintId: "proxmox-node-drain"
      title: "Drain a Proxmox node for maintenance: live-migrate all guests off, gate, return"
      description: "Lists all VMs and containers on a target node, dispatches each to another node via live migration, polls each UPID to completion, then pauses for the maintenance window before optionally returning guests."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Maintenance trigger"
          sublabel: "scheduled or webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Node drain + maintenance"
          sublabel: "live-migrate, gate, return"
        tools:
          - label: "cluster.ListResources"
            pluginClass: "io.kestra.plugin.proxmox.cluster.ListResources"
          - label: "ForEach guest"
            pluginClass: "io.kestra.plugin.core.flow.ForEach"
          - label: "vm.Migrate"
            pluginClass: "io.kestra.plugin.proxmox.vm.Migrate"
          - label: "Pause / maintenance"
            pluginClass: "io.kestra.plugin.core.flow.Pause"
        outcome:
          label: "Node drained + serviced"
          sublabel: "guests returned after"
          icon: "mdi:server-network-outline"
      plugins:
        - "io.kestra.plugin.proxmox.cluster.ListResources"
        - "io.kestra.plugin.core.flow.ForEach"
        - "io.kestra.plugin.proxmox.vm.Migrate"
        - "io.kestra.plugin.proxmox.task.WaitForTask"
        - "io.kestra.plugin.core.flow.Pause"
      code: |
        id: proxmox-node-drain
        namespace: company.infra

        inputs:
          - id: source_node
            type: STRING
            defaults: "pve-01"
          - id: target_node
            type: STRING
            defaults: "pve-02"

        tasks:
          - id: list_guests
            type: io.kestra.plugin.proxmox.cluster.ListResources
            node: "{{ inputs.source_node }}"
            typeFilter: vm

          - id: migrate_each
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ outputs.list_guests.body | jq('.[] | select(.node == \"' ~ inputs.source_node ~ '\")') }}"
            tasks:
              - id: migrate
                type: io.kestra.plugin.proxmox.vm.Migrate
                node: "{{ inputs.source_node }}"
                vmName: "{{ json(taskrun.value).vmid }}"
                targetNode: "{{ inputs.target_node }}"

          - id: maintenance_window
            type: io.kestra.plugin.core.flow.Pause
            description: |
              Node {{ inputs.source_node }} drained. Perform maintenance and resume when ready.

          - id: notify
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":rocket: Maintenance complete on {{ inputs.source_node }}."

        pluginDefaults:
          - type: io.kestra.plugin.proxmox
            values:
              host: "{{ secret('PROXMOX_HOST') }}"
              tokenId: "{{ secret('PROXMOX_TOKEN_ID') }}"
              tokenSecret: "{{ secret('PROXMOX_TOKEN_SECRET') }}"
    - name: "vzdump backup restore drill"
      blueprintId: "proxmox-backup-restore-drill"
      title: "Monthly backup restore drill on a throwaway VMID"
      description: "Lists recent vzdump backups, restores the latest one to a temporary VMID, starts the VM, probes the service, deletes the temp VM. Catches storage corruption and broken backups before the real disaster."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Monthly cron"
          sublabel: "first of month"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Backup restore drill"
          sublabel: "throwaway VMID"
        tools:
          - label: "backup.List"
            pluginClass: "io.kestra.plugin.proxmox.backup.List"
          - label: "backup.Restore"
            pluginClass: "io.kestra.plugin.proxmox.backup.Restore"
          - label: "HTTP probe"
            pluginClass: "io.kestra.plugin.core.http.Request"
          - label: "vm.Delete"
            pluginClass: "io.kestra.plugin.proxmox.vm.Delete"
        outcome:
          label: "Backups verified"
          sublabel: "no surprise disasters"
          icon: "mdi:database-arrow-up-outline"
      plugins:
        - "io.kestra.plugin.proxmox.backup.List"
        - "io.kestra.plugin.proxmox.backup.Restore"
        - "io.kestra.plugin.proxmox.vm.Start"
        - "io.kestra.plugin.core.http.Request"
        - "io.kestra.plugin.proxmox.vm.Delete"
      code: |
        id: proxmox-backup-restore-drill
        namespace: company.infra

        triggers:
          - id: monthly
            type: io.kestra.plugin.core.trigger.Schedule
            cron: "0 4 1 * *"

        inputs:
          - id: node
            type: STRING
            defaults: "pve-01"
          - id: backup_storage
            type: STRING
            description: "Storage where backups live (where backup.List looks)."
            defaults: "local"
          - id: target_storage
            type: STRING
            description: "Storage where the restored disks land."
            defaults: "local-lvm"
          - id: drill_vmid
            type: INT
            description: "Temporary VMID for the restore drill (must not conflict with production VMIDs)."
            defaults: 9999

        tasks:
          - id: list_backups
            type: io.kestra.plugin.proxmox.backup.List
            node: "{{ inputs.node }}"
            storage: "{{ inputs.backup_storage }}"

          - id: restore
            type: io.kestra.plugin.proxmox.backup.Restore
            node: "{{ inputs.node }}"
            vmId: "{{ inputs.drill_vmid }}"
            archive: "{{ outputs.list_backups.body | jq('sort_by(.ctime) | last | .volid') | first }}"
            storage: "{{ inputs.target_storage }}"
            resourceType: vm

          - id: start_drill
            type: io.kestra.plugin.proxmox.vm.Start
            node: "{{ inputs.node }}"
            vmName: "{{ inputs.drill_vmid }}"

          - id: probe
            type: io.kestra.plugin.core.http.Request
            uri: "http://drill-{{ inputs.drill_vmid }}.lab.local/health"
            method: GET
            retry:
              type: constant
              interval: PT15S
              maxAttempt: 12

          - id: cleanup
            type: io.kestra.plugin.proxmox.vm.Delete
            node: "{{ inputs.node }}"
            vmName: "{{ inputs.drill_vmid }}"

          - id: notify
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":white_check_mark: Backup restore drill passed for VMID {{ inputs.drill_vmid }} on {{ inputs.node }}."

        errors:
          - id: cleanup_on_failure
            type: io.kestra.plugin.proxmox.vm.Delete
            node: "{{ inputs.node }}"
            vmName: "{{ inputs.drill_vmid }}"

          - id: notify_failure
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":alert: Backup restore drill FAILED on {{ inputs.node }}. <{{ execution.url }}|View execution>"

        pluginDefaults:
          - type: io.kestra.plugin.proxmox
            values:
              host: "{{ secret('PROXMOX_HOST') }}"
              tokenId: "{{ secret('PROXMOX_TOKEN_ID') }}"
              tokenSecret: "{{ secret('PROXMOX_TOKEN_SECRET') }}"

comparison:
  title: "Kestra vs Proxmox orchestration alternatives"
  subtitle: "Kestra wraps the Proxmox REST API with native scheduling, snapshot rollback, live migration, vzdump drills, and cross-tool chaining. The competitors below are the platforms infrastructure teams actually use to automate Proxmox today."
  competitors:
    - name: "Ansible (community.general.proxmox)"
      logoAsset: "ansible-automation-platform-monograme"
    - name: "Terraform (telmate/proxmox)"
      pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
    - name: "Custom scripts + Proxmox API"
      pluginClass: "io.kestra.plugin.scripts.shell.Commands"
  rows:
    - feature: "VMware-to-Proxmox migration coordination"
      kestra: "✓ Drives the ESXi Import Wizard, pre-flight checks, per-VM gates"
      values:
        - "Possible via custom playbooks"
        - "Possible via shell + import wizard"
        - "Possible, all manual"
    - feature: "Snapshot rollback as a flow step (VM and LXC)"
      kestra: "✓ Native, snapshot name flows forward to <code>errors</code> branch"
      values:
        - "Ansible modules exist, no native rollback flow"
        - "Snapshot resource, no health-gated rollback"
        - "Manual via REST"
    - feature: "Live migration for node drain"
      kestra: "✓ ListResources + ForEach + Migrate + WaitForTask in one flow"
      values:
        - "Possible via playbooks"
        - "Not in scope (provisioning tool)"
        - "Manual via REST + polling"
    - feature: "vzdump backup restore drill"
      kestra: "✓ List + Restore to temp VMID + probe + cleanup, scheduled"
      values:
        - "Possible via playbooks"
        - "Not in scope"
        - "Manual via REST"
    - feature: "Both VM and LXC lifecycle from the same orchestrator"
      kestra: "✓ Native <code>vm.*</code> and <code>container.*</code> tasks side by side"
      values:
        - "Separate modules per resource type"
        - "Separate resource types"
        - "Manual API calls"
    - feature: "Event triggers (webhook, S3, Kafka, VM state)"
      kestra: "✓ Native, includes <code>vm.Trigger</code> on Proxmox state changes"
      values:
        - "Not a trigger framework"
        - "Webhook only"
        - "Manual"
    - feature: "Approval gate between waves"
      kestra: "✓ Native Pause + resume, named reviewer logged"
      values:
        - "Not native"
        - "Not native"
        - "Manual"
    - feature: "Chain Proxmox with Ansible, Terraform, NetBox, ServiceNow"
      kestra: "✓ Native plugin tasks, outputs flow forward"
      values:
        - "Ansible-centric"
        - "Terraform-centric"
        - "Glue scripts required"
    - feature: "Air-gapped / lab deploy"
      kestra: "✓ Self-hosted by default, OSS edition free"
      values:
        - "Self-hosted (with AAP subscription for the UI layer)"
        - "Self-hosted (HCP for hosted)"
        - "Self-hosted"
    - feature: "Orchestrate beyond Proxmox"
      kestra: "✓ 1300+ plugins, cross-stack"
      values:
        - "Broad Ansible collections, Ansible-centric"
        - "Terraform providers, provisioning-centric"
        - "Limited"

postCompareCta:
  eyebrow: "Deeper comparison"
  title: "Kestra vs VMware Cloud Foundation"
  description: "Side-by-side breakdown across hypervisor day-2 ops, self-service catalogs, snapshot rollback, and cross-stack orchestration as teams plan VMware exits."
  cta:
    label: "See the full comparison"
    href: "/vs/vmware-cloud-foundation"

faq:
  - question: "Does Kestra replace Proxmox VE?"
    answer: "No. Proxmox runs your VMs and containers. Kestra calls the Proxmox REST API through the <code>io.kestra.plugin.proxmox</code> plugin to run the operations you used to script: <code>vm.Clone</code>, <code>container.Create</code>, <code>snapshot.Create</code>, <code>backup.Restore</code>, <code>vm.Migrate</code>, and so on. The hypervisor stays where it is. Kestra orchestrates the workflow around your cluster."
  - question: "How does the VMware-to-Proxmox migration actually work?"
    answer: "Proxmox VE 9 ships an ESXi Import Wizard that connects directly to an ESXi host or datastore, converts disk formats (VMDK to qcow2 or raw), and registers the VM in Proxmox. The flow stops the source VM in vCenter (Proxmox does not live-migrate from VMware), drives the import via the Proxmox API, waits for the task UPID, then starts the new VM in Proxmox and runs a health probe. Most import failures come from unconsolidated VMware snapshots, so the flow refuses to start until that pre-flight check passes."
  - question: "Can the same flow manage both QEMU VMs and LXC containers?"
    answer: "Yes. The plugin splits into <code>vm.*</code> tasks for QEMU and <code>container.*</code> tasks for LXC, with matching shape (Create, Clone, Start, Stop, Migrate, Update). Snapshot and backup tasks accept a <code>resourceType</code> property so the same task type works on either. Proxmox is the only mainstream hypervisor that runs both side by side, and the plugin exposes both fully."
  - question: "How does live migration coordination work?"
    answer: "<code>vm.Migrate</code> sets <code>online: true</code> for live migration on QEMU VMs that support it. The task returns a Proxmox UPID. <code>task.WaitForTask</code> polls the UPID until <code>exitstatus=OK</code> or the timeout. For LXC containers, migration involves a short restart on the target node (LXC does not live-migrate). The node drain blueprint above iterates with <code>ForEach</code> so the whole node empties before the maintenance gate."
  - question: "How does Kestra authenticate to the Proxmox API?"
    answer: "Use a Proxmox API token, not a root password. Create a token in the Proxmox UI under Datacenter, Permissions, API Tokens, scoped to a service user with the minimum required privileges (PVEVMAdmin, PVEDatastoreUser, and so on). Store the token ID and secret in Kestra's secrets backend and reference them via <code>pluginDefaults</code> on <code>io.kestra.plugin.proxmox</code> at the namespace or flow level. Every Proxmox task picks them up without repeating credentials."
  - question: "Is the Proxmox plugin Enterprise-only?"
    answer: "No. The <code>io.kestra.plugin.proxmox</code> plugin ships in the open-source edition. Kestra Enterprise adds Apps (typed self-service forms), namespace-scoped RBAC, audit logs, worker isolation, and SSO, which Proxmox shops running multi-team clusters typically want on top."
  - question: "Can Kestra run in an air-gapped Proxmox lab or production cluster?"
    answer: "Yes. Kestra ships self-hosted on Docker or Kubernetes (often itself running on Proxmox), runs fully air-gapped, and supports remote workers close to each Proxmox node. The open-source edition includes unlimited workflows and event-driven triggers with no external dependency on Kestra's infrastructure. See <a href='/infra-automation'>Kestra for infrastructure automation</a> for the broader picture across Proxmox, Terraform, Ansible, and cloud APIs."
  - question: "Where does Kestra fit alongside Ansible and Terraform for Proxmox?"
    answer: "Each tool keeps its job. Use <a href='/orchestration/terraform'>Terraform</a> with the telmate/proxmox provider to declare the desired state of VMs, networks, and storage. Use <a href='/orchestration/ansible'>Ansible</a> to configure the guests once they exist. Use Kestra above both: schedule and gate the Terraform run, hand outputs to Ansible, snapshot before patching, drive ESXi imports, and run vzdump restore drills, all in one execution history."

resources:
  title: "More on Proxmox and Kestra"
  items:
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates Proxmox, VMware, Nutanix, Docker, Terraform, OpenTofu, and Ansible in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Hybrid cloud automation: patterns and platforms"
      description: "Where Kestra fits alongside Proxmox, vSphere, AWS, Azure, and GCP for hybrid cloud automation, with platform comparisons."
      href: "/resources/infrastructure/hybrid-cloud-automation"
    - kind: "plugin"
      title: "Proxmox plugin reference"
      description: "Every Proxmox task (VM, LXC, snapshot, backup, cluster, network, task, template) with copy-ready YAML examples."
      href: "/plugins/plugin-proxmox"

seeHow:
  title: "Ready to orchestrate VMware exits and Proxmox day-2 ops?"
  description: "Drive the ESXi Import Wizard, drain nodes with live migration, snapshot before patching, and verify vzdump backups with a monthly restore drill. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
