src/contents/orchestration/servicenow.yaml
title: "Orchestrate ServiceNow with Kestra: ticket-driven flows, CMDB lookups, audit closure"
description: "Read ServiceNow change requests, run the matching runbook, update tickets with execution links. Open incidents on flow failures. Patch waves driven by CMDB."

tool:
  name: "ServiceNow"
  pluginClass: "io.kestra.plugin.servicenow.Post"
  color: "#62D84E"

hero:
  title: "Let the ServiceNow ticket fire the flow."
  description: "Read change requests on schedule or webhook, run the matching runbook, update the ticket with execution links, close on completion. Open incidents when production flows fail. Pull CMDB CIs to scope patch waves. The ticket fires the flow, both sides record the audit."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Let the ServiceNow ticket fire the flow: a workflow engine that listens to Business Rule webhooks on approval, runs the matching runbook scoped by CMDB relationships, updates the ticket through every step, and chains ServiceNow with <a href='/orchestration/terraform'>Terraform</a>, <a href='/orchestration/argocd'>Argo CD</a>, and <a href='/orchestration/kubernetes'>Kubernetes</a>. Standard changes close themselves; incidents auto-open with CMDB-driven severity."

pillars:
  title: "Around every change, every incident, every CI."
  subtitle: "ServiceNow holds the audit and the human process. Kestra holds the execution. The plugin closes the loop: tickets fire flows, flows update tickets, CMDB scopes the work, audit lives on both sides cross-referenced. The copy-paste between the runbook doc and the change record disappears."
  items:
    - icon: "mdi:ticket-confirmation-outline"
      title: "Read change requests, dispatch the matching runbook"
      description: "A scheduled flow runs servicenow.Get against the change_request table, filtered by state=new and category=standard. A ForEach iterates the result. Per ticket, an If task routes to the right runbook subflow based on the template or category. The runbook executes against the right environment with the ticket fields as inputs. The flow updates the ticket with the execution URL and the result."
    - icon: "mdi:lightning-bolt-outline"
      title: "Webhook-driven: ticket created, flow starts immediately"
      description: "Configure a ServiceNow Business Rule to POST to a Kestra Webhook trigger when a change_request matching the filter is approved. The trigger fires the flow with the full ticket payload as trigger.body. No polling lag, no missed tickets. The runbook starts the moment the ticket transitions to approved, with the change record number in the execution context."
    - icon: "mdi:swap-horizontal-circle-outline"
      title: "Two-way update: flow writes back to the ticket"
      description: "Every step of the runbook flow updates the ticket. Start: servicenow.Update sets state=work_in_progress, work_notes=Started by Kestra. Per task: servicenow.Update appends per-step progress as work_notes. End: state=closed_successful or closed_incomplete, with the execution URL and result summary in the comments. The ticket becomes the single audit record."
    - icon: "mdi:alert-circle-outline"
      title: "Open incident records from flow failures"
      description: "A production flow's errors branch fires servicenow.Post against the incident table, with the failing task, the execution URL, recent logs, and assignment_group pointed at the right team. The incident sys_id flows forward. A follow-up servicenow.Update closes the incident when on-call clears it, with resolution notes linked back to the Kestra execution that triggered the fix."
    - icon: "mdi:database-search-outline"
      title: "CMDB lookups scope the work"
      description: "When a change request hits a specific application, the runbook needs to know which servers, databases, and load balancers are involved. servicenow.Get against cmdb_ci_appl with a relationship query returns the linked CIs. The flow uses that list to scope its operations: which hosts to patch, which database to migrate, which load balancer to drain. The CMDB stays the source of truth for the blast radius."
    - icon: "mdi:check-decagram-outline"
      title: "Audit closure: every change has a ticket, every ticket has an execution"
      description: "Every infrastructure change orchestrated by Kestra writes to a ServiceNow change_request. Every ticket records the Kestra execution ID in a custom field. SOX, ISO 27001, or internal audit asks who changed what and when; both systems answer with cross-references. The flow execution links to the ticket; the ticket links to the flow. The audit story writes itself."

useCases:
  title: "How ITSM teams use ServiceNow and Kestra"
  subtitle: "Patterns enterprise platform teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Standard change"
      badgeIcon: "mdi:ticket-confirmation-outline"
      title: "Pre-approved templates fire the moment the ticket is approved"
      description: "A user opens a change_request with category=standard, template=restart_app_service. ServiceNow's Business Rule POSTs to the Kestra Webhook trigger on approval. The flow parses the template from the ticket, runs the matching subflow (restart the app server in the right region with the right credentials), captures logs as task artifacts, updates the ticket with state=closed_successful and the execution URL. No human in the loop for routine ops, full audit on both sides."
      flow:
        - node: "ticket approved"
          label: "webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "mark in progress"
          label: "servicenow.Update"
          pluginClass: "io.kestra.plugin.servicenow.Update"
        - node: "dispatch runbook"
          label: "subflow per template"
          pluginClass: "io.kestra.plugin.core.flow.Subflow"
        - node: "capture logs"
          label: "as work_notes"
          pluginClass: "io.kestra.plugin.servicenow.Update"
        - node: "close ticket"
          label: "state=closed_successful"
          pluginClass: "io.kestra.plugin.servicenow.Update"
        - node: "notify"
          label: "Slack confirm"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Standard change template drives the runbook"
          description: "The ticket's template field selects which subflow to run. New templates add a new subflow, not a new flow."
        - title: "Ticket state moves with the work"
          description: "work_in_progress at start, work_notes per task, closed_successful at end. The ticket reflects real-time progress."
        - title: "Execution URL on the ticket forever"
          description: "Six months later, audit looks at the ticket and clicks straight to the Kestra execution with full task logs."
        - title: "Closed-loop without humans"
          description: "For pre-approved templates, the only human action is the original ticket approval. Everything after is the flow."
          wide: true
    - badge: "Incident"
      badgeIcon: "mdi:alert-circle-outline"
      title: "Production flow fails: ServiceNow incident opens with full context"
      description: "A scheduled production flow fails. The errors branch fires servicenow.Post against the incident table with the failing task name, the execution URL, an excerpt of recent logs, severity calculated from the impacted CIs (looked up via servicenow.Get on cmdb_ci_appl_relationship), and assignment_group routed to the application owner. The incident sys_id is captured. The on-call team gets the ticket with the right context, the right severity, and the right routing."
      flow:
        - node: "scheduled prod flow"
          label: "main work"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "main pipeline"
          label: "fails on a step"
          pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
        - node: "lookup affected"
          label: "cmdb_ci"
          pluginClass: "io.kestra.plugin.servicenow.Get"
        - node: "calculate severity"
          label: "from CI impact"
          pluginClass: "io.kestra.plugin.core.debug.Return"
        - node: "open incident"
          label: "servicenow.Post"
          pluginClass: "io.kestra.plugin.servicenow.Post"
        - node: "page slack"
          label: "with incident number"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Severity from CMDB impact"
          description: "Tier-1 applications produce P1 incidents. Sandbox apps produce P3. The flow looks up the CI tier and routes accordingly."
        - title: "Assignment from application owner"
          description: "The cmdb_ci_appl record names the owning team. The incident lands on the right group without a human routing it."
        - title: "Context bundled at incident creation"
          description: "Failing task, execution URL, recent logs, impacted CIs all live in the incident body. The on-call does not start with a blank page."
          wide: true
    - badge: "Patching"
      badgeIcon: "mdi:database-search-outline"
      title: "CMDB-driven patch wave: change request to execution to closure"
      description: "A monthly patch change_request opens with category=patching, application=billing. On approval, the flow fires. servicenow.Get against cmdb_ci_appl_relationship pulls every CI linked to the application. A ForEach iterates the CIs; per CI, the patching subflow runs (snapshot, patch, health check, rollback on failure). After all CIs are patched, the flow updates the ticket with a results summary: how many CIs patched, how many rolled back, the per-CI execution URLs."
      flow:
        - node: "ticket approved"
          label: "webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "pull affected CIs"
          label: "cmdb_ci_appl_relationship"
          pluginClass: "io.kestra.plugin.servicenow.Get"
        - node: "ForEach CI"
          label: "per host"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "snapshot + patch"
          label: "per-host subflow"
          pluginClass: "io.kestra.plugin.core.flow.Subflow"
        - node: "health check"
          label: "rollback on fail"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "update ticket"
          label: "per-host status"
          pluginClass: "io.kestra.plugin.servicenow.Update"
        - node: "close with summary"
          label: "state=closed_successful"
          pluginClass: "io.kestra.plugin.servicenow.Update"
      items:
        - title: "Patch scope from the CMDB, not a YAML inventory"
          description: "Adding a host to an application means updating the CMDB relationship. The next patch wave picks it up automatically."
        - title: "Per-CI rollback isolated"
          description: "If one CI's health check fails, the subflow rolls back that CI only. The wave continues for the rest."
        - title: "Ticket carries the full result"
          description: "The closing update lists every CI, the per-CI execution URL, success or rollback. The ticket is the post-mortem artifact."
          wide: true
    - badge: "Compliance"
      badgeIcon: "mdi:compare-horizontal"
      title: "Bidirectional drift detection between CMDB and reality"
      description: "A weekly reconciliation flow scans the actual infrastructure (AWS via aws.cli, Proxmox via vm.List, Kubernetes via kubectl.Get) and lists the live resources. servicenow.Get against cmdb_ci pulls the declared CIs. A Python diff task highlights CIs in ServiceNow but missing from reality (auto-create incident via servicenow.Post) and resources in reality but missing from CMDB (auto-create CI via servicenow.Post against cmdb_ci). The CMDB stays trustworthy without manual quarterly audits."
      flow:
        - node: "weekly schedule"
          label: "off-hours"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "scan reality"
          label: "AWS + K8s + Proxmox"
          pluginClass: "io.kestra.plugin.aws.cli.AwsCLI"
        - node: "pull cmdb"
          label: "servicenow.Get cmdb_ci"
          pluginClass: "io.kestra.plugin.servicenow.Get"
        - node: "diff"
          label: "Python script"
          pluginClass: "io.kestra.plugin.scripts.python.Script"
        - node: "missing in CMDB"
          label: "create CI"
          pluginClass: "io.kestra.plugin.servicenow.Post"
        - node: "missing in reality"
          label: "open incident"
          pluginClass: "io.kestra.plugin.servicenow.Post"
        - node: "summary"
          label: "Slack report"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "CMDB drift surfaces weekly, not quarterly"
          description: "A new server added to AWS but not in CMDB triggers a CI creation. A CMDB record with no live instance opens an incident."
        - title: "Self-healing inventory"
          description: "Reality-found additions get a review-needed tag in the auto-created CI. CMDB-only entries open incidents for investigation."
        - title: "Audit posture as a continuous signal"
          description: "SOX or ISO audit shows up to weekly reconciliation reports, not a frozen point-in-time snapshot."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for ServiceNow orchestration."
  lead: "One blueprint per use case above. Copy the YAML, set your ServiceNow instance URL and credentials, point at your tables, ship it."
  items:
    - name: "Standard change request fires a runbook"
      blueprintId: "servicenow-change-request-runbook"
      title: "Ticket approved, flow runs, ticket updated, ticket closed"
      description: "Listens for ServiceNow Business Rule webhooks on change_request approval. Dispatches the matching subflow based on the template field. Updates the ticket through the work via servicenow.Update calls and closes with the execution URL."
      href: "/blueprints?tags=Business"
      flowDiagram:
        source:
          label: "Change request approved"
          sublabel: "ServiceNow Business Rule"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        workflow:
          label: "Ticket-driven runbook"
          sublabel: "two-way audit"
        tools:
          - label: "Mark in progress"
            pluginClass: "io.kestra.plugin.servicenow.Update"
          - label: "Dispatch runbook"
            pluginClass: "io.kestra.plugin.core.flow.Subflow"
          - label: "Close ticket"
            pluginClass: "io.kestra.plugin.servicenow.Update"
          - label: "Slack notify"
            pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
        outcome:
          label: "Ticket closed + audited"
          sublabel: "execution URL attached"
          icon: "mdi:ticket-confirmation-outline"
      plugins:
        - "io.kestra.plugin.core.trigger.Webhook"
        - "io.kestra.plugin.servicenow.Update"
        - "io.kestra.plugin.core.flow.Subflow"
      code: |
        id: servicenow-standard-change
        namespace: company.itsm

        triggers:
          - id: change_approved
            type: io.kestra.plugin.core.trigger.Webhook
            key: snow-standard-change

        tasks:
          - id: mark_in_progress
            type: io.kestra.plugin.servicenow.Update
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: change_request
            sysId: "{{ trigger.body.sys_id }}"
            data:
              state: "-1"
              work_notes: "Kestra execution {{ execution.id }} started."

          - id: dispatch_runbook
            type: io.kestra.plugin.core.flow.Subflow
            namespace: company.runbooks
            flowId: "{{ trigger.body.u_template }}"
            inputs:
              change_number: "{{ trigger.body.number }}"
              environment: "{{ trigger.body.u_environment }}"
              assignee_email: "{{ trigger.body.assigned_to.email }}"

          - id: close_ticket
            type: io.kestra.plugin.servicenow.Update
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: change_request
            sysId: "{{ trigger.body.sys_id }}"
            data:
              state: "3"
              close_code: "successful"
              close_notes: "Completed by Kestra execution {{ execution.url }}"

        errors:
          - id: mark_failed
            type: io.kestra.plugin.servicenow.Update
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: change_request
            sysId: "{{ trigger.body.sys_id }}"
            data:
              state: "4"
              close_code: "unsuccessful"
              close_notes: "Failed in execution {{ execution.url }}. Check Kestra for details."
    - name: "Flow failure opens an incident with CMDB-driven severity"
      blueprintId: "servicenow-incident-on-failure"
      title: "Production flow errors branch creates a ServiceNow incident"
      description: "On a production flow failure, looks up the affected application's owner and tier from cmdb_ci_appl, calculates severity from the tier, and opens an incident with the full context routed to the right assignment group."
      href: "/blueprints?tags=Business"
      flowDiagram:
        source:
          label: "Prod flow failure"
          sublabel: "errors branch"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Failure to incident"
          sublabel: "CMDB-scoped routing"
        tools:
          - label: "dbt build (fails)"
            pluginClass: "io.kestra.plugin.dbt.cli.DbtCLI"
          - label: "Lookup CMDB"
            pluginClass: "io.kestra.plugin.servicenow.Get"
          - label: "Open incident"
            pluginClass: "io.kestra.plugin.servicenow.Post"
          - label: "Page Slack"
            pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
        outcome:
          label: "Right team, right priority"
          sublabel: "context bundled"
          icon: "mdi:alert-circle-outline"
      plugins:
        - "io.kestra.plugin.servicenow.Get"
        - "io.kestra.plugin.servicenow.Post"
        - "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      code: |
        id: failure-to-servicenow-incident
        namespace: company.platform

        inputs:
          - id: application_sys_id
            type: STRING

        tasks:
          - id: main_pipeline
            type: io.kestra.plugin.dbt.cli.DbtCLI
            commands:
              - dbt build --target prod

        errors:
          - id: lookup_application
            type: io.kestra.plugin.servicenow.Get
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: cmdb_ci_appl
            sysparmQuery: "sys_id={{ inputs.application_sys_id }}"

          - id: open_incident
            type: io.kestra.plugin.servicenow.Post
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: incident
            data:
              short_description: "Production flow {{ flow.id }} failed on {{ task.id }}"
              description: |
                Scheduled flow {{ flow.id }} in namespace {{ flow.namespace }} failed.

                Failing task: {{ task.id }}
                Execution: {{ execution.url }}
                Started: {{ execution.startDate }}

                Affected application: {{ outputs.lookup_application.result[0].name }}
              cmdb_ci: "{{ inputs.application_sys_id }}"
              impact: "{{ outputs.lookup_application.result[0].business_criticality }}"
              urgency: "1"
              assignment_group: "{{ outputs.lookup_application.result[0].support_group }}"
              caller_id: "kestra-automation"

          - id: page_slack
            type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":rotating_light: Incident {{ outputs.open_incident.result.number }} opened for {{ outputs.lookup_application.result[0].name }} flow failure. <{{ execution.url }}|Execution>"
              }
    - name: "CMDB-driven patch wave"
      blueprintId: "servicenow-cmdb-patch-wave"
      title: "Change request approved, CMDB lookup, per-CI patch, ticket closed"
      description: "Listens for patch-category change requests, pulls every CI related to the application from cmdb_ci_appl_relationship, runs the per-host patching subflow per CI, updates the ticket with per-CI status, closes with a summary."
      href: "/blueprints?tags=Business"
      flowDiagram:
        source:
          label: "Patch change approved"
          sublabel: "Business Rule webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        workflow:
          label: "CMDB-scoped patch wave"
          sublabel: "per-CI subflow"
        tools:
          - label: "servicenow.Get CIs"
            pluginClass: "io.kestra.plugin.servicenow.Get"
          - label: "ForEach CI"
            pluginClass: "io.kestra.plugin.core.flow.ForEach"
          - label: "Patch subflow"
            pluginClass: "io.kestra.plugin.core.flow.Subflow"
          - label: "Close ticket"
            pluginClass: "io.kestra.plugin.servicenow.Update"
        outcome:
          label: "Wave closed with summary"
          sublabel: "per-CI links in ticket"
          icon: "mdi:database-search-outline"
      plugins:
        - "io.kestra.plugin.core.trigger.Webhook"
        - "io.kestra.plugin.servicenow.Get"
        - "io.kestra.plugin.core.flow.ForEach"
        - "io.kestra.plugin.servicenow.Update"
      code: |
        id: cmdb-patch-wave
        namespace: company.itsm

        triggers:
          - id: patch_change_approved
            type: io.kestra.plugin.core.trigger.Webhook
            key: snow-patch-wave

        tasks:
          - id: list_affected_cis
            type: io.kestra.plugin.servicenow.Get
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: cmdb_ci_appl_relationship
            sysparmQuery: "parent={{ trigger.body.cmdb_ci }}^type=Runs on::Runs"

          - id: mark_in_progress
            type: io.kestra.plugin.servicenow.Update
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: change_request
            sysId: "{{ trigger.body.sys_id }}"
            data:
              state: "-1"
              work_notes: "Starting patch wave across {{ outputs.list_affected_cis.result | length }} CIs. Kestra execution {{ execution.url }}"

          - id: per_ci_patch
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ outputs.list_affected_cis.result }}"
            concurrencyLimit: 3
            tasks:
              - id: patch_host
                type: io.kestra.plugin.core.flow.Subflow
                namespace: company.runbooks
                flowId: patch_host_safe
                inputs:
                  host_sys_id: "{{ json(taskrun.value).child.value }}"
                  change_number: "{{ trigger.body.number }}"

              - id: record_per_ci
                type: io.kestra.plugin.servicenow.Update
                domain: "{{ secret('SERVICENOW_DOMAIN') }}"
                username: "{{ secret('SERVICENOW_USERNAME') }}"
                password: "{{ secret('SERVICENOW_PASSWORD') }}"
                table: change_request
                sysId: "{{ trigger.body.sys_id }}"
                data:
                  work_notes: "Patched CI {{ json(taskrun.value).child.display_value }}. Status: {{ outputs.patch_host.exitCode == 0 ? 'OK' : 'ROLLED_BACK' }}."

          - id: close_with_summary
            type: io.kestra.plugin.servicenow.Update
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USERNAME') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            table: change_request
            sysId: "{{ trigger.body.sys_id }}"
            data:
              state: "3"
              close_code: "successful"
              close_notes: "Patch wave complete. {{ outputs.list_affected_cis.result | length }} CIs processed. Execution: {{ execution.url }}"

comparison:
  title: "Kestra vs ServiceNow automation alternatives"
  subtitle: "Kestra wraps the ServiceNow Table API with first-class tasks for record Get, Post, Update, Delete. The competitors below are how teams typically wire ServiceNow tickets to operational flows today."
  competitors:
    - name: "ServiceNow Flow Designer"
      pluginClass: "io.kestra.plugin.servicenow.Post"
    - name: "ServiceNow Orchestration (EE add-on)"
      pluginClass: "io.kestra.plugin.servicenow.Post"
    - name: "Custom REST polling + scripts"
      pluginClass: "io.kestra.plugin.scripts.shell.Commands"
  rows:
    - feature: "Trigger flows from approved tickets via webhook"
      kestra: "✓ Business Rule + Kestra Webhook trigger, real-time"
      values:
        - "In-platform only, scoped to SN apps"
        - "In-platform with paid orchestration packs"
        - "Custom polling code"
    - feature: "Run an arbitrary runbook against any infrastructure"
      kestra: "✓ 1300+ plugin tasks, dispatched from a Subflow"
      values:
        - "SN-native steps; external action via MID server only"
        - "Predefined orchestration content packs"
        - "Whatever you write"
    - feature: "Two-way audit: ticket has execution, execution has ticket"
      kestra: "✓ servicenow.Update on each step + execution links"
      values:
        - "Flow logs internal to SN"
        - "Orchestration history internal to SN"
        - "Manual correlation"
    - feature: "CMDB lookup as a flow task"
      kestra: "✓ servicenow.Get on cmdb_ci, cmdb_ci_appl_relationship"
      values:
        - "In-platform GlideRecord"
        - "In-platform GlideRecord"
        - "Custom HTTP"
    - feature: "Open incident from flow failure"
      kestra: "✓ servicenow.Post in errors branch"
      values:
        - "Not in scope (no external flow)"
        - "Limited to orchestration scope"
        - "Custom code"
    - feature: "Bidirectional drift detection CMDB vs reality"
      kestra: "✓ Scan + servicenow.Get + diff + Post/Update in one flow"
      values:
        - "Service Mapping / Discovery (separate ITOM product)"
        - "Discovery + orchestration packs"
        - "Custom reconciliation"
    - feature: "Approval gate before destructive runbook"
      kestra: "✓ Pause + resume + servicenow.Update on approve"
      values:
        - "SN approval rules native"
        - "SN approval rules native"
        - "Custom approval UI"
    - feature: "Self-hosted, air-gapped Kestra reaches SN behind MID"
      kestra: "✓ Kestra workers connect via MID server or direct HTTPS"
      values:
        - "SN-hosted"
        - "SN-hosted"
        - "Custom"
    - feature: "Chain ServiceNow with Terraform, Argo CD, dbt, Slack"
      kestra: "✓ Outputs flow into any plugin task"
      values:
        - "SN ecosystem only"
        - "Orchestration packs, SN-centric"
        - "Custom integration code"

faq:
  - question: "Does Kestra replace ServiceNow Flow Designer or Orchestration?"
    answer: "No. Flow Designer is excellent for in-platform automations (form to record, approval to update, integration to MID server). ServiceNow Orchestration is a paid add-on for content packs. Kestra is a general-purpose orchestrator that uses ServiceNow tickets as triggers and uses the ServiceNow Table API to read CMDB context and write back results. Use Flow Designer for SN-native flows. Use Kestra when the work spans outside SN and needs to chain with Terraform, dbt, Argo CD, Kubernetes, or any of 1300+ plugins."
  - question: "How does Kestra authenticate to ServiceNow?"
    answer: "Two options. Basic Auth: username and password (or a dedicated integration user with role itil or admin), passed as Kestra secrets. OAuth password grant: client ID, client secret, plus a username and password. Tokens go through Kestra's secrets backend and are decrypted per task. For high-security deployments, use a dedicated integration user with the minimum table-level ACLs (e.g. read on cmdb_ci_appl, write on change_request, write on incident)."
  - question: "Should I use webhooks or polling for ticket triggers?"
    answer: "Webhooks for real-time response (change request approval to flow start in seconds), polling for environments where webhooks are not feasible (firewall constraints, MID server limitations). For webhooks, create a ServiceNow Business Rule that POSTs to a Kestra Webhook trigger URL on the desired condition (state change to approved, category match, etc.). For polling, run a scheduled flow with servicenow.Get filtered by the same criteria; mark processed tickets via a custom field or use Kestra's deduplication."
  - question: "Can the plugin write to any table?"
    answer: "Yes. servicenow.Post, servicenow.Get, servicenow.Update, and servicenow.Delete all accept the table name as a property. Use them against change_request, incident, problem, sc_request (service catalog request), cmdb_ci and its subtables, kb_knowledge, or any custom table your instance has. The plugin uses the Table REST API, which is uniform across tables."
  - question: "Can Kestra create CIs in CMDB?"
    answer: "Yes. servicenow.Post against cmdb_ci, cmdb_ci_appl, cmdb_ci_linux_server, or any subtable creates a CI record. Auto-create from a reconciliation flow with a review-needed tag for the network team to confirm. For more complex CMDB shapes (relationships, IRE-based identification), use a discovery integration upstream and let Kestra orchestrate the lifecycle around the discovery output."
  - question: "How does Kestra reach a self-hosted (on-premises) ServiceNow?"
    answer: "If ServiceNow is reachable on HTTPS from Kestra workers, the plugin works directly. For ServiceNow instances behind a corporate firewall, run Kestra workers inside the same network or use a ServiceNow MID server to proxy. The plugin makes ordinary REST calls, so any HTTPS-reachable instance works regardless of hosting model."
  - question: "Is the ServiceNow plugin Enterprise-only?"
    answer: "No. The io.kestra.plugin.servicenow plugin ships in the open-source edition with Get, Post, Update, and Delete tasks against any ServiceNow table. Kestra Enterprise adds Apps (typed self-service forms so non-engineers can trigger a runbook through a UI), namespace-scoped RBAC, audit logs, worker isolation, and SSO. Useful when many teams share a Kestra instance and you need to scope who can write to which ServiceNow tables."
  - question: "How does the runbook ticket close-loop work in detail?"
    answer: "Three updates per runbook flow. On start: servicenow.Update sets state=work_in_progress with work_notes mentioning the Kestra execution ID. Per step: optional servicenow.Update with progress in work_notes. On end: servicenow.Update sets state=closed_successful (or closed_incomplete) with close_code, close_notes containing the execution URL, and any per-step result links. The ticket reads as a real-time progress log; the audit reads as a closed record with the orchestration receipts attached."

resources:
  title: "More on ServiceNow and Kestra"
  items:
    - kind: "docs"
      title: "Ticket-driven orchestration with ServiceNow"
      description: "How to configure Business Rules, wire webhooks to Kestra triggers, and write runbooks that update tickets through the work."
      href: "/docs/use-cases/business"
    - kind: "resource"
      title: "Chain ServiceNow with Terraform"
      description: "The common pattern: a change request approval fires a Terraform apply, the ticket gets the plan output, the ticket closes with the apply result."
      href: "/orchestration/terraform"
    - kind: "plugin"
      title: "ServiceNow plugin reference"
      description: "Every ServiceNow task (Get, Post, Update, Delete) with copy-ready YAML and full property reference."
      href: "/plugins/plugin-servicenow"

seeHow:
  title: "Ready to let the ticket fire the flow?"
  description: "Read approved change requests, dispatch the matching runbook, update the ticket through every step, close with the execution URL. Open incidents from production flow failures with CMDB-driven severity. Reconcile CMDB drift weekly. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
