src/contents/orchestration/surrealdb.yaml
title: "Orchestrate SurrealDB with Kestra: event-driven queries, multi-model pipelines, and application workflows"
description: "Trigger SurrealQL queries from any event, chain SurrealDB with ingestion and downstream processing, react to database events, and trace every step in one execution history."

tool:
  name: "SurrealDB"
  pluginClass: "io.kestra.plugin.surrealdb.Query"
  color: "#FF00A0"

hero:
  title: "Drive SurrealDB from events, not scripts."
  description: "SurrealDB handles the multi-model storage and SurrealQL engine. Kestra decides when queries run, what feeds them, and what happens with the results. Automate ingestion, processing, and notification in one declarative flow."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "SurrealDB's event-driven architecture handles data changes inside the database. Kestra runs the workflow around it: triggers <code>io.kestra.plugin.surrealdb.Query</code> when upstream events land, chains multi-step SurrealQL sequences with per-step retries, and gives every run a timestamped execution record with the query, the result, and what ran next. Application logic and data pipelines live in the same flow."

pillars:
  title: "Above the SurrealDB query layer."
  subtitle: "SurrealDB handles storage, graph traversal, and the SurrealQL engine. Kestra handles when queries run, what sequences them, and where the cross-system audit trail lives."
  items:
    - icon: "mdi:lightning-bolt-outline"
      title: "Event-driven queries, not manual scripts"
      description: "Scheduled cron scripts that query SurrealDB have no retry logic, no audit trail, and no view of what ran before or after. Kestra triggers <code>io.kestra.plugin.surrealdb.Query</code> on any event: a webhook, a file arrival, a schedule, or the output of an upstream task. Every run is logged."
    - icon: "mdi:pipe-disconnected"
      title: "Multi-step SurrealQL in one flow"
      description: "Application workflows often need multiple SurrealQL operations in sequence: insert, update, validate, notify. Kestra runs them as ordered tasks with per-step retries. A failed notification retries without re-running the insert, and the full sequence has one execution ID."
    - icon: "mdi:database-import-outline"
      title: "Ingestion to SurrealDB, automated"
      description: "Loading data into SurrealDB often means fetching from an HTTP API, a file, or another database first. Kestra handles the fetch, transforms the payload, and runs the SurrealQL upsert as one flow. If the source changes shape, the flow surfaces the error immediately rather than silently corrupting data."
    - icon: "mdi:export-variant"
      title: "Query, export, and notify in one run"
      description: "Periodic reports need a query, a serialized result, and a notification. Kestra runs the <code>surrealdb.Query</code>, serializes the output, pushes it to object storage or a destination system, and notifies via <a href='/orchestration/slack'>Slack</a> in one flow. A failed export retries the export step only, not the query."
    - icon: "mdi:account-cog-outline"
      title: "Application workflow orchestration"
      description: "SurrealDB powers applications with complex multi-model data. Kestra can orchestrate the business process workflows that sit above the database: approval chains, scheduled data cleanup, user-facing self-service operations, and more, all with a declarative YAML definition and a full execution history."
    - icon: "mdi:eye-outline"
      title: "Visible execution history per query"
      description: "When a downstream system shows stale data, the question is whether the SurrealDB query ran, what it returned, and what happened next. Kestra logs the query, the row count, and every subsequent step in one execution record. No archaeology through cron logs or manual run histories."

useCases:
  title: "How teams use SurrealDB and Kestra"
  subtitle: "Patterns teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Scheduled pipeline"
      badgeIcon: "mdi:clock-outline"
      title: "Scheduled SurrealDB query with export and notification"
      description: "A nightly schedule fires the flow. Kestra queries SurrealDB, serializes the result, pushes it to object storage, and confirms on Slack. If the export fails, it retries without re-running the query."
      flow:
        - node: "schedule"
          label: "nightly trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "surrealdb query"
          label: "run SurrealQL"
          pluginClass: "io.kestra.plugin.surrealdb.Query"
        - node: "serialize"
          label: "format output"
          pluginClass: "io.kestra.plugin.serdes.csv.IonToCsv"
        - node: "notify"
          label: "Slack confirm"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Export retries in isolation"
          description: "A failed export retries the export step only, not the SurrealDB query."
        - title: "Full execution record"
          description: "Query, row count, and export status land in one execution view."
        - title: "Slack on completion"
          description: "The team is notified on success or failure with context from the run."
          wide: true
    - badge: "Event-driven"
      badgeIcon: "mdi:lightning-bolt-outline"
      title: "Ingest from HTTP API to SurrealDB on event"
      description: "A webhook fires when upstream data is ready. Kestra fetches the payload, transforms it, and upserts into SurrealDB via <code>surrealdb.Query</code>. A failed upsert retries without re-fetching from the upstream API."
      flow:
        - node: "webhook"
          label: "upstream signal"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "http fetch"
          label: "pull payload"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "surrealdb upsert"
          label: "write to DB"
          pluginClass: "io.kestra.plugin.surrealdb.Query"
        - node: "notify"
          label: "confirm"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Retry upsert in isolation"
          description: "A failed upsert retries the SurrealDB step without re-fetching the payload."
        - title: "Webhook payload in context"
          description: "The trigger body is available to downstream tasks as a named variable."
        - title: "Logged per event"
          description: "Every webhook invocation gets its own timestamped execution record."
          wide: true
    - badge: "Multi-step"
      badgeIcon: "mdi:pipe-disconnected"
      title: "Multi-step SurrealQL workflow"
      description: "Some workflows need SurrealDB operations in strict sequence: read records, transform them, write back, then validate the result. Kestra runs each step as an ordered task with its own retry policy so a validation failure does not re-run the write."
      flow:
        - node: "schedule"
          label: "trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "read records"
          label: "SurrealQL SELECT"
          pluginClass: "io.kestra.plugin.surrealdb.Query"
        - node: "write back"
          label: "SurrealQL UPDATE"
          pluginClass: "io.kestra.plugin.surrealdb.Query"
        - node: "validate"
          label: "count check"
          pluginClass: "io.kestra.plugin.core.flow.If"
      items:
        - title: "Per-step retry"
          description: "Each SurrealQL operation has its own retry policy."
        - title: "Output flows forward"
          description: "The result of the SELECT is available to the UPDATE step by name."
        - title: "Validate the write"
          description: "An <code>If</code> check confirms the update before downstream tasks run."
          wide: true
    - badge: "Data cleanup"
      badgeIcon: "mdi:delete-sweep-outline"
      title: "Scheduled data cleanup and archival"
      description: "Old records accumulate. Kestra runs a scheduled SurrealQL DELETE or archive query, validates the row count before and after, and confirms the cleanup on Slack. If the validation shows an unexpected state, it halts and alerts the team."
      flow:
        - node: "weekly schedule"
          label: "cleanup trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "count before"
          label: "baseline check"
          pluginClass: "io.kestra.plugin.surrealdb.Query"
        - node: "delete old records"
          label: "SurrealQL DELETE"
          pluginClass: "io.kestra.plugin.surrealdb.Query"
        - node: "notify"
          label: "confirm cleanup"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Count before and after"
          description: "The baseline and post-delete counts both land in execution outputs."
        - title: "Halt on unexpected state"
          description: "An <code>If</code> check stops the flow if the delete touched too many rows."
        - title: "Auditable cleanup record"
          description: "Every cleanup run is timestamped and logged with counts."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for SurrealDB orchestration."
  lead: "Production-ready flows. Copy the YAML, wire it to your stack."
  items:
    - name: "Scheduled SurrealDB report"
      blueprintId: "surrealdb-scheduled-query"
      title: "Scheduled SurrealQL query with export and Slack notification"
      description: "Runs a SurrealQL query on a schedule, serializes the result to CSV, and confirms on Slack. A failed export retries the export step only, not the query."
      href: "/blueprints"
    - name: "Event-driven ingestion"
      blueprintId: "surrealdb-webhook-ingest"
      title: "Fetch from HTTP API and upsert into SurrealDB on webhook"
      description: "A webhook fires the flow, Kestra fetches the upstream payload, and upserts into SurrealDB via <code>surrealdb.Query</code>. Each event gets its own timestamped execution record."
      href: "/blueprints"
    - name: "Multi-step SurrealQL pipeline"
      blueprintId: "surrealdb-multi-step"
      title: "Read, transform, and write back in SurrealDB"
      description: "Runs a SurrealQL SELECT, processes the output, runs an UPDATE, then validates the result with a count check before confirming on Slack. Each step has its own retry policy."
      href: "/blueprints"

comparison:
  title: "Kestra vs the orchestration alternatives SurrealDB teams evaluate"
  subtitle: "When manual scripts or basic schedulers are not enough to operationalize SurrealDB workflows, here is how Kestra compares."
  competitors:
    - name: "Cron + scripts"
      logoAsset: "cron"
    - name: "Airflow"
      logoAsset: "airflow"
    - name: "Prefect"
      logoAsset: "prefect"
  rows:
    - feature: "Trigger SurrealDB query on upstream event"
      kestra: "✓ Native event triggers"
      values:
        - "No event system, time-based only"
        - "Sensors, Python required"
        - "Event polling code"
    - feature: "Per-step retry for multi-step SurrealQL"
      kestra: "✓ Task-level retry config"
      values:
        - "All-or-nothing script retry"
        - "Task-level retry, Python required"
        - "Task-level retry, Python required"
    - feature: "Chain with HTTP fetch and notification"
      kestra: "✓ Native HTTP + Slack plugins"
      values:
        - "Shell scripting, no native plugins"
        - "Operator chain, Python required"
        - "Python code required"
    - feature: "Execution history per query run"
      kestra: "✓ Full execution logs"
      values:
        - "Syslog or manual logging"
        - "Airflow task logs"
        - "Prefect flow run logs"
    - feature: "Self-service query forms"
      kestra: "✓ Kestra Apps"
      values:
        - "Not available"
        - "No native form layer"
        - "No native form layer"
    - feature: "Declarative YAML, IaC-friendly"
      kestra: "✓ YAML + Terraform provider"
      values:
        - "Shell scripts"
        - "Python DAGs"
        - "Python flows"

faq:
  - question: "What does Kestra add to SurrealDB?"
    answer: "SurrealDB handles storage, graph traversal, and SurrealQL. Kestra wraps it in observable, automated workflows: triggers <code>io.kestra.plugin.surrealdb.Query</code> on events or schedules, sequences multi-step SurrealQL operations with per-step retries, chains SurrealDB with HTTP fetches and downstream notifications, and logs every query run with its result and execution context."
  - question: "Can Kestra trigger a SurrealDB query on a webhook or file arrival?"
    answer: "Yes. Kestra has native triggers for webhooks, S3 and GCS file arrivals, schedules, and more. When the trigger fires, Kestra starts the flow and runs <code>surrealdb.Query</code> as the next step. The query receives trigger metadata as named variables, so a webhook payload can parameterize the SurrealQL at run time."
  - question: "How does Kestra handle multi-step SurrealQL workflows?"
    answer: "Each SurrealQL operation is a separate task in the flow, with its own retry policy, timeout, and output. A validation failure retries the validation step only, without re-running the upstream write. Task outputs flow forward by name, so the result of a SELECT is available to a subsequent UPDATE or notify step."
  - question: "Can Kestra load data from an HTTP API into SurrealDB automatically?"
    answer: "Yes. A flow can use <code>io.kestra.plugin.core.http.Request</code> to fetch the payload, process it, and pass the result to <code>surrealdb.Query</code> for the upsert. Each step retries independently, so a transient network error on the fetch retries the fetch without touching SurrealDB, and a failed upsert retries the upsert without re-fetching."
  - question: "Is Kestra self-hosted or managed?"
    answer: "Kestra offers fully self-hosted deployment on Docker or Kubernetes, a managed cloud version, and air-gapped options for regulated environments. The open-source edition includes unlimited workflows and event-driven triggers. Self-hosted keeps your pipeline execution and database credentials inside your own network."

seeHow:
  title: "Ready to orchestrate your SurrealDB workflows?"
  description: "Trigger on any event, sequence multi-step SurrealQL, chain with ingestion and notifications, and trace every run in one place. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
