src/contents/orchestration/terraform.yaml
title: "Orchestrate Terraform with Kestra: scheduling, approval gates, and multi-tool coordination"
description: "Terraform provisions infrastructure. Kestra orchestrates the runs. Add scheduled plans, approval gates between plan and apply, retries, and chaining with Ansible or ArgoCD, without touching your Terraform code."

tool:
  name: "Terraform"
  pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
  color: "#7B42BC"

hero:
  title: "Your Terraform runs, fully orchestrated."
  description: "Terraform is a CLI. It has no scheduler, no native pause between <code>plan</code> and <code>apply</code>, no shared history with the steps that run before or after. Kestra wraps every run with cron and event triggers, a reviewer gate, automatic retries, and one execution view across Terraform, Ansible, and ArgoCD."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

pillars:
  title: "Four things Kestra adds to every Terraform run."
  subtitle: "Terraform solves reproducibility. Kestra solves the operational layer around it: when runs happen, who approves them, what runs next, and where the audit lives."
  items:
    - icon: "mdi:source-branch"
      title: "Plan, gate, and apply as one flow"
      description: "<code>terraform plan</code> and <code>terraform apply</code> become two steps in a Kestra flow. The flow pauses between them on a Pause task, surfaces the plan diff in the UI, and resumes only after a named reviewer approves. The decision is logged with a timestamp and identity."
    - icon: "mdi:clock-outline"
      title: "Native scheduling and drift detection"
      description: "Kestra runs <code>terraform plan</code> on a cron or interval schedule and checks the output. If the plan is non-empty, the flow routes the diff to Slack, email, or a webhook. No cron job on a jump box, no polling script, no missed drift."
    - icon: "mdi:pipe-disconnected"
      title: "Coordination with Ansible, ArgoCD, and the rest of the stack"
      description: "Terraform provisions the VM. Ansible configures it. ArgoCD ships the app. All three run as sequential tasks in one flow, with Terraform outputs (IPs, resource IDs) passed forward and per-step retries on the step that fails. The Terraform step does not re-run when Ansible fails."
    - icon: "mdi:eye-outline"
      title: "Per-step execution history with attribution"
      description: "Every run captures the trigger source, the inputs, the plan output, the apply result, and the reviewer. The record is searchable by date, status, or operator. Auditors get evidence by default, attached to the execution that produced it."

useCases:
  title: "How platform teams use Terraform and Kestra"
  subtitle: "Patterns infrastructure teams run in production. Pick one, copy the YAML, wire it to your stack."
  items:
    - badge: "Scheduled"
      badgeIcon: "mdi:clock-outline"
      title: "Scheduled drift detection"
      description: "Run <code>terraform plan</code> on a cron schedule against the production state. If the plan returns a non-empty diff, Kestra captures the output, posts the change set to Slack, and links straight to the execution. No one has to remember to check."
      flow:
        - node: "cron trigger"
          label: "on schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "terraform plan"
          label: "capture diff"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "diff check"
          label: "non-empty?"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "alert"
          label: "Slack / email"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Cron + interval schedules"
          description: "Native scheduler with cron, fixed intervals, or condition-based triggers."
        - title: "Plan output stored per run"
          description: "Every drift check is timestamped, attributed, and replayable in the UI."
        - title: "Slack / email / webhook routing"
          description: "Route the diff to the team that owns the affected modules."
          wide: true
    - badge: "Governance"
      badgeIcon: "mdi:shield-check-outline"
      title: "Approval gate between plan and apply"
      description: "Run <code>terraform plan</code> automatically. Pause the flow on the plan output. A named reviewer reads the diff in the Kestra UI and resumes the flow. Only then does <code>terraform apply</code> run. The approver and timestamp land in the execution history."
      flow:
        - node: "trigger"
          label: "on event or PR"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "terraform plan"
          label: "capture diff"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "pause / review"
          label: "human approves"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "terraform apply"
          label: "with retries"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "audit log"
          label: "who + when"
          pluginClass: "io.kestra.plugin.core.log.Log"
      items:
        - title: "Native pause + resume"
          description: "Built-in Pause task suspends execution until a reviewer approves."
        - title: "Reviewer + timestamp logged"
          description: "Identity and approval moment stored in execution history automatically."
        - title: "Retry on transient apply errors"
          description: "Configure a per-step retry policy on <code>terraform apply</code> with backoff."
        - title: "Replayable from any step"
          description: "Re-run the apply without re-running the plan, or vice versa."
    - badge: "Full pipeline"
      badgeIcon: "mdi:pipe-disconnected"
      title: "Provision with Terraform, configure with Ansible, deploy with ArgoCD"
      description: "Run <code>terraform apply</code> to provision the VM, hand the outputs (IP, hostname) to <code>ansible-playbook</code> to configure the app, then trigger an <code>argocd app sync</code> for the deployment. If Ansible fails, Kestra retries the Ansible step. The Terraform apply does not re-run."
      flow:
        - node: "trigger"
          label: "on demand or schedule"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "terraform apply"
          label: "provision VM"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "ansible-playbook"
          label: "configure app"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "argocd sync"
          label: "deploy"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "notify"
          label: "Slack + CMDB"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Step-level retries"
          description: "Retry only the failed step. The Terraform apply is not re-run on Ansible failure."
        - title: "Outputs flow forward"
          description: "Pass IPs, resource IDs, and Terraform output values into the next task."
        - title: "Shared execution context"
          description: "One execution ID across Terraform, Ansible, and ArgoCD. One UI to debug."
        - title: "Single audit history"
          description: "Search every run by date, status, or operator from one place."
    - badge: "Multi-env"
      badgeIcon: "mdi:source-branch"
      title: "Promotion across dev, staging, and production"
      description: "One flow runs <code>terraform apply</code> against the dev workspace, validates, pauses for a reviewer, applies against staging, validates again, pauses, then applies against production. Each gate logs the approver. Each apply runs against its own remote state."
      flow:
        - node: "trigger"
          label: "git push or webhook"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "dev apply"
          label: "workspace = dev"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "review"
          label: "gate"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "staging apply"
          label: "workspace = staging"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "review"
          label: "gate"
          gate: true
          pluginClass: "io.kestra.plugin.core.flow.Pause"
        - node: "prod apply"
          label: "workspace = prod"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
      items:
        - title: "Workspace as a flow input"
          description: "Pass the target workspace, var-file, or backend config as a flow input."
        - title: "Promotion stops on failure"
          description: "A failed staging apply halts the flow before the production run."
        - title: "Reviewer per environment"
          description: "Different approvers per gate, with the identity logged at each step."
    - badge: "Self-service"
      badgeIcon: "mdi:account-multiple-outline"
      title: "Self-service VM and resource provisioning"
      description: "Wrap a Terraform module behind a Kestra App: a form with typed inputs (region, size, owner) that runs the same flow every time. Engineers request infrastructure without cloning the repo, editing HCL, or holding cloud console access."
      flow:
        - node: "Kestra App"
          label: "form input"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "generate hostname"
          label: "naming convention"
          pluginClass: "io.kestra.plugin.scripts.python.Script"
        - node: "terraform apply"
          label: "provision"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "notify"
          label: "Slack + IP"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Typed inputs and dropdowns"
          description: "Form inputs validated before the flow runs. No malformed <code>tfvars</code>."
        - title: "RBAC on who can run what"
          description: "Role-based access on the form itself, not on the cloud console."
        - title: "Same flow, every request"
          description: "Every provision goes through the same audited, retry-aware execution."
          wide: true
    - badge: "Operations"
      badgeIcon: "mdi:database-cog-outline"
      title: "State backend migration with auth and verification"
      description: "Move Terraform state from one backend to another (on-prem database to Azure Blob, S3 to GCS, local to remote) as one auditable flow. Kestra handles the credentialed auth step, backs up the source state, runs <code>terraform state mv</code>, and verifies the new backend before marking the migration complete."
      flow:
        - node: "auth"
          label: "workload identity"
          pluginClass: "io.kestra.plugin.azure.auth.OauthAccessToken"
        - node: "state backup"
          label: "snapshot source"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "terraform state mv"
          label: "migrate"
          pluginClass: "io.kestra.plugin.terraform.cli.TerraformCLI"
        - node: "verify"
          label: "list new backend"
          pluginClass: "io.kestra.plugin.azure.storage.blob.List"
        - node: "notify"
          label: "on complete"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "Credentialed execution"
          description: "Pull workload identity tokens or static secrets from a vault, scoped per task."
        - title: "Backup before migrate"
          description: "Snapshot the source state to a versioned location before touching anything."
        - title: "Post-migration verification"
          description: "List the new backend, confirm the state file is present, halt if not."

quotes:
  - quote: "Kestra's declarative model and Terraform integration gave us exactly what we needed to build customer-specific pipelines, automate deployment, and monitor everything reliably."
    author: "Lirav Duvshani, CEO @DataFlooder, Sopht"
    storyLink: "/use-cases/stories/sopht-scales-its-green-itops-platform-with-kestra"
  - quote: "Kestra has been a keystone to design complex execution flows while enhancing our Infrastructure as Code best practices. It now empowers our ingestion with Airbyte, transformation with dbt, and our Hightouch reverse-ETL jobs seamlessly!"
    author: "Senior Data Engineer, Gorgias"
    storyLink: "/use-cases/stories/gorgias-using-declarative-data-engineering-orchestration-with-kestra"
    logoFile: "gorgias"
  - quote: "For a long time, we used Ansible & Jenkins to manage all the tasks that must be done on every of our deployments. Lately, we faced a significant scale up in the number of clusters and services that we manage."
    author: "Julien Legrand, Data & AI Product Owner, Crédit Agricole (CAGIP)"
    storyLink: "/use-cases/stories/scaling-secure-infrastructure-at-credit-agricole-with-kestra"
    sourceUrl: "/blogs/2024-10-22-credit-agricole-case-study"
    sourceLabel: "Read the case study"

blueprints:
  title: "Blueprints for Terraform orchestration."
  lead: "Production-ready workflows. Copy the YAML, point it at your state backend."
  items:
    - name: "Terraform from a Git repo with remote state"
      title: "Terraform from a Git repo with remote state"
      description: "Clone a Git repository, run <code>terraform init</code> against an S3 backend, then <code>terraform plan</code> and <code>terraform apply</code>. Both outputs are captured as task artifacts. Add the Schedule or Webhook trigger to run on cron or on every merge."
      href: "/blueprints"
      plugins:
        - "io.kestra.plugin.core.flow.WorkingDirectory"
        - "io.kestra.plugin.git.Clone"
        - "io.kestra.plugin.terraform.cli.TerraformCLI"
      code: |
        id: git-terraform
        namespace: company.team

        tasks:
          - id: git
            type: io.kestra.plugin.core.flow.WorkingDirectory
            tasks:
              - id: clone_repository
                type: io.kestra.plugin.git.Clone
                url: https://github.com/anna-geller/kestra-ci-cd
                branch: main

              - id: terraform
                type: io.kestra.plugin.terraform.cli.TerraformCLI
                beforeCommands:
                  - terraform init
                inputFiles:
                  terraform.tfvars: |
                    username            = "cicd"
                    password            = "{{ secret('CI_CD_PASSWORD') }}"
                    hostname            = "https://demo.kestra.io"
                outputFiles:
                  - "*.txt"
                commands:
                  - terraform plan 2>&1 | tee plan_output.txt
                  - terraform apply -auto-approve 2>&1 | tee apply_output.txt
                env:
                  AWS_ACCESS_KEY_ID: "{{ secret('AWS_ACCESS_KEY_ID') }}"
                  AWS_SECRET_KEY_ID: "{{ secret('AWS_SECRET_KEY_ID') }}"
                  AWS_DEFAULT_REGION: "{{ secret('AWS_DEFAULT_REGION') }}"
    - name: "Self-service VM provisioning on GCP"
      title: "Self-service VM provisioning on GCP"
      description: "A form-driven flow: pick a region, size, OS, and environment. Kestra generates a standardized hostname, reserves an IP from an external IPAM, runs <code>terraform apply</code> to create the VM, then posts the result and external IP to Slack. State is tracked in Kestra KV."
      href: "/blueprints"
      plugins:
        - "io.kestra.plugin.scripts.python.Script"
        - "io.kestra.plugin.terraform.cli.TerraformCLI"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
        - "io.kestra.plugin.core.kv.Set"
      code: |
        id: create-vm-gcp-terraform
        namespace: solutions.infra

        inputs:
          - id: region
            type: SELECT
            values: [us-central1, us-east1]
            defaults: us-central1
          - id: vmSize
            type: SELECT
            values: [Small, Medium, Large, n1-standard-1]
            defaults: n1-standard-1
          - id: env
            type: SELECT
            values: [Development, Staging, Production]
            defaults: Development

        tasks:
          - id: generateCustomHostname
            type: io.kestra.plugin.scripts.python.Script
            dependencies:
              - kestra
            script: |
              from kestra import Kestra
              env_code = "{{ inputs.env | slice(0, 3) }}"
              index_code = {{ kv('getVMIndex', errorOnMissing = false) ?? 1 }}
              vm_name = f"gcp{env_code}vm{index_code}".lower()
              Kestra.outputs({'customHostname': vm_name, 'index_code': index_code})

          - id: createVM
            type: io.kestra.plugin.terraform.cli.TerraformCLI
            inputFiles:
              main.tf: |
                resource "google_compute_instance" "default" {
                  name         = "{{ outputs.generateCustomHostname.vars.customHostname }}"
                  machine_type = "{{ inputs.vmSize }}"
                  zone         = "{{ inputs.region }}-a"

                  boot_disk {
                    initialize_params {
                      image = "ubuntu-2204-jammy-v20240614"
                    }
                  }

                  network_interface {
                    network = "default"
                    access_config {}
                  }
                }

                output "external_ip" {
                  value = google_compute_instance.default.network_interface[0].access_config[0].nat_ip
                }
              gcp-svc-account.json: "{{ secret('GCP_SVC_ACCOUNT') }}"
            env:
              GOOGLE_APPLICATION_CREDENTIALS: gcp-svc-account.json
            beforeCommands:
              - terraform init
            commands:
              - terraform apply -auto-approve -json
              - terraform output -raw external_ip > external_ip.txt
            outputFiles:
              - "*.txt"

          - id: notify
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: |
              {{ outputs.generateCustomHostname.vars.customHostname }} created.
              External IP: {{ read(outputs.createVM.outputFiles['external_ip.txt']) }}
    - name: "Provision GitHub repos with the Terraform GitHub provider"
      title: "Provision GitHub repos with the Terraform GitHub provider"
      description: "A multi-tool example: Terraform manages a SaaS resource (a GitHub repository) and Kestra orchestrates the run. The flow exposes <code>repository_name</code> and <code>description</code> as inputs, runs <code>terraform plan</code> then <code>terraform apply</code>, and captures both outputs. Wrap the same flow in a Kestra App for self-service repo creation."
      href: "/blueprints"
      plugins:
        - "io.kestra.plugin.terraform.cli.TerraformCLI"
      code: |
        id: create-repository
        namespace: company.team

        inputs:
          - id: repository_name
            type: STRING
          - id: description
            type: STRING

        tasks:
          - id: terraform
            type: io.kestra.plugin.terraform.cli.TerraformCLI
            inputFiles:
              main.tf: |
                terraform {
                  required_providers {
                    github = {
                      source  = "integrations/github"
                      version = "~> 6.0"
                    }
                  }
                }

                provider "github" {
                  token = "{{ secret('GITHUB_TOKEN') }}"
                }

                resource "github_repository" "{{inputs.repository_name}}" {
                  name        = "{{inputs.repository_name}}"
                  description = "{{ inputs.description }}"
                  auto_init   = true
                  visibility = "public"
                }
            beforeCommands:
              - terraform init
            commands:
              - terraform plan 2>&1 | tee plan_output.txt
              - terraform apply -auto-approve 2>&1 | tee apply_output.txt
            outputFiles:
              - "*.txt"

comparison:
  title: "Kestra vs Terraform orchestration alternatives"
  subtitle: "How Kestra compares to the platforms platform teams already use to run Terraform."
  competitors:
    - name: "Terraform Cloud / HCP"
    - name: "GitHub Actions"
      pluginClass: "io.kestra.plugin.github.actions.RunWorkflow"
    - name: "Jenkins"
      logoAsset: "jenkins"
  rows:
    - feature: "Scheduling"
      kestra: "✓ Native cron + events"
      values:
        - "Run triggers, no cron"
        - "Cron-based workflows"
        - "Cron in pipelines"
    - feature: "Approval gate between plan and apply"
      kestra: "✓ Native pause + resume"
      values:
        - "Run approvals (paid tiers)"
        - "Environment approvals (deploy only)"
        - "Pipeline input step"
    - feature: "Retry per step on apply failure"
      kestra: "✓ Configurable per task"
      values:
        - "Re-run from start"
        - "Re-run from start or step"
        - "Built in, pipeline-coded"
    - feature: "Chain Terraform with Ansible / ArgoCD"
      kestra: "✓ Native, with outputs"
      values:
        - "Terraform only"
        - "Possible, glue scripts required"
        - "Possible, plugin-dependent"
    - feature: "Per-run execution history with attribution"
      kestra: "✓ Execution history + task state"
      values:
        - "Run history in HCP UI"
        - "Run history in Actions UI"
        - "Build history"
    - feature: "Self-service forms for non-engineers"
      kestra: "✓ Kestra Apps"
      values:
        - "No-code modules (paid tiers)"
        - "No native form layer"
        - "Parameterized build"
    - feature: "OpenTofu / Terragrunt support"
      kestra: "✓ Dedicated plugins"
      values:
        - "Terraform only"
        - "Run any CLI manually"
        - "Run any CLI manually"

faq:
  - question: "What does Kestra add to a Terraform CLI setup?"
    answer: "Terraform is a CLI. It runs <code>plan</code> and <code>apply</code> when you tell it to, but it has no scheduler, no event triggers, no pause-and-resume between plan and apply, and no shared visibility layer for the steps that run before or after. Kestra provides all of those. Every Terraform run becomes a workflow step: triggered on schedule or by events, gated by a reviewer, retried on transient failure, and auditable across the full pipeline."
  - question: "What's the difference between Terraform Cloud and Kestra?"
    answer: "Terraform Cloud (now part of HCP) handles state storage, remote execution, and run management inside the Terraform ecosystem. Kestra sits above that operational layer. It schedules runs, adds a native pause-and-resume between plan and apply, chains Terraform with Ansible, ArgoCD, or any other tool, and gives you one execution history across the full infrastructure workflow. Terraform Cloud is Terraform-only by design. Kestra orchestrates everything around it, and works alongside Terraform Cloud if you use it for state and remote runs."
  - question: "Can Kestra schedule <code>terraform plan</code> for drift detection?"
    answer: "Kestra has a native scheduler that supports cron expressions, fixed intervals, and event-based triggers. Run <code>terraform plan</code> every hour, capture the diff, and post a Slack alert if the plan is non-empty. The full plan output is stored as a task artifact and replayable from the execution UI."
  - question: "How does the approval gate work between plan and apply?"
    answer: "Kestra's Pause task suspends the flow after <code>terraform plan</code> completes. The plan output is surfaced in the Kestra UI. A named reviewer reads it, optionally adds a comment, and resumes the flow. Only then does <code>terraform apply</code> run. The reviewer identity and timestamp are logged in the execution history. Different reviewers can be wired to different namespaces or environments through Kestra's RBAC."
  - question: "Can Kestra chain Terraform with Ansible and ArgoCD in a single flow?"
    answer: "Each tool runs as a task inside one Kestra flow. <code>terraform apply</code> publishes outputs (IPs, resource IDs, hostnames) that flow forward into the Ansible task. ArgoCD runs after Ansible completes. If Ansible fails, Kestra retries the Ansible step only. The Terraform apply does not re-run. The whole pipeline shares one execution ID, one audit trail, and one place to debug."
  - question: "Does Kestra work with OpenTofu and Terragrunt?"
    answer: "Kestra has dedicated plugins for both. The <code>OpenTofuCLI</code> and <code>TerragruntCLI</code> tasks accept the same inputs as the Terraform task, so swapping the binary is a one-line change. The same flow, retries, approval gates, and execution history apply."
  - question: "Do we have to drop Jenkins or Ansible to use Kestra?"
    answer: "No. Kestra calls Ansible playbooks as a task and can fire Jenkins jobs over the API. Many teams start by adding Kestra above an existing Jenkins or Ansible setup: Kestra schedules the run, gates the apply, then hands off to the existing pipeline. Crédit Agricole's CAGIP team began with Ansible and Jenkins and added Kestra as the unified control plane on top."
  - question: "Can Kestra migrate Terraform state between backends?"
    answer: "Yes. Wrap the migration in a flow: authenticate against the source and target backends, snapshot the current state to a versioned location, run <code>terraform state mv</code> (or re-init with the new backend), then verify the target backend with a list call. Every step is logged and rerunnable if the verification fails."
  - question: "How does Kestra handle state and secrets for Terraform?"
    answer: "Kestra does not manage Terraform state. State stays in your existing backend (S3, GCS, Azure Blob, Terraform Cloud, an on-prem database, or whatever you run today). Kestra injects credentials and tfvars at run time using its built-in secrets manager or an external secrets backend like HashiCorp Vault. Outputs are stored per execution and reusable downstream."
  - question: "What's the difference between Kestra and Spacelift for Terraform?"
    answer: "Spacelift is purpose-built for IaC and does that one job well. Kestra is a general-purpose orchestrator. If your Terraform runs sit inside a larger workflow that also calls Ansible, ArgoCD, data pipelines, or business logic, Kestra runs the full chain from one platform with one history. Spacelift stops at the IaC layer."
  - question: "Is Kestra self-hosted?"
    answer: "Kestra ships self-hosted on Docker or Kubernetes, as a managed cloud, or air-gapped for regulated environments. The open-source edition includes unlimited workflows and event-driven triggers. Self-hosted gives full control over where Terraform plans and applies execute, with no external dependency on Kestra's infrastructure."

seeHow:
  title: "Ready to orchestrate your Terraform runs?"
  description: "Schedule plans, gate applies, retry failures, and chain Terraform with Ansible and ArgoCD. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
