src/contents/orchestration/vertex-ai.yaml
title: "Orchestrate Vertex AI with Kestra: event-driven training, MLOps pipelines, and model lifecycle automation"
description: "Trigger Vertex AI custom training jobs when new data lands in GCS, chain training with data prep and conditional deployment, run scheduled batch inference, and trace every ML step across GCP services from one place."

tool:
  name: "Vertex AI"
  pluginClass: "io.kestra.plugin.gcp.vertexai.CustomJob"
  color: "#4285F4"

hero:
  title: "Run Vertex AI training and inference when data is ready."
  description: "Vertex AI handles model training, deployment, and serving on GCP. Kestra decides when each job starts, what data feeds it, and what happens after training completes. Automate the full ML lifecycle in one declarative flow."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Vertex AI Pipelines can chain ML steps inside the GCP ecosystem. Kestra runs above it: triggers <code>io.kestra.plugin.gcp.vertexai.CustomJob</code> the moment new training data lands in GCS, sequences BigQuery data prep before the job starts, validates the trained model before conditional deployment, and gives one execution history across every GCP service in the pipeline. A deployment failure retries the deploy step only, without re-running the expensive training job."

pillars:
  title: "Above the Vertex AI job scheduler."
  subtitle: "Vertex AI handles model training, serving, and the ML runtime. Kestra handles when jobs trigger, what data feeds them, who approves deployments, and where the cross-service audit trail lives."
  items:
    - icon: "mdi:lightning-bolt-outline"
      title: "Event-driven training, not time-based"
      description: "Scheduling a training job on a cron cadence means it may run on incomplete data. Kestra triggers <code>io.kestra.plugin.gcp.vertexai.CustomJob</code> the moment new training data lands in GCS, a BigQuery export completes, or an upstream pipeline confirms. Training always runs on fresh, complete input."
    - icon: "mdi:pipe-disconnected"
      title: "Full MLOps pipeline in one flow"
      description: "A production ML pipeline spans BigQuery data prep, Vertex AI training, model evaluation, and conditional deployment. Kestra chains these as ordered tasks in one flow. A deployment failure retries the deploy step only, without re-running the training job, and the full sequence shares one execution ID."
    - icon: "mdi:account-check-outline"
      title: "Human approval before model deployment"
      description: "Automatically deploying a newly trained model to production without review is risky. Kestra pauses the flow with <code>io.kestra.plugin.core.flow.Pause</code> after training completes, surfaces the model metrics in the Kestra UI, and waits for a human to approve or reject before the deployment step runs."
    - icon: "mdi:clock-outline"
      title: "Scheduled batch prediction jobs"
      description: "Batch prediction runs on a schedule: fetch the input dataset from BigQuery, trigger a Vertex AI batch prediction job, wait for completion, and write the outputs back. Kestra chains these steps with per-step retries so a BigQuery write failure retries the write without re-running the prediction job."
    - icon: "mdi:multimodal"
      title: "Multimodal completion in pipelines"
      description: "Vertex AI supports text, image, video, and audio processing through <code>io.kestra.plugin.gcp.vertexai.MultimodalCompletion</code>. Kestra chains multimodal processing steps with upstream media ingestion and downstream annotation storage in one flow, triggered on GCS file arrival or a schedule."
    - icon: "mdi:eye-outline"
      title: "Cross-service ML execution history"
      description: "When a model performs poorly, the question is what training data it saw, what BigQuery prep ran, and how the deployment was triggered. Kestra logs every step, from the GCS trigger through training to deployment, in one execution record with timestamps and service outputs."

useCases:
  title: "How teams use Vertex AI and Kestra"
  subtitle: "Patterns ML platform teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Event-driven training"
      badgeIcon: "mdi:lightning-bolt-outline"
      title: "Trigger training when new data lands in GCS"
      description: "A new training dataset lands in GCS. Kestra fires immediately, runs BigQuery data prep, submits a Vertex AI Custom Job, and waits for completion. A failed training job retries without re-running the BigQuery prep."
      flow:
        - node: "gcs trigger"
          label: "new data arrives"
          pluginClass: "io.kestra.plugin.gcp.gcs.Trigger"
        - node: "bq prep"
          label: "data prep"
          pluginClass: "io.kestra.plugin.gcp.bigquery.Query"
        - node: "vertex custom job"
          label: "train model"
          pluginClass: "io.kestra.plugin.gcp.vertexai.CustomJob"
        - node: "slack"
          label: "notify on complete"
          pluginClass: "io.kestra.plugin.notifications.slack.SlackIncomingWebhook"
      items:
        - title: "No cron lag"
          description: "Training fires the moment the new dataset appears in GCS."
        - title: "Data prep before training"
          description: "BigQuery prep runs and confirms before the training job starts."
        - title: "Step retries stay local"
          description: "A training failure retries the training step only, not the BigQuery prep."
          wide: true
    - badge: "MLOps pipeline"
      badgeIcon: "mdi:pipe-disconnected"
      title: "Train, evaluate, and conditionally deploy"
      description: "Kestra runs data prep, triggers the Vertex AI Custom Job, waits for completion, evaluates model metrics, and deploys only if evaluation passes. A human approval gate sits between evaluation and deployment."
      flow:
        - node: "bq prep"
          label: "data prep"
          pluginClass: "io.kestra.plugin.gcp.bigquery.Query"
        - node: "vertex custom job"
          label: "train"
          pluginClass: "io.kestra.plugin.gcp.vertexai.CustomJob"
        - node: "evaluate"
          label: "check metrics"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "pause"
          label: "await approval"
          pluginClass: "io.kestra.plugin.core.flow.Pause"
      items:
        - title: "Conditional deployment"
          description: "A model that fails the evaluation threshold never reaches deployment."
        - title: "Human approval gate"
          description: "A reviewer approves deployment in the Kestra UI before it proceeds."
        - title: "Retry deploy only"
          description: "A failed deployment retries without re-running the training job."
          wide: true
    - badge: "Batch prediction"
      badgeIcon: "mdi:clock-outline"
      title: "Scheduled batch prediction on BigQuery data"
      description: "A nightly schedule exports a prediction input dataset from BigQuery, triggers a Vertex AI batch prediction job, waits for completion, and writes the prediction outputs back to BigQuery. Slack confirms on each run."
      flow:
        - node: "schedule"
          label: "nightly trigger"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "bq export"
          label: "prepare inputs"
          pluginClass: "io.kestra.plugin.gcp.bigquery.Query"
        - node: "vertex prediction"
          label: "batch predict"
          pluginClass: "io.kestra.plugin.gcp.vertexai.CustomJob"
        - node: "bq write"
          label: "write outputs"
          pluginClass: "io.kestra.plugin.gcp.bigquery.Query"
      items:
        - title: "BigQuery prep before prediction"
          description: "Input preparation runs and confirms before the prediction job starts."
        - title: "Retry write in isolation"
          description: "A BigQuery write failure retries without re-running the prediction job."
        - title: "Full pipeline in one view"
          description: "Export, predict, and write share one execution ID."
          wide: true
    - badge: "Multimodal"
      badgeIcon: "mdi:image-multiple-outline"
      title: "Process media files with Vertex AI multimodal completion"
      description: "Media files land in GCS. Kestra fires, runs <code>io.kestra.plugin.gcp.vertexai.MultimodalCompletion</code> to generate captions or transcripts, and writes the annotations to BigQuery. Each file gets its own execution record."
      flow:
        - node: "gcs trigger"
          label: "media arrives"
          pluginClass: "io.kestra.plugin.gcp.gcs.Trigger"
        - node: "vertex multimodal"
          label: "generate annotation"
          pluginClass: "io.kestra.plugin.gcp.vertexai.MultimodalCompletion"
        - node: "validate"
          label: "check output"
          pluginClass: "io.kestra.plugin.core.flow.If"
        - node: "bq write"
          label: "store annotation"
          pluginClass: "io.kestra.plugin.gcp.bigquery.Query"
      items:
        - title: "Trigger per file"
          description: "Each GCS file arrival gets its own flow execution and annotation record."
        - title: "Validate before storing"
          description: "An empty or malformed completion halts the flow before the BigQuery write."
        - title: "Prompt logged per run"
          description: "The prompt, model, and response land in the execution output."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for Vertex AI orchestration."
  lead: "Production-ready flows. Copy the YAML, wire it to your stack."
  items:
    - name: "Event-driven training"
      blueprintId: "vertex-ai-training-trigger"
      title: "Trigger Vertex AI training when data lands in GCS"
      description: "A GCS trigger fires on new training data, runs BigQuery prep, submits a Vertex AI Custom Job, and notifies on Slack when training completes. A training failure retries without re-running the data prep."
      href: "/blueprints"
    - name: "Train, evaluate, deploy"
      blueprintId: "vertex-ai-mlops-pipeline"
      title: "Train, evaluate metrics, and conditionally deploy with human approval"
      description: "Chains training, metric evaluation, a human approval gate, and conditional deployment. Models that fail evaluation never reach deployment. Who approved and when is logged in the execution record."
      href: "/blueprints"
    - name: "Scheduled batch prediction"
      blueprintId: "vertex-ai-batch-prediction"
      title: "Scheduled batch prediction pipeline with BigQuery"
      description: "Exports prediction inputs from BigQuery on a schedule, submits a Vertex AI batch prediction job, waits for completion, and writes outputs back to BigQuery. Step retries stay local."
      href: "/blueprints"

comparison:
  title: "Kestra vs the orchestration alternatives Vertex AI teams evaluate"
  subtitle: "When Vertex AI Pipelines covers in-platform ML orchestration but the workflow around it needs more, here is how Kestra compares."
  competitors:
    - name: "Vertex AI Pipelines"
      logoAsset: "cloud-composer"
    - name: "Cloud Composer"
      logoAsset: "airflow"
    - name: "Prefect"
      logoAsset: "prefect"
  rows:
    - feature: "Trigger training on GCS file arrival"
      kestra: "✓ Native GCS trigger"
      values:
        - "Cloud Functions or Eventarc wiring"
        - "GCS sensor, Python required"
        - "Event polling code"
    - feature: "Human approval gate before deployment"
      kestra: "✓ Native Pause task"
      values:
        - "No approval step, code-based only"
        - "No native approval step"
        - "No native approval step"
    - feature: "Chain BigQuery prep with training"
      kestra: "✓ Native BigQuery + Vertex plugins"
      values:
        - "Custom components required"
        - "Operator chain, Python required"
        - "Python code required"
    - feature: "Conditional deployment on evaluation pass"
      kestra: "✓ If task + conditional branch"
      values:
        - "Custom condition component"
        - "Custom Python operator"
        - "Python code required"
    - feature: "Multimodal completion in pipeline"
      kestra: "✓ MultimodalCompletion task"
      values:
        - "SDK-based, no pipeline step"
        - "Custom operator"
        - "Python code required"
    - feature: "Declarative YAML, IaC-friendly"
      kestra: "✓ YAML + Terraform provider"
      values:
        - "Python SDK, KFP components"
        - "Python DAGs"
        - "Python flows"
    - feature: "Cross-service execution history"
      kestra: "✓ One view across GCP services"
      values:
        - "Vertex-scoped"
        - "Composer-scoped"
        - "Prefect-scoped"

faq:
  - question: "What's the difference between Vertex AI Pipelines and Kestra?"
    answer: "Vertex AI Pipelines chains ML steps using Kubeflow Pipelines components and runs entirely inside GCP. It has no view of the BigQuery export that prepared the data or the human approval step before deployment. Kestra runs above it: triggers <code>io.kestra.plugin.gcp.vertexai.CustomJob</code> when upstream data confirms ready, sequences BigQuery prep before training, pauses for human approval before deployment, and gives one execution history across every GCP service in the pipeline."
  - question: "Can Kestra trigger a Vertex AI training job when a file lands in GCS?"
    answer: "Yes. The <code>io.kestra.plugin.gcp.gcs.Trigger</code> watches a GCS prefix and starts the flow the moment a matching file appears. Kestra can then run BigQuery data prep before submitting the training job, so training always starts on complete, freshly prepared input."
  - question: "How does Kestra add a human approval gate to a Vertex AI deployment?"
    answer: "The <code>io.kestra.plugin.core.flow.Pause</code> task halts the flow after training or evaluation completes. The model metrics and evaluation outputs are visible in the Kestra UI. A reviewer approves or rejects from the UI, and the flow continues to deployment or branches to a failure notification. Who approved and when is logged in the execution record."
  - question: "Can Kestra conditionally deploy a model only if evaluation metrics pass?"
    answer: "Yes. After training, run an evaluation step that outputs the model metrics, then use <code>io.kestra.plugin.core.flow.If</code> to branch on the metric value. Models that pass deploy; models that fail route to a Slack alert. The deployment step retries independently if it fails, without re-running the training job."
  - question: "Is Kestra self-hosted or managed?"
    answer: "Kestra offers fully self-hosted deployment on Docker or Kubernetes, a managed cloud version, and air-gapped options for regulated environments. The open-source edition includes unlimited workflows and event-driven triggers. Self-hosted keeps your pipeline execution and GCP credentials inside your own network."

seeHow:
  title: "Ready to orchestrate your Vertex AI ML pipelines?"
  description: "Trigger training on data arrival, chain with BigQuery and conditional deployment, add human approval gates, and trace every step in one place. Open source, self-hosted, event-driven."
  cta:
    label: "Book a Demo"
    href: "/demo"
