src/contents/orchestration/vmware.yaml
title: "Orchestrate VMware and your virtualization ecosystem with Kestra: VMs, snapshots, events"
description: "VMware powers your virtualization ecosystem. Kestra runs the workflows around it: trigger on VM events, snapshot before patching, gate destructive ops, and chain VMware with Terraform, Ansible, and ServiceNow."

tool:
  name: "VMware"
  pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CreateVm"
  color: "#00B135"

hero:
  title: "Your VMware estate, fully orchestrated."
  description: "Trigger VM tasks from cron, VMware events, webhooks, or any HTTP signal. Snapshot before patching, gate destructive ops with the Pause task, retry only the failed step, and chain VMware with Ansible, Terraform, and ServiceNow in one execution history."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

pillars:
  title: "Above vCenter, around every VM operation."
  subtitle: "What Kestra wraps around vSphere: when actions fire, what gets a snapshot first, who approves a delete, and where the audit lives. Your vCenter and ESXi hosts stay in place. The vRA/vRO catalog gets replaced."
  items:
    - icon: "mdi:lightning-bolt-outline"
      title: "Event triggers on vCenter and ESXi lifecycle"
      description: "The <code>vcenter.Trigger</code> and <code>esxi.Trigger</code> poll the API every minute or two for VM lifecycle events: created, removed, powered off, suspended, failed to power on. Filter by event type and a VM name regex. The payload reaches the flow as <code>trigger.events</code>, so cleanup, alerts, or DR steps run with the right VM in context."
    - icon: "mdi:camera-outline"
      title: "Snapshot-first maintenance with automatic rollback"
      description: "<code>CreateVmSnapshot</code> runs before patches, template refreshes, or risky reconfigurations. <code>RestoreVmFromSnapshot</code> reverts on a failed health check. The snapshot ID flows forward, so every patch run has a rollback target captured per execution."
    - icon: "mdi:transit-connection-variant"
      title: "vCenter clone, Ansible configure, ServiceNow register, in one flow"
      description: "After <code>CloneVm</code> finishes, the VM's IP, hostname, and UUID flow into the next task. <code>ansible-playbook</code> joins the domain and installs agents. ServiceNow gets a new CMDB record. Kestra customer BHP, a Fortune 500 industrial company, runs this exact sequence across its corporate IT and OT (operational technology, the systems running its plants and sites) network zones."
    - icon: "mdi:shield-check-outline"
      title: "Approval gates and self-service forms in front of every destructive action"
      description: "The Pause task suspends the flow before delete, reset, or template conversion. A Kestra App turns the operation into a typed form: dropdowns for the VM, the snapshot, the datastore, the target environment. Operators submit. RBAC controls who can launch what. BHP replaced its vRA self-service catalog with this pattern."
    - icon: "mdi:network-outline"
      title: "Per-zone control plane for multi-domain isolation"
      description: "Kestra runs as a self-hosted control plane inside each OT or IT network zone, with remote workers close to the vSphere endpoint. No external connectivity, no shared control plane across regulated boundaries. BHP deploys this across four OT assets and one IT, each scoped to its own zone."
    - icon: "mdi:history"
      title: "Per-VM, per-event execution history"
      description: "Every operation captures the trigger source, the VM name, the snapshot taken, the operator, and the resulting state. The record is searchable by date, status, or VM. Auditors get evidence by default, attached to the execution that produced it."

useCases:
  title: "How infrastructure teams use VMware and Kestra"
  subtitle: "Patterns vSphere admins and platform teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Full pipeline"
      badgeIcon: "mdi:pipe-disconnected"
      title: "Provision from a vCenter template, configure with Ansible, register in ServiceNow"
      description: "<code>io.kestra.plugin.ee.vmware.vcenter.CloneVm</code> deploys a VM from a golden template. The VM's IP and hostname flow into <code>ansible-playbook</code>, which joins the domain, installs agents, and applies config. ServiceNow gets a new CMDB entry. Slack confirms. BHP runs this pattern across four OT environments and one IT."
      flow:
        - node: "ServiceNow webhook"
          label: "approved ticket"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "Clone from template"
          label: "vCenter"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CloneVm"
        - node: "ansible-playbook"
          label: "configure host"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "ServiceNow"
          label: "CMDB update"
          pluginClass: "io.kestra.plugin.servicenow.Post"
        - node: "notify"
          label: "Slack"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Step-level retries"
          description: "Retry only the failed step. The <code>CloneVm</code> does not re-run when the playbook fails."
        - title: "Outputs flow forward"
          description: "Pass the VM name, IP, and vCenter UUID into the Ansible inventory and the ServiceNow record."
        - title: "Single execution context"
          description: "One execution ID across vCenter, Ansible, and ServiceNow. One UI to debug."
        - title: "CMDB stays in sync"
          description: "Every provision lands a record in ServiceNow with the vCenter metadata attached."
    - badge: "Operations"
      badgeIcon: "mdi:camera-outline"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "<code>CreateVmSnapshot</code> captures the pre-patch state. A Shell or Ansible task runs the OS update over SSH. An HTTP probe checks the application after reboot. On failure, <code>RestoreVmFromSnapshot</code> rolls back automatically and Slack alerts the on-call. The snapshot ID is preserved per execution so the rollback always lands on the right state."
      flow:
        - node: "cron trigger"
          label: "patch window"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "snapshot"
          label: "pre-patch"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CreateVmSnapshot"
        - node: "ssh patch"
          label: "apt / yum upgrade"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "health check"
          label: "HTTP probe"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "rollback on fail"
          label: "restore snapshot"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.RestoreVmFromSnapshot"
        - node: "notify"
          label: "Slack"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Snapshot captured per run"
          description: "<code>snapshotExtId</code> is stored in the execution outputs and reusable downstream."
        - title: "Automatic rollback on health failure"
          description: "An <code>errors</code> branch fires <code>RestoreVmFromSnapshot</code> if the post-patch probe fails."
        - title: "Replayable per VM"
          description: "Re-run the patch on the same VM with the same snapshot from the execution UI."
        - title: "On-call alert with execution link"
          description: "Slack message includes the VM name, snapshot ID, and the URL of the failing execution."
    - badge: "Event-driven"
      badgeIcon: "mdi:lightning-bolt-outline"
      title: "Event-driven cleanup on vCenter VM removal"
      description: "The <code>vcenter.Trigger</code> polls for VM removal events. When a VM disappears from vCenter, a <code>ForEach</code> loops over the events, removes the DNS A record, deletes the Active Directory computer object via PowerShell, and posts a CrowdStrike API call to hide the host. The whole offboarding sequence runs without a human in the loop."
      flow:
        - node: "vCenter Trigger"
          label: "VM_REMOVED"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.Trigger"
        - node: "ForEach event"
          label: "per VM"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "Remove DNS"
          label: "PowerShell"
          pluginClass: "io.kestra.plugin.scripts.powershell.Commands"
        - node: "Remove AD entry"
          label: "PowerShell"
          pluginClass: "io.kestra.plugin.scripts.powershell.Commands"
        - node: "CrowdStrike hide"
          label: "API call"
          pluginClass: "io.kestra.plugin.core.http.Request"
      items:
        - title: "Polling at PT1M or PT2M"
          description: "Sub-minute event detection without a webhook on vCenter."
        - title: "Filter by event type and VM name"
          description: "Match only <code>VmRemovedEvent</code> on names matching a regex (production, staging, test)."
        - title: "Per-event execution"
          description: "Each removed VM gets its own ForEach iteration and its own log line."
        - title: "Idempotent cleanup steps"
          description: "Skip steps that already ran if the DNS or AD entry is already gone."
      signal: "Published as the <code>vm-event-based-cleanup</code> blueprint in the Kestra catalog."
    - badge: "Self-service"
      badgeIcon: "mdi:account-multiple-outline"
      title: "Self-service VM operations behind a Kestra App"
      description: "Replace the vRA service catalog with a typed form. Operators pick the template, datastore, network, and target environment from dropdowns. The same audited flow runs every time: clone, configure, register. RBAC controls who can launch what."
      flow:
        - node: "Kestra App"
          label: "typed form"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "validate inputs"
          label: "RBAC + schema"
          pluginClass: "io.kestra.plugin.core.log.Log"
        - node: "Clone VM"
          label: "from template"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CloneVm"
        - node: "ansible-playbook"
          label: "configure"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "notify"
          label: "Slack + audit"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Typed inputs and dropdowns"
          description: "Form inputs validated before the run. Datastore, network, template all picked from live data."
        - title: "RBAC on who can run what"
          description: "Role-based access on the form itself, not on vCenter console handouts."
        - title: "Same flow, every request"
          description: "Every submission goes through the same audited, retry-aware execution."
          wide: true

quotes:
  - quote: "We eliminated the high cost and risk of VMware vRA. What used to take 6 months now takes 6 days with Kestra!"
    author: "Principal Hosting · BHP"
    storyLink: "/use-cases/stories/securing-hybrid-cloud-automation-across-it-and-ot-with-kestra"
    logoFile: "bhp"
    kpis:
      - value: "-90%"
        name: "Licensing cost vs Aria Automation"
      - value: "30×"
        name: "Faster time to deliver"
      - value: "4+1"
        name: "Isolated platforms (4 OT, 1 IT)"

blueprints:
  title: "Blueprints for VMware orchestration."
  lead: "One blueprint per use case above. Copy the YAML, point it at your vCenter, ship it."
  items:
    - name: "Provision, configure, register"
      title: "Provision from a vCenter template, configure with Ansible, register in ServiceNow"
      description: "<code>CloneVm</code> deploys a VM from a golden template and emits its IP and hostname. <code>ansible-playbook</code> joins the domain and installs agents, with per-step retries. <code>ServiceNow.Post</code> lands a fresh CMDB record. Slack confirms when all three steps succeed."
      href: "/blueprints/vmware-provision-configure-register"
      plugins:
        - "io.kestra.plugin.ee.vmware.vcenter.CloneVm"
        - "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - "io.kestra.plugin.servicenow.Post"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: vmware-provision-configure-register
        namespace: company.platform

        inputs:
          - id: vm_name
            type: STRING
          - id: template_name
            type: STRING
            defaults: "ubuntu-22-04-template"
          - id: environment
            type: SELECT
            values: [dev, staging, production]
            defaults: staging

        tasks:
          - id: clone_vm
            type: io.kestra.plugin.ee.vmware.vcenter.CloneVm
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            datacenter: "datacenter1"
            sourceVmName: "{{ inputs.template_name }}"
            vmName: "{{ inputs.vm_name }}"
            powerOn: true

          - id: ansible_configure
            type: io.kestra.plugin.ansible.cli.AnsibleCLI
            inputFiles:
              inventory.ini: |
                [app]
                {{ inputs.vm_name }} ansible_host={{ outputs.clone_vm.vmIpAddress }} ansible_user=ubuntu
              configure.yml: "{{ read(secret('ANSIBLE_PLAYBOOK')) }}"
            commands:
              - ansible-playbook -i inventory.ini configure.yml --extra-vars "env={{ inputs.environment }}"
            retry:
              type: constant
              interval: PT2M
              maxAttempt: 3

          - id: servicenow_register
            type: io.kestra.plugin.servicenow.Post
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USER') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            clientId: "{{ secret('SERVICENOW_CLIENT_ID') }}"
            clientSecret: "{{ secret('SERVICENOW_CLIENT_SECRET') }}"
            table: cmdb_ci_vmware_instance
            data:
              name: "{{ inputs.vm_name }}"
              ip_address: "{{ outputs.clone_vm.vmIpAddress }}"
              environment: "{{ inputs.environment }}"
              short_description: "Provisioned by Kestra execution {{ execution.id }}"

          - id: notify
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":rocket: {{ inputs.vm_name }} provisioned from {{ inputs.template_name }} ({{ outputs.clone_vm.vmIpAddress }}), configured, and registered in ServiceNow."
              }
    - name: "Snapshot-gated patching"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "Captures a pre-patch snapshot on vCenter, runs the OS update over SSH, probes the application, and restores the snapshot if the probe fails. The snapshot ID is preserved per execution so the rollback always lands on the right state."
      href: "/blueprints/vmware-safe-patching"
      plugins:
        - "io.kestra.plugin.ee.vmware.vcenter.CreateVmSnapshot"
        - "io.kestra.plugin.scripts.shell.Commands"
        - "io.kestra.plugin.core.http.Request"
        - "io.kestra.plugin.ee.vmware.vcenter.RestoreVmFromSnapshot"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: vmware-safe-patching
        namespace: company.infra

        inputs:
          - id: vm_name
            type: STRING
            defaults: "prod-web-01"
          - id: vm_address
            type: STRING

        tasks:
          - id: pre_patch_snapshot
            type: io.kestra.plugin.ee.vmware.vcenter.CreateVmSnapshot
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            datacenter: "datacenter1"
            vmName: "{{ inputs.vm_name }}"
            snapshotName: "pre-patch-{{ execution.startDate | date('yyyyMMdd-HHmm') }}"
            description: "Captured by Kestra execution {{ execution.id }}"

          - id: apply_patches
            type: io.kestra.plugin.scripts.shell.Commands
            commands:
              - ssh -o StrictHostKeyChecking=no ops@{{ inputs.vm_address }} "sudo apt-get update && sudo apt-get -y upgrade && sudo reboot"
            allowFailure: true

          - id: wait_then_probe
            type: io.kestra.plugin.core.http.Request
            uri: "http://{{ inputs.vm_address }}/health"
            method: GET
            options:
              connectTimeout: PT30S
              readTimeout: PT30S
            retry:
              type: constant
              interval: PT30S
              maxAttempt: 10

          - id: notify_success
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":white_check_mark: Patched {{ inputs.vm_name }}, health probe OK."

        errors:
          - id: rollback
            type: io.kestra.plugin.ee.vmware.vcenter.RestoreVmFromSnapshot
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            datacenter: "datacenter1"
            vmName: "{{ inputs.vm_name }}"
            snapshotName: "{{ outputs.pre_patch_snapshot.snapshotName }}"

          - id: notify_oncall
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":alert: Patch failed on {{ inputs.vm_name }}. Rolled back to {{ outputs.pre_patch_snapshot.snapshotName }}. <{{ execution.url }}|View execution>"
    - name: "Event-driven VM cleanup"
      title: "Event-driven cleanup on vCenter VM removal"
      description: "Listens for VM removal events on vCenter, then runs the offboarding sequence: log the event, remove the DNS A record, delete the Active Directory computer object, and notify CrowdStrike to hide the host. Each removed VM gets its own ForEach iteration."
      href: "/blueprints/vm-event-based-cleanup"
      plugins:
        - "io.kestra.plugin.ee.vmware.vcenter.Trigger"
        - "io.kestra.plugin.core.flow.ForEach"
        - "io.kestra.plugin.scripts.powershell.Commands"
        - "io.kestra.plugin.core.http.Request"
      code: |
        id: vm-event-based-cleanup
        namespace: company.team

        triggers:
          - id: vcenter_trigger
            type: io.kestra.plugin.ee.vmware.vcenter.Trigger
            interval: PT1M
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            eventType: VM_REMOVED
            vmNameRegex: "vm-.*"

        tasks:
          - id: foreach_event
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ trigger.events }}"
            tasks:
              - id: log_vm_event
                type: io.kestra.plugin.core.log.Log
                message: "VM {{ json(taskrun.value).vmName }} removed at {{ json(taskrun.value).timestamp }}"

              - id: remove_dns
                type: io.kestra.plugin.scripts.powershell.Commands
                inputFiles:
                  main.ps1: |
                    Remove-DnsServerResourceRecord -ZoneName "company.local" -RRType "A" -Name "{{ json(taskrun.value).vmName }}" -Force -ErrorAction Stop
                    Write-Output "Removed DNS record for {{ json(taskrun.value).vmName }}"
                commands:
                  - ./main.ps1

              - id: remove_ad_entry
                type: io.kestra.plugin.scripts.powershell.Commands
                inputFiles:
                  main.ps1: |
                    Remove-ADComputer -Identity "{{ json(taskrun.value).vmName }}" -Confirm:$false -ErrorAction Stop
                    Write-Output "Deleted AD computer object for VM {{ json(taskrun.value).vmName }}"
                commands:
                  - ./main.ps1

              - id: crowdstrike_hide
                type: io.kestra.plugin.core.http.Request
                uri: "https://api.crowdstrike.com/devices/entities/devices-actions/v2?action_name=hide_host"
                method: POST
                headers:
                  Authorization: "Bearer {{ secret('CROWDSTRIKE_API_TOKEN') }}"
                  Content-Type: "application/json"
                body: |
                  {"ids": ["{{ json(taskrun.value).vmName }}"]}

comparison:
  title: "Kestra vs VMware orchestration alternatives"
  subtitle: "Kestra orchestrates around vCenter and ESXi. It replaces the vRA/vRO automation layer above them. The competitors below are the cloud automation platforms VMware admins actually evaluate."
  competitors:
    - name: "VMware Aria Automation (vRA/vRO)"
      logoAsset: "vmware-cloud-foundation"
    - name: "HPE Morpheus"
      logoAsset: "morpheus"
    - name: "Jenkins + scripts"
      pluginClass: "io.kestra.plugin.jenkins.JobBuild"
  rows:
    - feature: "Workflow language"
      kestra: "✓ Declarative YAML, Git-native, plus polyglot scripts (Python, JS, Bash, Groovy, R)"
      values:
        - "Polyglot vRO actions (JS, PowerShell, Python) with proprietary APIs"
        - "Cypher / Morpheus-specific scripts"
        - "Groovy pipelines"
    - feature: "Event triggers on vCenter / ESXi"
      kestra: "✓ Native polling triggers, regex filter"
      values:
        - "vRO event subscriptions"
        - "Built-in event subscriptions"
        - "Webhook only"
    - feature: "Snapshot-first patching with rollback"
      kestra: "✓ Native, snapshot ID flows forward"
      values:
        - "Custom vRO workflow per pattern"
        - "Built-in policy actions"
        - "Manual via shell + PowerCLI"
    - feature: "Chain with Ansible, Terraform, ServiceNow"
      kestra: "✓ Native, with outputs"
      values:
        - "vRO plugins (limited extensibility)"
        - "Built-in connectors (proprietary)"
        - "Possible, glue scripts required"
    - feature: "Self-service forms with RBAC"
      kestra: "✓ Kestra Apps, typed inputs"
      values:
        - "vRA service catalog"
        - "Built-in self-service catalog"
        - "Parameterized build"
    - feature: "Per-zone control plane (air-gapped, OT)"
      kestra: "✓ Self-hosted per zone"
      values:
        - "Centralized appliance"
        - "Centralized appliance"
        - "Self-hosted"
    - feature: "Licensing model"
      kestra: "Instance + worker-based"
      values:
        - "Per-VM + per-user (Broadcom)"
        - "Per-workload"
        - "Free (build minutes for cloud)"
    - feature: "Orchestrate beyond VMware"
      kestra: "✓ 1300+ plugins, cross-stack"
      values:
        - "VMware-centric, multi-cloud add-ons"
        - "Multi-cloud (proprietary connectors)"
        - "Possible, plugin-dependent"

faq:
  - question: "Does Kestra replace VMware vCenter and ESXi?"
    answer: "No. vCenter and ESXi continue to run your VMs. Kestra calls the vCenter and ESXi APIs through the <code>io.kestra.plugin.ee.vmware</code> plugin to run the operations you used to script: <code>CloneVm</code>, <code>CreateVmSnapshot</code>, <code>RestoreVmFromSnapshot</code>, <code>UpdateVm</code>, and so on. The hypervisor stays where it is. Kestra orchestrates the workflow around it."
  - question: "What about vRealize Automation (vRA) and vRealize Orchestrator (vRO)?"
    answer: "vRA and vRO (now bundled as VMware Aria Automation) sit above vCenter as the automation and self-service layer. That is the layer Kestra replaces. BHP cut licensing cost by 90% and reduced time-to-deliver from 6 months to 6 days by moving off Aria Automation onto Kestra, while keeping vCenter and ESXi exactly as they were. The vRA service catalog becomes Kestra Apps. vRO actions (JavaScript, PowerShell, or Python) become Kestra YAML flows that can still call the same scripts. The hypervisor doesn't move."
  - question: "Does the plugin work with both vCenter-managed clusters and standalone ESXi hosts?"
    answer: "Yes. The plugin ships two task groups: <code>io.kestra.plugin.ee.vmware.vcenter.*</code> for vCenter-managed environments, and <code>io.kestra.plugin.ee.vmware.esxi.*</code> for standalone ESXi hosts. The task names match (CreateVm, StartVm, CreateVmSnapshot, RestoreVmFromSnapshot, and so on), so the same flow shape works against either endpoint. Template and clone operations are vCenter-only."
  - question: "How do the vCenter and ESXi event triggers actually work?"
    answer: "The <code>vcenter.Trigger</code> and <code>esxi.Trigger</code> poll the API on a configurable interval (default PT2M, supports PT1M). They emit events matching a <code>VmEventType</code> (VM_CREATED, VM_REMOVED, VM_POWERED_OFF, VM_SUSPENDED, VM_FAILED_TO_POWER_ON, and others) and a <code>vmNameRegex</code>. The events land in the flow as <code>trigger.events</code>, a list you iterate with <code>ForEach</code>. No webhook setup on vCenter, no extra service running."
  - question: "Can I chain a vCenter clone with Terraform, Ansible, and ServiceNow in one flow?"
    answer: "Yes. Each tool runs as a task in one Kestra flow. <code>CloneVm</code> emits the VM's IP, hostname, and UUID. The next Ansible task templates those into the inventory and runs the playbook. ServiceNow lands the CMDB record. If Ansible fails, Kestra retries only that step, the vCenter clone is not re-run. One execution ID, one audit trail, one place to debug. BHP runs this exact pattern in production."
  - question: "How does Kestra handle vCenter and ESXi credentials?"
    answer: "Credentials come from Kestra's secrets backend (built-in, or HashiCorp Vault, CyberArk, AWS Secrets Manager, GCP Secret Manager) and are injected at task execution time. The plugin accepts <code>username</code> and <code>password</code> as templated strings, typically <code>{{ secret('VMWARE_VCENTER_USERNAME') }}</code> and <code>{{ secret('VMWARE_VCENTER_PASSWORD') }}</code>. Workers can run inside a restricted OT or DMZ network zone so the credentials never leave that boundary."
  - question: "Is the VMware plugin Enterprise-only?"
    answer: "Yes, the <code>io.kestra.plugin.ee.vmware</code> plugin is part of Kestra Enterprise. Kestra Enterprise also includes the Apps layer, RBAC, audit logs, worker isolation, and SSO that infrastructure teams replacing vRA/vRO typically need."
  - question: "Can Kestra run inside an air-gapped, multi-zone OT environment?"
    answer: "Yes. Kestra ships self-hosted on Docker or Kubernetes, runs fully air-gapped, and supports per-zone control planes with remote workers close to each vCenter or ESXi endpoint. BHP deploys this pattern across four OT assets plus one IT, each scoped to its own network zone, with AD-backed authentication, least-privilege RBAC, and logs shipped to the enterprise SIEM."

resources:
  title: "More on VMware and Kestra"
  items:
    - kind: "blog"
      title: "Orchestrate VMware Without the Legacy Automation Layer"
      description: "The VMware plugin end to end: vSphere, vCenter, ESXi lifecycle, snapshots, templates, and event-based triggers."
      href: "/blogs/control-vmware-with-kestra"
      image: "blogs/control-vmware-with-kestra/control-vmware-with-kestra.jpg"
    - kind: "story"
      title: "Securing hybrid cloud automation across IT and OT (BHP)"
      description: "How a Fortune 500 industrial company replaced VMware Aria Automation with Kestra: 90% lower licensing cost, 30× faster delivery, four OT plus one IT control planes."
      href: "/use-cases/stories/securing-hybrid-cloud-automation-across-it-and-ot-with-kestra"
      image: "customer-stories/securing-hybrid-cloud-automation-across-it-and-ot-with-kestra/hero.jpg"
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates VMware, Docker, Terraform, OpenTofu, Ansible, and cloud CLIs in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Hybrid cloud automation: patterns and platforms"
      description: "Where Kestra fits alongside vSphere, AWS, Azure, and GCP for hybrid cloud automation, with platform comparisons."
      href: "/resources/infrastructure/hybrid-cloud-automation"
    - kind: "plugin"
      title: "VMware plugin reference"
      description: "Every vCenter and ESXi task, every event type, every parameter, with copy-ready YAML examples."
      href: "/plugins/plugin-ee-vmware"

seeHow:
  title: "Ready to orchestrate VMware without the legacy automation layer?"
  description: "Keep vCenter and ESXi. Replace vRA/vRO with declarative YAML flows: event triggers, snapshot-gated patching, self-service forms, and one audit trail across VMware, Ansible, Terraform, and ServiceNow."
  cta:
    label: "Book a Demo"
    href: "/demo"
