src/contents/orchestration/vmware.yaml
title: "Orchestrate VMware and your virtualization ecosystem with Kestra: VMs, snapshots, events"
description: "Orchestrate vSphere from one flow: vCenter event triggers, snapshot-gated patching, approval gates, and one audit trail across VMware, Ansible, and ServiceNow."

tool:
  name: "VMware"
  pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CreateVm"
  color: "#00B135"

hero:
  title: "Scale VMware ops without vRA complexity."
  description: "Drive vCenter from cron, vSphere events, webhooks, or any HTTP signal. Snapshot before patching, gate destructive ops with the Pause task, retry only the failed step, and chain VMware with Ansible, Terraform, and ServiceNow in one execution history."
  cta:
    label: "Book a Demo"
    href: "/demo"
  secondaryCta:
    label: "Get Started"
    href: "/get-started"

nutshell: "Replace VMware Aria Automation (vRA/vRO) with a declarative workflow engine that listens to vCenter events, cron, or HTTP signals, handles snapshot-gated change with automatic rollback, and chains <a href='/orchestration/ansible'>Ansible</a>, <a href='/orchestration/servicenow'>ServiceNow</a>, and <a href='/orchestration/terraform'>Terraform</a> in one audited flow. Keep vCenter and ESXi in place; replace the vRA/vRO automation layer above them with declarative YAML, per-zone control planes, and one execution history across the stack."

pillars:
  title: "Above vCenter, around every VM operation."
  subtitle: "What Kestra wraps around vSphere: when actions fire, what gets a snapshot first, who approves a delete, and where the audit lives. Your vCenter and ESXi hosts stay in place. The vRA/vRO catalog gets replaced."
  items:
    - icon: "mdi:lightning-bolt-outline"
      title: "Event triggers on vCenter and ESXi lifecycle"
      description: "The vcenter.Trigger and esxi.Trigger from the <a href='/plugins/plugin-ee-vmware'>VMware plugin</a> poll vSphere every minute or two for VM lifecycle events: created, removed, powered off, suspended, failed to power on. Filter by event type and a VM name regex. The payload reaches the flow as trigger.events, so cleanup, alerts, or DR steps run with the right VM in context."
    - icon: "mdi:camera-outline"
      title: "Snapshot-first maintenance with automatic rollback"
      description: "CreateVmSnapshot runs before patches, template refreshes, or risky reconfigurations. RestoreVmFromSnapshot reverts on a failed health check. The snapshot ID flows forward, so every patch run has a rollback target captured per execution."
    - icon: "mdi:transit-connection-variant"
      title: "vCenter clone, Ansible configure, ServiceNow register, in one flow"
      description: "After CloneVm finishes, the VM's IP, hostname, and UUID flow into the next task. <a href='/orchestration/ansible'>Ansible</a> joins the domain and installs agents. <a href='/orchestration/servicenow'>ServiceNow</a> gets a new CMDB record. One execution ID across the whole chain, retries scoped to the failing step."
    - icon: "mdi:shield-check-outline"
      title: "Approval gates and self-service forms in front of every destructive action"
      description: "The Pause task suspends the flow before delete, reset, or template conversion. A Kestra App turns the operation into a typed form: dropdowns for the VM, the snapshot, the datastore, the target environment. Operators submit. RBAC controls who can launch what. Same shape replaces the vRA self-service catalog."
    - icon: "mdi:network-outline"
      title: "Per-zone control plane for multi-domain isolation"
      description: "Kestra runs as a <a href='/enterprise'>self-hosted control plane</a> inside each network zone, with remote workers close to the vSphere endpoint. No external connectivity, no shared control plane across regulated boundaries. One control plane per zone keeps blast radius contained."
    - icon: "mdi:history"
      title: "Per-VM, per-event execution history"
      description: "Every operation captures the trigger source, the VM name, the snapshot taken, the operator, and the resulting state. The record is searchable by date, status, or VM. Auditors get evidence by default, attached to the execution that produced it."

useCases:
  title: "How infrastructure teams use VMware and Kestra"
  subtitle: "Patterns vSphere admins and platform teams run in production today. Each one shows the flow end to end, with the real plugin classes in play."
  items:
    - badge: "Full pipeline"
      badgeIcon: "mdi:pipe-disconnected"
      title: "Provision from a vCenter template, configure with Ansible, register in ServiceNow"
      description: "vcenter.CloneVm deploys a VM from a golden template. The VM's IP and hostname flow into <a href='/orchestration/ansible'>Ansible</a>, which joins the domain, installs agents, and applies config. <a href='/orchestration/servicenow'>ServiceNow</a> gets a new CMDB entry. <a href='/orchestration/slack'>Slack</a> confirms. One execution ID across the whole chain."
      flow:
        - node: "ServiceNow webhook"
          label: "approved ticket"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "Clone from template"
          label: "vCenter"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CloneVm"
        - node: "ansible-playbook"
          label: "configure host"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "ServiceNow"
          label: "CMDB update"
          pluginClass: "io.kestra.plugin.servicenow.Post"
        - node: "notify"
          label: "Slack"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Step-level retries"
          description: "Retry only the failed step. The CloneVm task does not re-run when the playbook fails."
        - title: "Outputs flow forward"
          description: "Pass the VM name, IP, and vCenter UUID into the Ansible inventory and the ServiceNow record."
        - title: "Single execution context"
          description: "One execution ID across vCenter, Ansible, and ServiceNow. One UI to debug."
        - title: "CMDB stays in sync"
          description: "Every provision lands a record in ServiceNow with the vCenter metadata attached."
    - badge: "Operations"
      badgeIcon: "mdi:camera-outline"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "CreateVmSnapshot captures the pre-patch state. A Shell or <a href='/orchestration/ansible'>Ansible</a> task runs the OS update over SSH. An HTTP probe checks the application after reboot. On failure, RestoreVmFromSnapshot rolls back automatically and <a href='/orchestration/slack'>Slack</a> alerts the on-call. The snapshot ID is preserved per execution so the rollback always lands on the right state."
      flow:
        - node: "cron trigger"
          label: "patch window"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        - node: "snapshot"
          label: "pre-patch"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CreateVmSnapshot"
        - node: "ssh patch"
          label: "apt / yum upgrade"
          pluginClass: "io.kestra.plugin.scripts.shell.Commands"
        - node: "health check"
          label: "HTTP probe"
          pluginClass: "io.kestra.plugin.core.http.Request"
        - node: "rollback on fail"
          label: "restore snapshot"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.RestoreVmFromSnapshot"
        - node: "notify"
          label: "Slack"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Snapshot captured per run"
          description: "The snapshotExtId is stored in the execution outputs and reusable downstream."
        - title: "Automatic rollback on health failure"
          description: "An errors branch fires RestoreVmFromSnapshot if the post-patch probe fails."
        - title: "Replayable per VM"
          description: "Re-run the patch on the same VM with the same snapshot from the execution UI."
        - title: "On-call alert with execution link"
          description: "Slack message includes the VM name, snapshot ID, and the URL of the failing execution."
    - badge: "Event-driven"
      badgeIcon: "mdi:lightning-bolt-outline"
      title: "Event-driven cleanup on vCenter VM removal"
      description: "The vcenter.Trigger polls for VM removal events. When a VM disappears from vCenter, a ForEach loops over the events, removes the DNS A record, deletes the Active Directory computer object via PowerShell, and posts a CrowdStrike API call to hide the host. The whole offboarding sequence runs without a human in the loop."
      flow:
        - node: "vCenter Trigger"
          label: "VM_REMOVED"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.Trigger"
        - node: "ForEach event"
          label: "per VM"
          pluginClass: "io.kestra.plugin.core.flow.ForEach"
        - node: "Remove DNS"
          label: "PowerShell"
          pluginClass: "io.kestra.plugin.scripts.powershell.Commands"
        - node: "Remove AD entry"
          label: "PowerShell"
          pluginClass: "io.kestra.plugin.scripts.powershell.Commands"
        - node: "CrowdStrike hide"
          label: "API call"
          pluginClass: "io.kestra.plugin.core.http.Request"
      items:
        - title: "Polling at PT1M or PT2M"
          description: "Sub-minute event detection without a webhook on vCenter."
        - title: "Filter by event type and VM name"
          description: "Match only VmRemovedEvent on names matching a regex (production, staging, test)."
        - title: "Per-event execution"
          description: "Each removed VM gets its own ForEach iteration and its own log line."
        - title: "Idempotent cleanup steps"
          description: "Skip steps that already ran if the DNS or AD entry is already gone."
      signal: "Published as the vm-event-based-cleanup blueprint in the Kestra catalog."
    - badge: "Self-service"
      badgeIcon: "mdi:account-multiple-outline"
      title: "Self-service VM operations behind a Kestra App"
      description: "Replace the vRA service catalog with a typed form. Operators pick the template, datastore, network, and target environment from dropdowns. The same audited flow runs every time: clone, configure, register. RBAC controls who can launch what."
      flow:
        - node: "Kestra App"
          label: "typed form"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        - node: "validate inputs"
          label: "RBAC + schema"
          pluginClass: "io.kestra.plugin.core.log.Log"
        - node: "Clone VM"
          label: "from template"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CloneVm"
        - node: "ansible-playbook"
          label: "configure"
          pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - node: "notify"
          label: "Slack + audit"
          pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      items:
        - title: "Typed inputs and dropdowns"
          description: "Form inputs validated before the run. Datastore, network, template all picked from live data."
        - title: "RBAC on who can run what"
          description: "Role-based access on the form itself, not on vCenter console handouts."
        - title: "Same flow, every request"
          description: "Every submission goes through the same audited, retry-aware execution."
          wide: true

quotes: []

blueprints:
  title: "Blueprints for VMware orchestration."
  lead: "One blueprint per use case above. Copy the YAML, point it at your vCenter, ship it."
  items:
    - name: "Provision, configure, register"
      title: "Provision from a vCenter template, configure with Ansible, register in ServiceNow"
      description: "CloneVm deploys a VM from a golden template and emits its IP and hostname. <a href='/plugins/plugin-ansible'>ansible-playbook</a> joins the domain and installs agents, with per-step retries. <a href='/plugins/plugin-servicenow'>ServiceNow.Post</a> lands a fresh CMDB record. Slack confirms when all three steps succeed."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "ServiceNow webhook"
          sublabel: "approved provision ticket"
          pluginClass: "io.kestra.plugin.core.trigger.Webhook"
        workflow:
          label: "Provision and register"
          sublabel: "clone, configure, CMDB"
        tools:
          - label: "vCenter clone"
            pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CloneVm"
          - label: "Ansible playbook"
            pluginClass: "io.kestra.plugin.ansible.cli.AnsibleCLI"
          - label: "ServiceNow CMDB"
            pluginClass: "io.kestra.plugin.servicenow.Post"
          - label: "Slack confirm"
            pluginClass: "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
        outcome:
          label: "VM in CMDB"
          sublabel: "configured + audited"
          icon: "mdi:check-circle-outline"
      plugins:
        - "io.kestra.plugin.ee.vmware.vcenter.CloneVm"
        - "io.kestra.plugin.ansible.cli.AnsibleCLI"
        - "io.kestra.plugin.servicenow.Post"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: vmware-provision-configure-register
        namespace: company.platform

        inputs:
          - id: vm_name
            type: STRING
          - id: template_name
            type: STRING
            defaults: "ubuntu-22-04-template"
          - id: environment
            type: SELECT
            values: [dev, staging, production]
            defaults: staging

        tasks:
          - id: clone_vm
            type: io.kestra.plugin.ee.vmware.vcenter.CloneVm
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            datacenter: "datacenter1"
            sourceVmName: "{{ inputs.template_name }}"
            vmName: "{{ inputs.vm_name }}"
            powerOn: true

          - id: ansible_configure
            type: io.kestra.plugin.ansible.cli.AnsibleCLI
            inputFiles:
              inventory.ini: |
                [app]
                {{ inputs.vm_name }} ansible_host={{ outputs.clone_vm.vmIpAddress }} ansible_user=ubuntu
              configure.yml: "{{ read(secret('ANSIBLE_PLAYBOOK')) }}"
            commands:
              - ansible-playbook -i inventory.ini configure.yml --extra-vars "env={{ inputs.environment }}"
            retry:
              type: constant
              interval: PT2M
              maxAttempt: 3

          - id: servicenow_register
            type: io.kestra.plugin.servicenow.Post
            domain: "{{ secret('SERVICENOW_DOMAIN') }}"
            username: "{{ secret('SERVICENOW_USER') }}"
            password: "{{ secret('SERVICENOW_PASSWORD') }}"
            clientId: "{{ secret('SERVICENOW_CLIENT_ID') }}"
            clientSecret: "{{ secret('SERVICENOW_CLIENT_SECRET') }}"
            table: cmdb_ci_vmware_instance
            data:
              name: "{{ inputs.vm_name }}"
              ip_address: "{{ outputs.clone_vm.vmIpAddress }}"
              environment: "{{ inputs.environment }}"
              short_description: "Provisioned by Kestra execution {{ execution.id }}"

          - id: notify
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            payload: |
              {
                "text": ":rocket: {{ inputs.vm_name }} provisioned from {{ inputs.template_name }} ({{ outputs.clone_vm.vmIpAddress }}), configured, and registered in ServiceNow."
              }
    - name: "Snapshot-gated patching"
      title: "Pre-patch snapshot, OS update, rollback on health-check failure"
      description: "Captures a pre-patch snapshot on vCenter, runs the OS update over SSH, probes the application, and restores the snapshot if the probe fails. The snapshot ID is preserved per execution so the rollback always lands on the right state."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "Cron / vCenter event"
          sublabel: "patch window"
          pluginClass: "io.kestra.plugin.core.trigger.Schedule"
        workflow:
          label: "Snapshot-gated patching"
          sublabel: "rollback on failure"
        tools:
          - label: "vCenter snapshot"
            pluginClass: "io.kestra.plugin.ee.vmware.vcenter.CreateVmSnapshot"
          - label: "Shell / SSH"
            pluginClass: "io.kestra.plugin.scripts.shell.Commands"
          - label: "HTTP probe"
            pluginClass: "io.kestra.plugin.core.http.Request"
          - label: "Restore snapshot"
            pluginClass: "io.kestra.plugin.ee.vmware.vcenter.RestoreVmFromSnapshot"
        outcome:
          label: "Patched + audited"
          sublabel: "rollback ready per VM"
          icon: "mdi:shield-check-outline"
      plugins:
        - "io.kestra.plugin.ee.vmware.vcenter.CreateVmSnapshot"
        - "io.kestra.plugin.scripts.shell.Commands"
        - "io.kestra.plugin.core.http.Request"
        - "io.kestra.plugin.ee.vmware.vcenter.RestoreVmFromSnapshot"
        - "io.kestra.plugin.slack.notifications.SlackIncomingWebhook"
      code: |
        id: vmware-safe-patching
        namespace: company.infra

        inputs:
          - id: vm_name
            type: STRING
            defaults: "prod-web-01"
          - id: vm_address
            type: STRING

        tasks:
          - id: pre_patch_snapshot
            type: io.kestra.plugin.ee.vmware.vcenter.CreateVmSnapshot
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            datacenter: "datacenter1"
            vmName: "{{ inputs.vm_name }}"
            snapshotName: "pre-patch-{{ execution.startDate | date('yyyyMMdd-HHmm') }}"
            description: "Captured by Kestra execution {{ execution.id }}"

          - id: apply_patches
            type: io.kestra.plugin.scripts.shell.Commands
            commands:
              - ssh -o StrictHostKeyChecking=no ops@{{ inputs.vm_address }} "sudo apt-get update && sudo apt-get -y upgrade && sudo reboot"
            allowFailure: true

          - id: wait_then_probe
            type: io.kestra.plugin.core.http.Request
            uri: "http://{{ inputs.vm_address }}/health"
            method: GET
            options:
              connectTimeout: PT30S
              readTimeout: PT30S
            retry:
              type: constant
              interval: PT30S
              maxAttempt: 10

          - id: notify_success
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":white_check_mark: Patched {{ inputs.vm_name }}, health probe OK."

        errors:
          - id: rollback
            type: io.kestra.plugin.ee.vmware.vcenter.RestoreVmFromSnapshot
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            datacenter: "datacenter1"
            vmName: "{{ inputs.vm_name }}"
            snapshotName: "{{ outputs.pre_patch_snapshot.snapshotName }}"

          - id: notify_oncall
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            url: "{{ secret('SLACK_WEBHOOK') }}"
            messageText: ":alert: Patch failed on {{ inputs.vm_name }}. Rolled back to {{ outputs.pre_patch_snapshot.snapshotName }}. <{{ execution.url }}|View execution>"
    - name: "Event-driven VM cleanup"
      title: "Event-driven cleanup on vCenter VM removal"
      description: "Listens for VM removal events on vCenter, then runs the offboarding sequence: log the event, remove the DNS A record, delete the Active Directory computer object, and notify CrowdStrike to hide the host. Each removed VM gets its own ForEach iteration."
      href: "/blueprints?tags=Infrastructure"
      flowDiagram:
        source:
          label: "vCenter VM_REMOVED"
          sublabel: "polling trigger"
          pluginClass: "io.kestra.plugin.ee.vmware.vcenter.Trigger"
        workflow:
          label: "Per-VM offboarding"
          sublabel: "fan-out over events"
        tools:
          - label: "ForEach event"
            pluginClass: "io.kestra.plugin.core.flow.ForEach"
          - label: "PowerShell DNS"
            pluginClass: "io.kestra.plugin.scripts.powershell.Commands"
          - label: "PowerShell AD"
            pluginClass: "io.kestra.plugin.scripts.powershell.Commands"
          - label: "CrowdStrike hide"
            pluginClass: "io.kestra.plugin.core.http.Request"
        outcome:
          label: "DNS, AD, EDR cleaned"
          sublabel: "no orphan records"
          icon: "mdi:check-circle-outline"
      plugins:
        - "io.kestra.plugin.ee.vmware.vcenter.Trigger"
        - "io.kestra.plugin.core.flow.ForEach"
        - "io.kestra.plugin.scripts.powershell.Commands"
        - "io.kestra.plugin.core.http.Request"
      code: |
        id: vm-event-based-cleanup
        namespace: company.team

        triggers:
          - id: vcenter_trigger
            type: io.kestra.plugin.ee.vmware.vcenter.Trigger
            interval: PT1M
            server: "vcenter.company.local"
            username: "{{ secret('VMWARE_VCENTER_USERNAME') }}"
            password: "{{ secret('VMWARE_VCENTER_PASSWORD') }}"
            eventType: VM_REMOVED
            vmNameRegex: "vm-.*"

        tasks:
          - id: foreach_event
            type: io.kestra.plugin.core.flow.ForEach
            values: "{{ trigger.events }}"
            tasks:
              - id: log_vm_event
                type: io.kestra.plugin.core.log.Log
                message: "VM {{ json(taskrun.value).vmName }} removed at {{ json(taskrun.value).timestamp }}"

              - id: remove_dns
                type: io.kestra.plugin.scripts.powershell.Commands
                inputFiles:
                  main.ps1: |
                    Remove-DnsServerResourceRecord -ZoneName "company.local" -RRType "A" -Name "{{ json(taskrun.value).vmName }}" -Force -ErrorAction Stop
                    Write-Output "Removed DNS record for {{ json(taskrun.value).vmName }}"
                commands:
                  - ./main.ps1

              - id: remove_ad_entry
                type: io.kestra.plugin.scripts.powershell.Commands
                inputFiles:
                  main.ps1: |
                    Remove-ADComputer -Identity "{{ json(taskrun.value).vmName }}" -Confirm:$false -ErrorAction Stop
                    Write-Output "Deleted AD computer object for VM {{ json(taskrun.value).vmName }}"
                commands:
                  - ./main.ps1

              - id: crowdstrike_hide
                type: io.kestra.plugin.core.http.Request
                uri: "https://api.crowdstrike.com/devices/entities/devices-actions/v2?action_name=hide_host"
                method: POST
                headers:
                  Authorization: "Bearer {{ secret('CROWDSTRIKE_API_TOKEN') }}"
                  Content-Type: "application/json"
                body: |
                  {"ids": ["{{ json(taskrun.value).vmName }}"]}

comparison:
  title: "Kestra vs VMware orchestration alternatives"
  subtitle: "Kestra orchestrates around vCenter and ESXi. It replaces the vRA/vRO automation layer above them. The competitors below are the cloud automation platforms VMware admins actually evaluate."
  competitors:
    - name: "VMware Aria Automation (vRA/vRO)"
      logoAsset: "vmware-cloud-foundation"
    - name: "HPE Morpheus"
      logoAsset: "morpheus"
    - name: "Jenkins + scripts"
      pluginClass: "io.kestra.plugin.jenkins.JobBuild"
  rows:
    - feature: "Workflow language"
      kestra: "✓ Declarative YAML, Git-native, plus polyglot scripts (Python, JS, Bash, Groovy, R)"
      values:
        - "Polyglot vRO actions (JS, PowerShell, Python) with proprietary APIs"
        - "Cypher / Morpheus-specific scripts"
        - "Groovy pipelines"
    - feature: "Event triggers on vCenter / ESXi"
      kestra: "✓ Native polling triggers, regex filter"
      values:
        - "vRO event subscriptions"
        - "Built-in event subscriptions"
        - "Webhook only"
    - feature: "Snapshot-first patching with rollback"
      kestra: "✓ Native, snapshot ID flows forward"
      values:
        - "Custom vRO workflow per pattern"
        - "Built-in policy actions"
        - "Manual via shell + PowerCLI"
    - feature: "Chain with Ansible, Terraform, ServiceNow"
      kestra: "✓ Native, with outputs"
      values:
        - "vRO plugins (limited extensibility)"
        - "Built-in connectors (proprietary)"
        - "Possible, glue scripts required"
    - feature: "Self-service forms with RBAC"
      kestra: "✓ Kestra Apps, typed inputs"
      values:
        - "vRA service catalog"
        - "Built-in self-service catalog"
        - "Parameterized build"
    - feature: "Per-zone control plane (air-gapped, OT)"
      kestra: "✓ Self-hosted per zone"
      values:
        - "Centralized appliance"
        - "Centralized appliance"
        - "Self-hosted"
    - feature: "Licensing model"
      kestra: "Instance + worker-based"
      values:
        - "Per-VM + per-user (Broadcom)"
        - "Per-workload"
        - "Free (build minutes for cloud)"
    - feature: "Orchestrate beyond VMware"
      kestra: "✓ 1300+ plugins, cross-stack"
      values:
        - "VMware-centric, multi-cloud add-ons"
        - "Multi-cloud (proprietary connectors)"
        - "Possible, plugin-dependent"

postCompareCta:
  eyebrow: "Deeper comparison"
  title: "Kestra vs VMware Aria Automation (vRA/vRO)"
  description: "Side-by-side breakdown across vSphere lifecycle, multi-cloud reach, self-service catalogs, and developer ergonomics."
  cta:
    label: "See the full comparison"
    href: "/vs/vmware-cloud-foundation"

faq:
  - question: "Does Kestra replace VMware vCenter and ESXi?"
    answer: "No. vCenter and ESXi continue to run your VMs. Kestra calls the vCenter and ESXi APIs through the <a href='/plugins/plugin-ee-vmware'>VMware plugin</a> to run the operations you used to script: CloneVm, CreateVmSnapshot, RestoreVmFromSnapshot, UpdateVm, and so on. The hypervisor stays where it is. Kestra orchestrates the workflow around it."
  - question: "What about vRealize Automation (vRA) and vRealize Orchestrator (vRO)?"
    answer: "vRA and vRO (now bundled as VMware Aria Automation) sit above vCenter as the automation and self-service layer. That is the layer Kestra replaces. The vRA service catalog becomes Kestra Apps with typed inputs and RBAC. vRO actions (JavaScript, PowerShell, or Python) become Kestra YAML flows that can still call the same scripts. vCenter and ESXi stay where they are."
  - question: "Does the plugin work with both vCenter-managed clusters and standalone ESXi hosts?"
    answer: "Yes. The plugin ships two task groups: io.kestra.plugin.ee.vmware.vcenter.* for vCenter-managed environments, and io.kestra.plugin.ee.vmware.esxi.* for standalone ESXi hosts. The task names match (CreateVm, StartVm, CreateVmSnapshot, RestoreVmFromSnapshot, and so on), so the same flow shape works against either endpoint. Template and clone operations are vCenter-only."
  - question: "How do the vCenter and ESXi event triggers actually work?"
    answer: "The vcenter.Trigger and esxi.Trigger poll the API on a configurable interval (default PT2M, supports PT1M). They emit events matching a VmEventType (VM_CREATED, VM_REMOVED, VM_POWERED_OFF, VM_SUSPENDED, VM_FAILED_TO_POWER_ON, and others) and a vmNameRegex. The events land in the flow as trigger.events, a list you iterate with ForEach. No webhook setup on vCenter, no extra service running."
  - question: "Can I chain a vCenter clone with Terraform, Ansible, and ServiceNow in one flow?"
    answer: "Yes. Each tool runs as a task in one Kestra flow. CloneVm emits the VM's IP, hostname, and UUID. The next <a href='/orchestration/ansible'>Ansible</a> task templates those into the inventory and runs the playbook. <a href='/orchestration/servicenow'>ServiceNow</a> lands the CMDB record. If Ansible fails, Kestra retries only that step, the vCenter clone is not re-run. One execution ID, one audit trail, one place to debug."
  - question: "How does Kestra handle vCenter and ESXi credentials?"
    answer: "Credentials come from Kestra's secrets backend (built-in, or HashiCorp Vault, CyberArk, AWS Secrets Manager, GCP Secret Manager) and are injected at task execution time. The plugin accepts username and password as templated strings, typically rendered with the secret() function from VMWARE_VCENTER_USERNAME and VMWARE_VCENTER_PASSWORD. Workers can run inside a restricted OT or DMZ network zone so the credentials never leave that boundary."
  - question: "Is the VMware plugin Enterprise-only?"
    answer: "Yes, the io.kestra.plugin.ee.vmware plugin is part of <a href='/enterprise'>Kestra Enterprise</a>. Kestra Enterprise also includes the Apps layer, RBAC, audit logs, worker isolation, and SSO that infrastructure teams replacing vRA/vRO typically need. See <a href='/infra-automation'>Kestra for infrastructure automation</a> for the broader picture across <a href='/orchestration/terraform'>Terraform</a>, <a href='/orchestration/ansible'>Ansible</a>, and cloud APIs."
  - question: "Can Kestra run inside an air-gapped, multi-zone OT environment?"
    answer: "Yes. Kestra ships self-hosted on Docker or <a href='/orchestration/kubernetes'>Kubernetes</a>, runs fully air-gapped, and supports per-zone control planes with remote workers close to each vCenter or ESXi endpoint. AD-backed authentication, least-privilege RBAC, and log shipping to the enterprise SIEM are all supported with no external dependency on Kestra's infrastructure."

resources:
  title: "More on VMware and Kestra"
  items:
    - kind: "blog"
      title: "Orchestrate VMware Without the Legacy Automation Layer"
      description: "The VMware plugin end to end: vSphere, vCenter, ESXi lifecycle, snapshots, templates, and event-based triggers."
      href: "/blogs/control-vmware-with-kestra"
      image: "blogs/control-vmware-with-kestra/control-vmware-with-kestra.jpg"
    - kind: "docs"
      title: "Automate infrastructure workflows in Kestra"
      description: "How Kestra orchestrates VMware, Docker, Terraform, OpenTofu, Ansible, and cloud CLIs in one declarative flow."
      href: "/docs/use-cases/infrastructure"
    - kind: "resource"
      title: "Hybrid cloud automation: patterns and platforms"
      description: "Where Kestra fits alongside vSphere, AWS, Azure, and GCP for hybrid cloud automation, with platform comparisons."
      href: "/resources/infrastructure/hybrid-cloud-automation"
    - kind: "plugin"
      title: "VMware plugin reference"
      description: "Every vCenter and ESXi task, every event type, every parameter, with copy-ready YAML examples."
      href: "/plugins/plugin-ee-vmware"

seeHow:
  title: "Ready to orchestrate VMware without the legacy automation layer?"
  description: "Keep vCenter and ESXi. Replace vRA/vRO with declarative YAML flows: event triggers, snapshot-gated patching, self-service forms, and one audit trail across VMware, Ansible, Terraform, and ServiceNow."
  cta:
    label: "Book a Demo"
    href: "/demo"
